<div class="wfx_viewOption">
    <div class="view-gallery">
        <app-wfx-slider #sliderRef [jsonData]=sliderJsonData [jsonDef]=sliderJsonDef (SliderValueChange)=onChange($event)>
        </app-wfx-slider>
        <a (click)="galleryViewClick(sliderRef)" [ngClass]="{'wfx_viewOptionSelected': galleyviewActive, 'wfx_viewOptionUnSelected': !galleyviewActive}">
            <svg width="16" height="16" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="0.5" y="0.5" width="3.66667" height="3.66667" stroke="#4A4A4A"/>
                <rect x="7.83325" y="0.5" width="3.66667" height="3.66667" stroke="#4A4A4A"/>
                <rect x="0.5" y="7.83334" width="3.66667" height="3.66667" stroke="#4A4A4A"/>
                <rect x="7.83325" y="7.83334" width="3.66667" height="3.66667" stroke="#4A4A4A"/>
                </svg>

        </a>
    </div>
    <!-- <a (click)="listViewClick()">
        <svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <line x1="0.5" y1="0.5" x2="11.5" y2="0.5" stroke="#4A4A4A" stroke-linecap="round" stroke-linejoin="bevel"/>
                <line x1="0.5" y1="9.5" x2="11.5" y2="9.5" stroke="#4A4A4A" stroke-linecap="round" stroke-linejoin="bevel"/>
                <line x1="0.5" y1="5" x2="11.5" y2="5" stroke="#4A4A4A" stroke-linecap="round" stroke-linejoin="bevel"/>
                </svg>
    </a> -->

    <div class="view-table">
        <a (click)="tableViewClick(sliderRef)" 
        [ngClass]="{'wfx_viewOptionSelected': !galleyviewActive, 'wfx_viewOptionUnSelected': galleyviewActive}">
            <svg width="16" height="16" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M10.8747 12.119C10.2483 12.119 2.10509 12.119 2.10509 12.119C1.41355 12.119 0.852295 11.5704 0.852295 10.8945V1.71014C0.852295 1.03418 1.41355 0.485565 2.10509 0.485565H10.8747C11.5662 0.485565 12.1275 1.03418 12.1275 1.71014C12.1275 2.38611 12.1275 10.2822 12.1275 10.8945C12.1275 11.5068 11.5011 12.119 10.8747 12.119Z" stroke="#4A4A4A" stroke-width="0.7" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M0.852295 4.1593H12.1275" stroke="#4A4A4A" stroke-width="0.7" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M0.852295 8.44531H12.1275" stroke="#4A4A4A" stroke-width="0.7" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M8.36907 0.485565V12.119" stroke="#4A4A4A" stroke-width="0.7" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M4.6106 0.485565V12.119" stroke="#4A4A4A" stroke-width="0.7" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>

        </a>
        <!-- <span class="viewshort" *ngIf="!viewOptionsVisible">
                <app-wfxselect #select [ParentComponent]="componentObject" 
                (OnChange)="onSearch($event)"
                [selectOptionList]="filterName"  [itemJsonDef]="wfxSavedSearchSelectJsonDef" 
                ></app-wfxselect>
            </span> -->
        <span class="viewshort">
        <app-wfxlabel #lbl [ParentComponent]="componentObject"  [itemJsonDef]="wfxLabelitemJsonDef" 
        [(sectionJsonData)]="wfxlabeljsonData"></app-wfxlabel>
        <!-- <mat-select (selectionChange)="onViewTypeChange($event);" [style.height]="viewOptionDropdownHeight"
        [style.width]="viewOptionDropdownWidth"
         [value]="jsonData.selectedItemView">
        <mat-option *ngFor="let option of jsonData.arrItemsViewOptionData" 
        [value]="option.Code">
            {{ option.Text }}
        </mat-option>
    </mat-select> -->
    </span>
        <span class="viewshort" >
        <app-wfxselect *ngIf="galleyviewActive" #select [ParentComponent]="componentObject" 
        (sectionJsonDataChange)="onViewTypeChange($event)" (OnOpenedChange)="onOpenList($event)"
        [selectOptionList]="ddlOptionData"  [itemJsonDef]="wfxSelectJsonDef" 
        [sectionJsonData]="wfxSelectJsonData" (action)="onRemove($event);"  
        (OnChange)="onDdlSelect($event)"  ></app-wfxselect>

        <app-wfxselect *ngIf="!galleyviewActive"  #select [ParentComponent]="componentObject" 
        (sectionJsonDataChange)="onViewTypeChange($event)"
        [selectOptionList]="jsonData.arrItemsViewOptionData"  [itemJsonDef]="wfxSelectJsonDef" 
        [sectionJsonData]="wfxSelectJsonData"></app-wfxselect>
    </span>

    </div>

</div>