<div *ngIf="itemGlobal.currentSelectedTab.Code === 'LIBRARY'">
    <div id="comment" class="message-count-Wrapper" (click)="onCommentClick();" *ngIf="itemGlobal.arrSelectedItemId.length==1">
        <!-- <app-wfxlinkbutton (Onclick)="onCommentClick();" [itemJsonDef]="wfxLinkButtonJsonDef"  
            [(sectionJsonData)]="wfxLinkButtonjsonData"></app-wfxlinkbutton> -->

        <svg [style.height]="height" viewBox="0 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <title>{{tooltip}}</title>
            <g id="svgComment" fill="none">
                <path
                    d="M 10.2286 4.45043C 10.2286 6.90783 7.93915 8.9004 5.11429 8.9004C 4.48367 8.9004 3.88019 8.80127 3.32251 8.61961L 1.19676 9.88L 1.53429 7.6283C 0.587031 6.82055 0 5.69502 0 4.45043C 0 1.99209 2.28942 0 5.11429 0C 7.93915 0 10.2286 1.99209 10.2286 4.45043Z"
                    stroke-width="0.7" stroke-linejoin="round" transform="translate(0.651428 1)" stroke="#9B9B9B" />
            </g>
        </svg>
       
    </div>
    <div  class="message-count-Wrapper"  *ngIf="itemGlobal.arrSelectedItemId.length==1" >
            <a class="message-count" (click)="onCommentClick();" *ngIf="itemGlobal.currentView==='GALLERY'" >{{jsonData}}</a>
    </div>
   
</div>