<div class="sorting-container" *ngIf="visible">
    <div class="sorting">
        <!-- <i [class]="icon" (click)="changeIcon()" aria-hidden="true"></i>  -->

        <div *ngIf="isSortVisible">
            <div class="sort-label">{{label}}</div>
            <div class="sort-icon" *ngIf="sortDirectionEnable">
                <div *ngIf="selectedSortDirection && selectedSortDirection.toUpperCase() ==='ASC'">

                    <svg (click)="onOrderTypeChange(descending);" width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <title>{{ascendingArrow}}</title> 
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M13.4768 1.58923C13.0225 1.88129 12.7399 2.53591 12.2755 2.53591C12.0434 2.53591 11.8516 2.33449 11.8516 2.04243C11.8516 1.8108 12.1443 1.58923 12.2856 1.45831L13.3051 0.441135C13.8603 -0.112772 13.9411 -0.173198 14.5367 0.420993L15.5865 1.47845C15.8186 1.70001 16.2123 2.00214 15.859 2.39492C15.6874 2.58626 15.4048 2.59634 15.1827 2.3647L14.3852 1.58923C14.3852 1.90143 14.4155 12.5868 14.3751 12.8084C14.2641 13.322 13.5777 13.2515 13.4868 12.8386C13.4465 12.6875 13.4768 12.2947 13.4768 12.1135V1.58923Z" fill="#9B9B9B"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 12.3654C0 12.033 0.201887 11.8316 0.454245 11.8316H9.9934C10.7606 11.8316 10.7404 12.7783 9.95302 12.7783H0.666227C0.373491 12.7783 0 12.6776 0 12.3654Z" fill="#9B9B9B"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2.53376 9.06194H10.1247C10.6799 9.06194 10.6799 9.9784 10.1247 9.9784H2.4631C2.23093 9.9784 2.03913 9.70648 2.05932 9.49499C2.06942 9.24322 2.2713 9.06194 2.53376 9.06194Z" fill="#9B9B9B"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M4.11816 6.74559C4.11816 6.5341 4.28977 6.29239 4.50175 6.29239H10.1647C10.6391 6.29239 10.7501 7.19878 10.0536 7.19878H4.57241C4.35033 7.19878 4.11816 6.97722 4.11816 6.74559Z" fill="#9B9B9B"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.18823 4.00635C6.18823 3.70422 6.32955 3.48266 6.68286 3.48266H9.9938C10.7812 3.48266 10.6297 4.30848 10.226 4.38905C9.97361 4.4394 9.70106 4.39912 9.42852 4.39912C9.2771 4.39912 9.22663 4.41926 9.14587 4.41926L8.72191 4.39912C8.5705 4.39912 8.53012 4.41926 8.43927 4.41926L8.01531 4.39912C7.87399 4.39912 7.82352 4.41926 7.73267 4.41926L7.3188 4.39912C7.14719 4.39912 7.10682 4.42933 6.97559 4.41926C6.73333 4.39912 6.18823 4.42933 6.18823 4.00635Z" fill="#9B9B9B"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M8.43823 0.92452C8.43823 0.592176 8.69059 0.43104 9.00352 0.43104C9.44767 0.43104 10.1745 0.350471 10.3965 0.551892C10.7196 0.833881 10.4975 1.33743 10.1644 1.33743H8.83191C8.63002 1.33743 8.43823 1.1058 8.43823 0.92452Z" fill="#9B9B9B"/>
                        </svg>






                </div>
                <div *ngIf="selectedSortDirection && selectedSortDirection.toUpperCase() ==='DESC'">

                    <svg (click)="onOrderTypeChange(ascending);" width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <title>{{descendingArrow}}</title>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M13.4768 11.5818C13.0225 11.2898 12.7399 10.6352 12.2755 10.6352C12.0434 10.6352 11.8516 10.8366 11.8516 11.1287C11.8516 11.3603 12.1443 11.5818 12.2856 11.7128L13.3051 12.7299C13.8603 13.2839 13.9411 13.3443 14.5367 12.7501L15.5865 11.6926C15.8186 11.4711 16.2123 11.1689 15.859 10.7762C15.6874 10.5848 15.4048 10.5747 15.1827 10.8064L14.3852 11.5818C14.3852 11.2696 14.4155 0.584284 14.3751 0.362721C14.2641 -0.150902 13.5777 -0.0804044 13.4868 0.332508C13.4465 0.483573 13.4768 0.876344 13.4768 1.05762V11.5818Z" fill="#9B9B9B"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0.805704C0 1.13805 0.201887 1.33947 0.454245 1.33947H9.9934C10.7606 1.33947 10.7404 0.392792 9.95302 0.392792H0.666227C0.373491 0.392792 0 0.493502 0 0.805704Z" fill="#9B9B9B"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2.53376 4.10914H10.1247C10.6799 4.10914 10.6799 3.19268 10.1247 3.19268H2.4631C2.23093 3.19268 2.03913 3.4646 2.05932 3.67609C2.06942 3.92787 2.2713 4.10914 2.53376 4.10914Z" fill="#9B9B9B"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M4.11816 6.42549C4.11816 6.63699 4.28977 6.87869 4.50175 6.87869H10.1647C10.6391 6.87869 10.7501 5.9723 10.0536 5.9723H4.57241C4.35033 5.9723 4.11816 6.19386 4.11816 6.42549Z" fill="#9B9B9B"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.18823 9.16473C6.18823 9.46686 6.32955 9.68843 6.68286 9.68843H9.9938C10.7812 9.68843 10.6297 8.8626 10.226 8.78203C9.97361 8.73168 9.70106 8.77196 9.42852 8.77196C9.2771 8.77196 9.22663 8.75182 9.14587 8.75182L8.72191 8.77196C8.5705 8.77196 8.53012 8.75182 8.43927 8.75182L8.01531 8.77196C7.87399 8.77196 7.82352 8.75182 7.73267 8.75182L7.3188 8.77196C7.14719 8.77196 7.10682 8.74175 6.97559 8.75182C6.73333 8.77196 6.18823 8.74175 6.18823 9.16473Z" fill="#9B9B9B"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M8.43823 12.2466C8.43823 12.5789 8.69059 12.74 9.00352 12.74C9.44767 12.74 10.1745 12.8206 10.3965 12.6192C10.7196 12.3372 10.4975 11.8336 10.1644 11.8336H8.83191C8.63002 11.8336 8.43823 12.0653 8.43823 12.2466Z" fill="#9B9B9B"/>
                        </svg>


                </div>
            </div>
            <!-- <mat-select *ngIf="jsonData" placeholder="jsonDef.placeholder" (selectionChange)="onSortTypeChange($event.source.value);"
            [value]="jsonData.selectedSortType" [disabled]="disable">
            <mat-option *ngFor="let sortType of jsonData.sortOptions" [value]="sortType.Code">
                {{ sortType.Text }}
            </mat-option>
        </mat-select> -->
            <div class="sort-select">
                <app-wfxselect *ngIf="jsonData" [selectOptionList]="jsonData.sortOptions" [ParentComponent]="sort" [itemJsonDef]="itemJsonDef[0]" (OnChange)="onSortTypeChange($event.value)" [sectionJsonData]="wfxSelectJsonData">
                </app-wfxselect>
            </div>
        </div>
    </div>
</div>