<!-- <app-wfx-titlebar (addBtnClick)="onaddBtnClick($event)" [jsonData]="titleBarJsonData" [jsonDef]="titleBarJsonDef"
(commentClick)="OnCommentClick()" (breadCrumbClick)="Onclickbreadcrimb($event)"></app-wfx-titlebar> -->

<app-wfx-titlebar [addBtnJsonDef]="addButtonJsonDef"></app-wfx-titlebar>