<div class="PublishPopup">
    <div>
        <span class="publishSpan">Publish Article</span>
        <button class="floatRight" (click)="onClosePopup()">Close</button>
    </div>
    <div class="dropDownDiv">
        <span class="dropDownDivSpan">Select Company's you want to publish the Article(s) to: </span>
        <button class="floatRight">Publish</button>
        <div>
            <button type="button" aria-haspopup="true"  class="ui-multiselect" (click)="OnbtnCompanySelct()"
            tabindex="0" style="width: 100%; height: 28px;">
            <span class="ui-icon ui-icon-triangle-2-n-s floatRight"></span>
            <span class="ui-multiselect-text" title="1 record(s) selected " 
            style="width: 78%;">1 record(s) selected </span>
            </button>
        </div>
    </div>
    <ul>
        <!-- <li *ngFor="let item of items; let i = index">
          {{i}} {{item}}
        </li> -->
      </ul>
</div>