<div class="container-fluid select" style="overflow: hidden;" >
    <div class="row">
        <div class="col-lg pull-right asset-filter-wrapper">

            <div #divscroll class="widgetcont" id="filterList" style="white-space: nowrap;" [style.height]="(filterDefinitionHeight) +'px'">
                <div class="asset-filter-type" [class.active-filter]="arrFilterSubType.length > 0 && filtertype.fieldId === actveFilter"  (click)="onFilterExpand(filtertype);" *ngFor="let filtertype of filter.arrFilterType">
                    <app-wfx-filterlist class="wfx-filterlist" [filtertype]="filtertype" (textAreaInput)="onTextAreaInput($event)"></app-wfx-filterlist>
                </div>
            </div>
            <div class="row button-toggle">
                <app-wfxslidetoggle [itemJsonDef]="wfxslidetoggleJsonDef" (sectionJsonDataChange)="OnSliderToggleChange($event)" [(sectionJsonData)]="wfxslidetogglejsonData"></app-wfxslidetoggle>
            </div>
            <div class="row button-bottom">
                <div class="col button-filter">
                    <button class="button-apply" mat-raised-button color="primary" (click)="onApplyFilter();">Apply
                        Filters</button>
                    <div class="clear-filter">
                        <a (click)="onClearClick()">Clear All Filters</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="asset-type-filters widgetcont" *ngIf="arrFilterSubType.length > 0">
            <div *ngIf="selectedFilterType.controlType==='DATE'">
                <jqxCalendar [showFooter]="true" (render)="onCreateRange(selectedFilterType)" [auto-create]="true" (onChange)="onRangeChange($event, selectedFilterType);" [width]="130" [height]="320" [selectionMode]="'range'" #calendarReference>
                </jqxCalendar>
            </div>
            <div *ngIf="selectedFilterType.controlType==='MULTISELECT' || selectedFilterType.controlType==='CHECKBOX'">
                <app-wfxlist id="ddlSelect" [selectOptionList]="arrFilterSubType" [ParentComponent]="filter" [itemJsonDef]="itemJsonDef[0]" (sectionJsonDataChange)="onCheckBoxChanged($event)" (labelClick)="onSelectAction($event)"></app-wfxlist>
            </div>
        </div>
    </div>
</div>