<!-- <app-wfx-leftpanel></app-wfx-leftpanel> -->

<!-- <div id="content-container">
    <app-wfx-toppanel></app-wfx-toppanel>
    <app-wfx-contentpanel></app-wfx-contentpanel>
    <app-wfx-bottompanel></app-wfx-bottompanel>
</div>

<app-wfx-rightpanel></app-wfx-rightpanel> -->

<div class="container-fluid">
    <div>
        <div>
            <mat-drawer-container autosize>
                <mat-drawer [@slideLeftAnimation]="floatingLeftPanel.opened?'open':'close'" #floatingLeftPanel class="dashboard-sidenav" mode="side" position="start" opened="false">
                    <div class="col-lg-12 no-padding">
                        Left Panel Opens here!!!!
                        <app-wfx-leftpanel></app-wfx-leftpanel>
                    </div>
                </mat-drawer>
                <mat-drawer-content>
                    <div>
                        <app-wfx-toppanel></app-wfx-toppanel>
                        <app-wfx-contentpanel> </app-wfx-contentpanel>
                    </div>
                </mat-drawer-content>
                <mat-drawer [@slideRightAnimation]="floatingRightPanel.opened?'open':'close'" #floatingRightPanel class="dashboard-sidenav" mode="side" position="end" opened="false">

                    <div class="col-lg-12 no-padding">
                        <div class="row">
                            <div class="col-lg-12 side-padding">
                                <a class="remove-icon" color="primary" mat-icon-button (click)="onRemoveicon();">
                                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M9.46045 21.4355H16.0298V22.6768H9.46045V29.2158H8.21924V22.6768H1.68018V21.4355H8.21924V14.8662H9.46045V21.4355Z"
                                            transform="translate(15.6985 -16) rotate(45)" fill="#4A4A4A" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <app-wfx-rightpanel ></app-wfx-rightpanel>
                    </div>
                </mat-drawer>
            </mat-drawer-container>
        </div>
    </div>
</div>

<app-wfx-bottompanel></app-wfx-bottompanel>