<div *ngIf="itemGlobal.currentSelectedTab.Code === 'LIBRARY'" class="sub-content-container">

    <!-- <app-wfx-contenttoppanel></app-wfx-contenttoppanel>
<app-wfx-contentleftnav></app-wfx-contentleftnav> -->
    <app-wfx-view-toolbar (advanceSearchClick)="onAdvanceSearchClick($event);" (viewOptionClick)="onViewoptionClick($event)" (viewDdlChange)="onDdlChange($event)"></app-wfx-view-toolbar>
    <div>
        <!-- <app-wfx-gallery-view (cardClick)="onCardClick($event)" [(filter)]="filter"></app-wfx-gallery-view> -->
        <!-- <app-wfx-gallery-view *ngIf="itemGlobal.currentView.toString() === 'GALLERY'" [(filter)]="filter"></app-wfx-gallery-view> -->
        <app-wfx-gallery-view *ngIf="type === 'galleryview'" [(filter)]="filter"></app-wfx-gallery-view>
        <app-wfx-tableview *ngIf="type === 'tableview'" [optionType]="optionType"></app-wfx-tableview>
    </div>

    <!-- <app-wfx-contentrightnav></app-wfx-contentrightnav>
<app-wfx-contentrightpanel></app-wfx-contentrightpanel>
<app-wfx-contentbottompanel></app-wfx-contentbottompanel> -->
</div>

<div *ngIf="itemGlobal.currentSelectedTab.Code === 'COSTING'" class="sub-content-container">
    <app-wfx-view-toolbar (viewDdlChange)="onDdlChange($event)"></app-wfx-view-toolbar>
    <app-wfxplmcostsheet></app-wfxplmcostsheet>
</div>
