<div id="tblItem" class="grid-Wrapper">
    <app-wfxspinner *ngIf="isSpinnerLoading"></app-wfxspinner>
  <app-wfxgrid [gridHeight]="viewInnerHeight" [gridProperties]="{id: 'myGrid'}"
  [columnDefs]="columnDefs"
  [rowModelType]="rowModelType" [animateRows]="true"
  [rowData]="itemGlobal.arrTableRowData"
  (gridReady)="onGridReady($event)" [rowSelection]="rowSelection"
  (sortChanged)="OnSortChanged($event)"
  (filterModified)="OnFilterModified($event)"
  [deltaColumnMode]="true" (selectionChanged)="onSelectionChanged($event)"
  [showCustomOverlayNoRowsTemplate]="overlayNoRowsTemplate"
  [floatingFilter]="floatingFilter"
  [sideBar]="sideBar" [ParentComponent]="componentObject"
  [colDef] = "columnDefs" [enablePivot]="false"
  [enableRowGroup]="false" [dataKeyField]="'article_code'">
  </app-wfxgrid>
</div>

<!-- <div id="tblItem">
  <ag-grid-angular #agGrid style="width: 100%;" [style.height]="viewInnerHeight"
  id="myGrid" class="wfxgrid ag-theme-balham"
  [columnDefs]="columnDefs" [defaultColDef]="defaultColDef"
  [rowModelType]="rowModelType" [animateRows]="true"
  [rowData]="itemGlobal.arrTableRowData"
  (gridReady)="onGridReady($event)" [rowSelection]="rowSelection"
  (sortChanged)="OnSortChanged($event)"
  (filterModified)="OnFilterModified($event)"
  [deltaColumnMode]="true" (selectionChanged)="onSelectionChanged($event)"
  [overlayNoRowsTemplate]="overlayNoRowsTemplate"
  [floatingFilter]="floatingFilter"
  [sideBar]="sideBar">
</ag-grid-angular>
</div> -->

<!-- <ag-grid-angular style="width: 100%;" [style.height]="gridHeight + 'px'"
id="commonGrid" class="wfxgrid ag-theme-balham"
[columnDefs]="columnDefs" [defaultColDef]="defaultColDef"
[rowModelType]="rowModelType" [animateRows]="animateRows"
[rowData]="rowData"
(gridReady)="onGridReady($event)" [rowSelection]="rowSelection"
(sortChanged)="OnSortChanged($event)"
(filterModified)="OnFilterModified($event)"
[deltaColumnMode]="deltaColumnMode" (selectionChanged)="onSelectionChanged($event)"
[overlayNoRowsTemplate]="overlayNoRowsTemplate"
[floatingFilter]="floatingFilter"
[sideBar]="sideBar">
</ag-grid-angular> -->









<!-- <ag-grid-angular
#agGrid
id="myGrid"
style="width: 1700px; height: 480px;"
class="wfxgrid ag-theme-balham"
[rowData]="rowData"
[columnDefs]="itemGlobal.arrTableColumnDefinition"
[defaultColDef]="defaultColDef"
[rowModelType]="rowModelType"
[animateRows]="true"
[debug]="true"
[paginationPageSize]="paginationPageSize"

[maxConcurrentDatasourceRequests]="maxConcurrentDatasourceRequests"
[infiniteInitialRowCount]="infiniteInitialRowCount"

[getRowNodeId]="getRowNodeId"
[components]="components"

[editType]="editType"
(gridReady)="onGridReady($event)"
>

</ag-grid-angular> -->

<!-- <div id="tblItem">
  <app-wfxgrid #gridEmployee [gridHeight]="viewInnerHeight" [gridProperties]="{id: 'catalogTbl'}"
  [ddlLoading]="ddlLoading"
  [suppressLoadingOverlay]="false" [ParentComponent]="componentObject" [dataKeyField]="'article_code'"
  [columnDefs]="itemGlobal.arrTableColumnDefinition" [gridApi]="gridApi"
  [rowData]="itemGlobal.arrTableRowData"
  [gridColumnApi]="gridColumnApi"
  (gridReady)="OnGridReady($event)" [rowSelection]="'multiple'" [floatingFilter]="true"
  [pinnedBottomRowData]="pinnedBottomRowData"
  [pinnedTopRowData]="pinnedTopRowData" [pagination]="pagination" [paginationPageSize]="50"
  [rowModelType]="rowModelType"
(sortChanged)="onSortChanged($event)" (paginationChanged)="onPaginationChange($event)" >
  </app-wfxgrid>
</div> -->

