<button mat-icon-button class="add-folder" (click)='onAddButtonClick("AddNew")'>
            <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.5 0C8.09179 0 7.76087 0.33092 7.76087 0.73913V7.76087H0.73913C0.33092 7.76087 0 8.09179 0 8.5C0 8.90821 0.33092 9.23913 0.73913 9.23913H7.76087V16.2609C7.76087 16.6691 8.09179 17 8.5 17C8.90821 17 9.23913 16.6691 9.23913 16.2609V9.23913H16.2609C16.6691 9.23913 17 8.90821 17 8.5C17 8.09179 16.6691 7.76087 16.2609 7.76087H9.23913V0.73913C9.23913 0.33092 8.90821 0 8.5 0Z" fill="white"/>
                </svg>
                
        </button>