<div class="timeAgo" *ngIf="jsonData">
  <app-wfxlabel #lbl [ParentComponent]="componentObject"
  [itemJsonDef]="jsonDef?.attribute" [(sectionJsonData)]="labelJsonData">
  </app-wfxlabel>
</div>
