@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700';
@import 'https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css';
@import './assets/wfx-library.css';
body {
    overflow: hidden;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    margin: 0px;
    font-size: 13px;
    padding: 0px;
    position: relative;
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer */
    -khtml-user-select: none;
    /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none;
    /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none;
    /* Disable Android and iOS callouts*/
}

.mat-drawer-container {
    background-color: #fff;
}

.spacer {
    flex: 1 1 auto;
}

.mat-slide-toggle-bar {
    width: 32px !important;
    height: 8px !important;
}

.mat-slide-toggle-thumb {
    height: 16px !important;
    width: 16px !important;
}

.mat-slide-toggle-thumb-container {
    top: -4px !important;
}

.mat-slide-toggle-bar {
    background-color: #F3F3F3;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background: linear-gradient(135deg, #00D1CD 0%, #0096C4 100%) !important;
    box-shadow: 0px 16px 16px rgba(9, 58, 87, 0.05), 0px 32px 32px rgba(9, 58, 87, 0.05), 0px 16px 16px rgba(20, 249, 255, 0.1) !important;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: rgba(0, 209, 205, .54);
}

.mat-slide-toggle-content {
    font-family: Open Sans;
    color: #4a4a4a;
}


/* main container */

#content-container {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
}


/* main container end */


/* sub container */

#content-container .sub-content-container {
    transition-duration: .4s;
    transition-timing-function: cubic-bezier(.25, .8, .25, 1);
    transition-property: transform, margin-left, margin-right;
}

.sub-content-container {
    position: relative;
    z-index: 1;
    display: block;
    height: 100%;
    overflow: hidden;
    padding: 25px 0px 0px 0px;
}


/* sub container end */


/* Title Bar Start */

.titleBar {
    border-bottom: 1px solid #e9e9e9;
    padding: 28px 50px 0px 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    flex: 0 0 100%;
    max-width: 100%;
}

.titlebar-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.title-name-container {
    padding-bottom: 28px;
    width: 60%;
}

.titleBar .titleName {
    font-weight: 300;
    font-size: 30px;
    color: #4A4A4A;
    white-space: nowrap;
    overflow: hidden;
    margin: 0px;
    text-overflow: ellipsis;
}


/* Title Bar End */

.toolbar-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0px 50px;
    padding-bottom: 5px;
}

.toolbar-left-panel {
    float: left;
    width: 570px;
}

.toolbar-right-panel {
    float: right;
    width: 300px;
}

.search-wrapper {
    display: inline-block;
}

.record-count {
    width: 175px;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}


/*QuickSearch Start */

.quick-search {
    position: relative;
}

.quick-search input {
    float: left;
    border: 0;
    background: 0 0;
    font-size: 14px;
    font-family: Open sans;
    -webkit-font-smoothing: antialiased;
    border-bottom: 1px solid transparent;
    border-radius: 0;
    line-height: 30px;
    padding: 0 0px 1px 28px;
    z-index: 1;
    position: relative;
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: pointer;
    width: 150px;
    -webkit-transition: width .3s ease, border-color .3s ease;
    -o-transition: width .3s ease, border-color .3s ease;
    transition: width .3s ease, border-color .3s ease;
    height: 30px;
    color: #f9f9fb;
}

.quick-search span.quick-icon {
    background-position: 0px 0px;
    position: absolute;
    cursor: pointer;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 21px;
    height: 21px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIiIGhlaWdodD0iMjIiIHZpZXdCb3g9IjAgMCAyMiAyMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTE0LjkxMjkgNy45NTY0M0MxNC45MTI5IDExLjc5ODEgMTEuNzk4MiAxNC45MTI5IDcuOTU2NDYgMTQuOTEyOUM0LjExNDc1IDE0LjkxMjkgMSAxMS43OTgxIDEgNy45NTY0M0MxIDQuMTE0NzQgNC4xMTQ3NSAxIDcuOTU2NDYgMUMxMS43OTgyIDEgMTQuOTEyOSA0LjExNDc0IDE0LjkxMjkgNy45NTY0M1oiIHN0cm9rZT0iIzRBNEE0QSIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPjxwYXRoIGQ9Ik0xMi44NzUgMTIuODc0OUwyMS4wMDAxIDIxIiBzdHJva2U9IiM0QTRBNEEiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPjwvc3ZnPg==);
    margin: 5px 0 0;
    z-index: 0;
}

.quick-search input:-moz-placeholder {
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
}

.quick-search input::-webkit-input-placeholder {
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
}

.quick-search input:-ms-input-placeholder {
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
}

.quick-search input:hover:-moz-placeholder {
    color: #9b9b9b;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
}

.quick-search input:hover::-webkit-input-placeholder {
    color: #9b9b9b;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
}

.quick-search input:hover:-ms-input-placeholder {
    color: #9b9b9b;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
}

.quick-search input:hover {
    border-color: #b4b8c1;
    color: #b4b8c1;
    padding: 0 28px 1px 28px;
    width: 302px;
}

.quick-search input:focus {
    border-color: #3CBBC9;
    outline: 0;
    color: #4a4a4a;
    padding: 0 28px 1px 28px;
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: text;
    width: 302px;
}

.quick-search .active-search {
    border-color: #3CBBC9;
    outline: 0;
    color: #4a4a4a;
    padding: 0 28px 1px 28px;
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: text;
    width: 302px;
}

.accessibility {
    border: 0!important;
    clip: rect(0 0 0 0)!important;
    display: block!important;
    height: 1px!important;
    margin: -1px!important;
    overflow: hidden!important;
    padding: 0!important;
    position: absolute!important;
    width: 1px!important;
}

.record-count .img-count {
    font-family: Open sans;
    color: #4a4a4a;
    vertical-align: middle;
    line-height: 28px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.view-options-wrapper {
    margin: 0 auto;
    width: 345px;
}

.sort-options {
    width: 238px;
    text-align: left;
    margin-right: 22px;
    display: inline-block;
    vertical-align: top;
}

.viewshort .mat-select-value:hover {
    color: #4a4a4a;
}

.advanced-filters {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.advanced-filters a {
    vertical-align: middle;
    line-height: 30px;
}

.quick-search-container {
    width: 100%;
}

.search-icon-expand {
    float: left;
    margin-right: 5px;
    width: 22px;
    height: 30px;
    line-height: 45px;
    cursor: pointer;
}

.search-icon-expand:hover svg path {
    stroke: #4a4a4a;
}

.search-active svg path {
    stroke: #4a4a4a !important;
}

.search-icon-expand svg path {
    stroke: #9b9b9b;
}

.search-inputbox {
    flex: none;
    position: relative;
    float: left;
    cursor: pointer;
}

.search-inputbox .wfxselectoptiondelete {
    position: absolute;
    right: 0px;
    z-index: 999;
    padding: 8px;
}

.search-inputbox .wfxselectoptiondelete svg path {
    stroke: transparent;
}

.saved-search {
    display: inline-block;
}

.wfxsearchtextbox {
    float: right;
    line-height: 22px;
    height: 30px;
    position: relative;
    font-weight: normal !important;
}

.wfxsearchtextbox .mat-form-field-suffix .mat-icon-button {
    padding: 0;
    min-width: 0;
    flex-shrink: 0;
    line-height: 57px;
    border-radius: 50%;
    vertical-align: middle !important;
    top: 3px;
    right: 0px;
    color: #9b9b9b;
}

.wfxsearchtextbox .mat-form-field-suffix .mat-icon-button:hover {
    color: #4a4a4a;
}

.wfxsearchtextbox .mat-form-field-suffix .mat-icon-button:hover .mat-button-focus-overlay {
    background: transparent;
}

.wfxsearchtextbox .mat-form-field-suffix .mat-icon-button:focus .mat-button-focus-overlay {
    background: transparent;
}

.wfxsearchtextbox .mat-form-field-infix {
    width: 250px;
    border-top: 0px;
    padding: 0px;
}

.wfxsearchtextbox .mat-form-field-infix:hover {
    width: 400px;
}

.wfxsearchtextbox:hover .mat-form-field-appearance-legacy .mat-form-field-underline {
    background: #e9e9e9;
}

.wfxsearchtextbox input.mat-input-element {
    margin-top: 0px;
    vertical-align: top;
}

.wfxsearchtextbox .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 0px;
}

.wfxsearchtextbox .mat-form-field-appearance-legacy .mat-form-field-underline {
    bottom: -7px;
    background: transparent !important;
}

.wfxsearchselectbox {
    z-index: 1000;
    position: absolute;
    width: 100%;
    top: 38px;
    background: #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .02), 0 4px 4px rgba(0, 0, 0, .02), 0 8px 8px rgba(0, 0, 0, .02), 0 16px 16px rgba(0, 0, 0, .02), 0 32px 32px rgba(0, 0, 0, .02), 0 64px 64px rgba(0, 0, 0, .02);
}

.wfxsearchselectbox .mat-form-field-appearance-legacy .mat-form-field-underline {
    bottom: 0 !important;
}

.wfxsearchselectbox input {
    padding: 0px 36px 13px 33px;
    box-sizing: border-box;
    width: 100%;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    z-index: 100;
    border-bottom: 1px solid #e9e9e9 !important;
    font-size: inherit;
    box-shadow: none;
    border-radius: 0;
}

.wfxsearchselectbox input:before {
    content: "";
    display: block;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAGCAYAAADkOT91AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABxSURBVHgBAWYAmf8AT9T4R1PX+0cAAAAAAAAAAAIA9v7W/f3+gVDV+VYAAAAAAQAAAABPyvYdAQoDqwABAI4CAAAAAPf39wD/+f4AA/8C8QJGsO0dCAAHq/76/46tLAW5AgYHBRz/9/+OszkKqgAAAACIfiX6V+5pkgAAAABJRU5ErkJggg==) !important;
    background-repeat: no-repeat;
    background-position: 2px 2px;
}

.wfxselectoption {
    padding: 11px 16px;
    color: #9b9b9b;
}

.wfxselectoption:hover {
    background: #fbfbfb;
}

.wfxselectoption:hover .sectionLabelDiv {
    color: #4a4a4a;
}

.wfxselectoption.mat-active {
    background: rgba(0, 0, 0, .04);
    color: #4a4a4a;
    font-weight: 700;
}

.wfxselectoption img {
    display: inline-block;
    margin-right: 5px;
}

.wfxselectoptiontext {
    display: inline-block;
    font-size: 13px;
    color: #9b9b9b;
    vertical-align: middle;
    transition: color .2s ease-in-out .2s;
}

.wfxselectoptiontext:hover {
    color: #4a4a4a;
}

.wfxselectoption .wfxselectoptioncheckbox {
    display: inline-block;
    float: right;
}

.wfxselectoption .wfxselectoptiondelete {
    display: inline-block;
    float: right;
    vertical-align: middle;
    line-height: 17px;
}

.wfxselectoptiondelete:hover {
    cursor: pointer;
}

.wfxselectoptiondelete:hover svg path {
    fill: #4a4a4a;
}

.wfxselectoptiondelete svg path {
    fill: #9b9b9b;
}

.wfxsearchselectbox label {
    left: 33px;
    top: 11px !important;
}

.wfxsearchselectbox .mat-form-field-infix {
    padding-top: 0px;
    padding-right: 5px;
}

.wfxsearchselectbox .sectionSelectBoxDiv .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 0px;
}

.saved-search-textbox {
    padding-bottom: 13px;
}

.asset-type-filters .saved-search-textbox input {
    width: 135px;
    padding-right: 5px;
}

.asset-type-filters .jqx-calendar {
    margin-top: 35px;
}

.saved-search-textbox::before {
    position: absolute;
    top: 0px;
    left: 14px;
    width: 14px;
    height: 16px;
    display: block;
    content: "";
    background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUiIGhlaWdodD0iMTUiIHZpZXdCb3g9IjAgMCAxNSAxNSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTEwLjA0MzUgNS41MjE3NEMxMC4wNDM1IDguMDE4ODcgOC4wMTg4NyAxMC4wNDM1IDUuNTIxNzQgMTAuMDQzNUMzLjAyNDYxIDEwLjA0MzUgMSA4LjAxODg3IDEgNS41MjE3NEMxIDMuMDI0NjEgMy4wMjQ2MSAxIDUuNTIxNzQgMUM4LjAxODg3IDEgMTAuMDQzNSAzLjAyNDYxIDEwLjA0MzUgNS41MjE3NFoiIHN0cm9rZT0iIzRBNEE0QSIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPjxwYXRoIGQ9Ik04LjcxODc1IDguNzE4NzVMMTQuMDAwMSAxNC4wMDAxIiBzdHJva2U9IiM0QTRBNEEiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPjwvc3ZnPg==") no-repeat;
}

.wfxsearchtextbox .wfxselectoption-container {
    overflow-y: scroll;
    min-height: 50px;
    max-height: 260px;
}

.wfxsearchselectbox input::-webkit-input-placeholder {
    padding: 0px 36px 14px 16px;
}

.wfxsearchtextbox .mat-form-field-label {
    color: #9b9b9b !important;
    vertical-align: top;
    top: 14px;
}


/*QuickSearch End */


/*sorting panel start */

.sort-icon {
    display: inline-block;
    margin-right: 20px;
    line-height: 15px;
    height: 15px;
    vertical-align: middle;
}

.sort-icon svg {
    cursor: pointer;
}

.sort-icon svg path {
    transition: fill .1s ease-in-out .1s;
    cursor: pointer;
}

.sort-icon svg:hover path {
    fill: #4a4a4a;
}

.sort-select {
    display: inline-block;
    width: 115px;
    height: 30px;
    line-height: 29px;
    vertical-align: middle;
}

.sort-label {
    font-size: 13px;
    color: #4a4a4a;
    font-weight: normal;
    font-family: Open Sans;
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
    height: 30px;
    line-height: 29px;
}


/*sorting panel end */


/* VEW-OPTION START */

.view-gallery {
    width: 150px;
    float: left;
    text-align: right;
}

.view-table {
    width: 195px;
    float: right;
    text-align: left;
}

.mat-slider-horizontal {
    height: 48px;
    min-width: 100px;
    cursor: pointer;
}

.wfx_viewOption .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-top: 6px;
}

.wfx_viewOption .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0px;
    width: 118px;
    border-top: 0px;
}


/*VEW-OPTION END */


/*--wfx-breadcrumb section Start-- */

.breadcrumb {
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    list-style: none;
    border-radius: 0px;
    line-height: 5px;
    background-color: white;
}

.breadcrumb a,
.breadcrumb span {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 11px;
    color: #9b9b9b;
    text-decoration: none;
}

.breadcrumb a:focus,
.breadcrumb span:focus {
    outline: 0px;
}

.breadcrumb a:hover {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    text-decoration: none;
    font-size: 11px;
    color: #4a4a4a;
}

.breadcrumb svg {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 1px;
    display: inline-block;
    vertical-align: middle;
    width: 4px;
    height: 6px;
}

.breadcrumb a {
    display: inline-block;
    color: #9b9b9b;
}

.breadcrumb li {
    display: inline-block;
    margin-right: 0px;
    margin-bottom: 0px;
    float: none;
}

.breadcrumb li:first-child svg {
    width: 1px !important;
    margin-left: 0;
    margin-right: 0;
}


/*--wfx-breadcrumb section END-- */


/* title bar tabs starts */

.wfx-titlebar-tab {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.mat-tab-header,
.mat-tab-nav-bar {
    border-bottom: 0px;
}

.mat-tab-label {
    font-family: Open Sans !important;
    font-size: 13px !important;
    color: #9b9b9b !important;
    font-weight: normal !important;
    opacity: 1 !important;
    height: inherit !important;
    padding: 0px 0px 16px 0px !important;
    margin-right: 30px !important;
    cursor: pointer !important;
    box-sizing: border-box !important;
    min-width: inherit!important;
    text-align: center !important;
    justify-content: center !important;
    align-items: center !important;
    white-space: nowrap !important;
    position: relative !important;
    transition: color .1s ease-in-out .1s;
}

.mat-tab-label:hover {
    color: #4a4a4a !important;
}

.mat-ripple-element {
    opacity: 0 !important
}

.mat-tab-label .mat-icon {
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    height: 0px !important;
    width: 0px !important;
}

.mat-ink-bar {
    background: linear-gradient(270deg, #4db4f0 0, #50f8f3 100%);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .03), 0 2px 2px rgba(0, 0, 0, .03), 0 2px 5px rgba(80, 245, 243, .181442);
    background-size: 34px 100%;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    border-radius: 1px;
    height: 1px !important;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: transparent !important;
}

.mat-tab-label-active {
    color: #4a4a4a !important;
}


/* title bar tabs ends */


/* thumbnail view start */

.nopadding {
    padding-left: 0px;
    padding-right: 0px;
}

.thumbnail-padding {
    padding-right: 5px;
}

.thumbnail-padding ul {
    padding: 15px 50px 0px 50px;
    margin: 0px;
    float: left;
}


/* thumbnail view end */


/*ADVANCED FILTERS START */

.asset-filter-type {
    padding: 16px 15px 12px 15px;
    cursor: pointer;
    font-family: Open Sans;
    font-size: 13px;
    color: #9b9b9b;
    border-bottom: 1px solid #e9e9e9;
    transition: fill .1s ease-in-out .1s;
}

.asset-filter-type .mat-form-field-empty {
    transition: color .1s ease-in-out .1s;
}

.asset-filter-type:hover .mat-form-field-empty {
    color: #4a4a4a !important;
}

.asset-filter-wrapper {
    background: #FFFFFF;
    width: 214px;
    padding: 0px;
    padding-right: 5px;
    display: inline-block;
    vertical-align: top;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.02), 0px 4px 4px rgba(0, 0, 0, 0.02), 0px 8px 8px rgba(0, 0, 0, 0.02), 0px 16px 16px rgba(0, 0, 0, 0.02), 0px 32px 32px rgba(0, 0, 0, 0.02), 0px 64px 64px rgba(0, 0, 0, 0.02);
}

.asset-filter-wrapper .widgetcont {
    margin-top: 50px;
    transition: height 0.3s linear;
}

.asset-filter-type textarea.mat-input-element {
    cursor: pointer !important;
}

.asset-filter-type .mat-form-field-appearance-legacy .mat-form-field-underline {
    display: none;
}

.asset-filter-type .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 0px;
}

.asset-filter-type {
    transition: background-color .1s ease-in-out .1s;
}

.asset-filter-type:hover {
    background-color: #FBFBFB;
}

.active-filter {
    background-color: #FBFBFB;
}

.active-filter .mat-form-field-empty {
    color: #4a4a4a !important;
}

.active-filter svg path {
    fill: #4a4a4a !important;
}

.asset-filter-type .arrow a {
    padding: 0px 10px 5px 10px;
    cursor: pointer;
}

.filter-applied svg path {
    stroke: #3CBBC9;
}

.filter-area-left {
    width: 150px;
    /* display: inline-block; */
    display: inline-grid;
}

.filter-area-left .mat-form-field-infix {
    border-top: 0px;
    width: 150px;
}

.filter-area-right {
    width: 20px;
    float: right;
    line-height: 26px;
    vertical-align: middle;
}

.filter-area-right svg path {
    fill: #9b9b9b;
    transition: fill .1s ease-in-out .1s;
}

.filter-area-right svg path {
    stroke: transparent;
}

.filter-area-right:hover svg path {
    stroke: transparent;
}

.asset-filter-type svg path {
    transition: fill .1s ease-in-out .1s;
}

.asset-filter-type:hover svg path {
    fill: #4a4a4a;
}

.txtfiltertype {
    overflow: hidden;
}

.asset-filter-wrapper .button-apply {
    color: #fff;
    padding: 0px 15px;
    font-family: Open Sans;
    font-size: 12px;
    text-align: center;
    border: none;
    background: linear-gradient(100.41deg, #43CECD 14.74%, #309CC1 87.07%);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05), 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    transition: box-shadow .2s ease-in-out .2s;
}

.asset-filter-wrapper .button-apply:hover {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05), 0px 4px 4px rgba(0, 0, 0, 0.05), 0px 4px 14px rgba(66, 204, 204, 0.38853);
    border-radius: 3px;
    cursor: pointer;
}

.asset-filter-wrapper .button-apply:focus {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05), 0px 4px 4px rgba(0, 0, 0, 0.05), 0px 8px 35px rgba(66, 204, 204, 0.38853);
    border-radius: 3px;
}

.asset-type-filters .sectionSelectBoxDiv {
    padding: 0 16px;
    margin-top: 20px;
}

.asset-type-filters .wfxselectoption {
    padding: 11px 5px;
    width: 166px;
    font-size: 13px;
    line-height: 15px;
    font-family: Open sans;
    overflow: hidden;
}

.asset-type-filters .wfxselectoption {
    cursor: pointer;
}

.asset-type-filters .wfxselectoption-container {
    overflow-y: scroll;
    padding: 0px;
    width: 190px;
}

.asset-type-filters .wfxselectoptiontext {
    width: 142px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.asset-type-filters .sectionLabelDiv {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #9b9b9b;
}

.clear-filter {
    font-family: Open Sans;
    font-size: 10px;
    text-align: center;
    margin: 0 auto;
    color: #9B9B9B;
    margin-top: 10px;
    cursor: default;
}

.clear-filter a {
    transition: color .1s ease-in-out .1s;
}

.clear-filter a:hover {
    color: #4a4a4a;
    cursor: pointer;
}

.button-filter {
    text-align: center;
    margin-bottom: 20px;
}

.asset-filter-wrapper .button-bottom {
    bottom: 20px;
    right: 7px;
    background: #fff;
    padding-top: 20px;
    margin: 0px;
    border-top: 1px solid #e9e9e9;
}

.asset-type-filters {
    width: 214px;
    padding-top: 20px;
    display: inline-block;
}

.asset-type-filters .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 0px;
}

.asset-type-filters .mat-form-field-appearance-legacy .mat-form-field-underline {
    height: 0px;
}

.asset-type-filters .mat-form-field.mat-focused .mat-form-field-ripple {
    height: 0px;
}

.asset-type-filters .mat-form-field-label {
    padding-left: 20px;
    color: #C8C8C8 !important;
    width: 135px;
}

.asset-type-filters .mat-input-element {
    padding-left: 20px;
}

.asset-type-filters .saved-search-textbox {
    padding-bottom: 13px;
    border-bottom: 1px solid #e9e9e9;
}

.asset-type-filters .saved-search-textbox .search-close {
    cursor: pointer;
}

.asset-type-filters .saved-search-textbox svg path {
    fill: #9b9b9b;
}

.asset-type-filters .saved-search-textbox svg:hover path {
    fill: #4a4a4a;
}

.asset-type-filters .wfxsearchselectbox label {
    left: 16px;
    top: 11px !important;
}

.asset-type-filters .saved-search-textbox::before {
    position: absolute;
    top: 7px;
    left: 0px;
    width: 14px;
    height: 16px;
    display: block;
    content: "";
    background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUiIGhlaWdodD0iMTUiIHZpZXdCb3g9IjAgMCAxNSAxNSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTEwLjA0MzUgNS41MjE3NEMxMC4wNDM1IDguMDE4ODcgOC4wMTg4NyAxMC4wNDM1IDUuNTIxNzQgMTAuMDQzNUMzLjAyNDYxIDEwLjA0MzUgMSA4LjAxODg3IDEgNS41MjE3NEMxIDMuMDI0NjEgMy4wMjQ2MSAxIDUuNTIxNzQgMUM4LjAxODg3IDEgMTAuMDQzNSAzLjAyNDYxIDEwLjA0MzUgNS41MjE3NFoiIHN0cm9rZT0iIzRBNEE0QSIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPjxwYXRoIGQ9Ik04LjcxODc1IDguNzE4NzVMMTQuMDAwMSAxNC4wMDAxIiBzdHJva2U9IiM0QTRBNEEiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPjwvc3ZnPg==") no-repeat;
}

.asset-filters {
    font-family: Open Sans;
    font-size: 12px;
    margin: 6px 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.asset-checkbox {
    text-align: right;
    line-height: 26px;
}

.asset-filter-wrapper .button-toggle {
    padding: 16px;
    border-top: 1px solid #e9e9e9;
}


/*ADVANCED FILTERS END */


/* right panel */

.dashboard-rightpanel {
    padding: 0;
    z-index: 2;
    width: 413px;
    overflow: hidden;
    background: #fff;
    border-left: 1px solid #f3f3f3;
    transform: translateX(0px);
    visibility: visible;
    opacity: 1;
    display: block;
    position: absolute !important;
    top: 0;
    bottom: 0;
    right: 0;
    outline: 0;
    box-sizing: border-box;
    overflow-y: auto;
}


/* right panel end */

.cdk-global-scrollblock {
    overflow: hidden !important;
}

.comment-dialog-container .mat-dialog-container {
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
}

.example-form .mat-dialog-content {
    max-height: inherit;
}

.comment-dialog-container .mat-dialog-content {
    display: block;
    margin: 0px;
    padding: 0px;
    max-height: 100%;
    overflow: hidden;
}

.widgetcont {
    /*text-align:left; height:250px;*/
    overflow-y: scroll;
    white-space: nowrap;
    overflow-x: hidden;
}


/* .ui-selecting {
    border: 1px solid #3cbbc9 !important;
    box-shadow: 0 4px 14px 3px rgba(66, 204, 204, 0.39), 0 4px 4px 0 rgba(0, 0, 0, 0.05), 0 2px 2px 0 rgba(0, 0, 0, 0.05) !important;
    border-radius: 3px;
} */

.ui-selectable-helper {
    position: absolute;
    z-index: 100;
    background: rgba(60, 187, 201, 0.14204);
    border: 1px solid #3CBBC9 !important;
}

.jqx-calendar {
    border: 0px solid #e4e4e4 !important;
    border-radius: 2px;
    font-family: Open Sans;
    width: 180px!important;
    height: 280px!important;
    padding: 0px 17px !important;
}

.jqx-calendar-month-container {
    width: 180px!important;
    height: 280px!important;
}

.jqx-widget-content {
    font-family: Open Sans !important;
    font-size: 12px !important;
}

.jqx-icon-arrow-left,
.jqx-icon-arrow-left-hover,
.jqx-icon-arrow-left-selected {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAGCAYAAADkOT91AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABxSURBVHgBAWYAmf8AT9T4R1PX+0cAAAAAAAAAAAIA9v7W/f3+gVDV+VYAAAAAAQAAAABPyvYdAQoDqwABAI4CAAAAAPf39wD/+f4AA/8C8QJGsO0dCAAHq/76/46tLAW5AgYHBRz/9/+OszkKqgAAAACIfiX6V+5pkgAAAABJRU5ErkJggg==) !important;
    transform: rotate(180deg);
}

.jqx-icon-arrow-right,
.jqx-icon-arrow-right-hover,
.jqx-icon-arrow-right-selected {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAGCAYAAADkOT91AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABxSURBVHgBAWYAmf8AT9T4R1PX+0cAAAAAAAAAAAIA9v7W/f3+gVDV+VYAAAAAAQAAAABPyvYdAQoDqwABAI4CAAAAAPf39wD/+f4AA/8C8QJGsO0dCAAHq/76/46tLAW5AgYHBRz/9/+OszkKqgAAAACIfiX6V+5pkgAAAABJRU5ErkJggg==) !important;
}

.jqx-calendar-title-content {
    width: 130px !important;
}

.jqx-calendar td {
    padding: 0px!important;
    height: 24px !important;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 11px!important;
    text-align: center;
    color: #4A4A4A;
}

.jqx-calendar-cell-today {
    border-radius: 50% !important;
    height: 30px !important;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.03), 0px 2px 2px rgba(0, 0, 0, 0.03), 0px 2px 5px rgba(80, 245, 243, 0.181442);
    border-style: solid;
    background-color: transparent !important;
    border-color: #3CBBC9 !important;
    color: #3CBBC9 !important;
}

.jqx-fill-state-hover {
    background-color: transparent !important;
    border: 0px !important;
    color: #3CBBC9 !important;
}

.jqx-fill-state-pressed {
    background: #CBF5F9 !important;
    border-radius: 0 !important;
    border: 0px !important;
    box-shadow: none !important;
}

.jqx-calendar .jqx-widget-header {
    border-color: transparent;
    background: #ffffff !important;
}

.jqx-input {
    border: 0px !important;
    border-bottom: 1px solid #F4F4F4 !important;
    background: transparent !important;
}

.jqx-calendar-footer {
    font-size: 11px !important;
}

.jqx-calendar-footer:hover {
    color: #3CBBC9 !important;
    text-decoration: none;
}


/*.jqx-calendar { box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.02), 0px 4px 4px rgba(0, 0, 0, 0.02), 0px 8px 8px rgba(0, 0, 0, 0.02), 0px 16px 16px rgba(0, 0, 0, 0.02), 0px 32px 32px rgba(0, 0, 0, 0.02), 0px 64px 64px rgba(0, 0, 0, 0.02) !important; }*/

svg {
    vertical-align: unset;
}


/*Start<IssueID:132031>*/

:host ::ng-deep .ag-theme-material .rowDragClass,
 :host ::ng-deep .ag-theme-material .ag-header-cell {
    cursor: move !important;
}

:host ::ng-deep .ag-theme-material .ag-header-cell:nth-child(1),
 :host ::ng-deep .ag-theme-material .ag-header-cell:nth-child(2) {
    cursor: default !important
}

:host ::ng-deep .ag-header-cell-moving {
    background: #f3f3f3 !important;
}


/*End<IssueID:132031>*/


/*Start<IssueID:132028>*/


/* #divScroll li.xselectable-selected {
    border: 1px solid #3cbbc9 !important;
    border-radius: 3px;
    box-shadow: 0 4px 14px 3px rgba(66, 204, 204, 0.39), 0 4px 4px 0 rgba(0, 0, 0, 0.05), 0 2px 2px 0 rgba(0, 0, 0, 0.05) !important;
    border-radius: 3px;
}

.xselectable-glass {
    background-color: transparent;
    z-index: 1000;
    cursor: hand;
    cursor: pointer;
}

.xselectable-box {
    position: absolute;
    z-index: 100;
    background: rgba(60, 187, 201, 0.14204);
    border: 1px solid #3CBBC9 !important;
    box-sizing: border-box;
} */

.position-relative {
    position: relative;
}

.mat-standard-chip:focus {
    background: #f5f5f5 !important;
}


/*End<IssueID:135490>*/

.mat-standard-chip::after {
    display: none;
}

.mat-standard-chip .mat-chip-remove,
.mat-standard-chip .mat-chip-trailing-icon {
    margin-left: 7px !important;
}

.mat-drawer-inner-container {
    overflow: initial !important;
    height: auto !important;
}

.mat-select-panel {
    font-size: 11px !important;
}

.mat-autocomplete-panel {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12) !important;
}

.cdk-overlay-dark-backdrop {
    background: rgba(0, 0, 0, .288) !important;
}


/* Tool Bar Starts */

.folder-right {
    float: right;
    text-align: right;
}

:host ::ng-deep .asset_action {
    float: left !important;
}

:host ::ng-deep .mat-select-arrow {
    border-left: none;
    border-right: none;
    border-top: none;
    width: 6px;
    margin-top: 4px;
    height: 4px;
    content: "";
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAECAYAAACtBE5DAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABvSURBVHgBAWQAm/8BTLbwZf0JBre3QQrkAAAAAE7P92X/BgLGBAQFA/ECA/+sScj2VAcIAFcABQNVAgYFtwEAAAAATcr2VgIEAYEBBwLxAgYGVK4lAeQAAAAAAAAAAABT1/tHUtv/HAAAAAAAAAAAQLIbkC0tYb4AAAAASUVORK5CYII=")no-repeat;
}

:host ::ng-deep .mat-select-disabled .mat-select-arrow {
    width: 0px !important;
}

.image-wrapper {
    display: inline-block;
}

.userimage {
    max-width: 100%;
    min-height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: -100%;
    left: -100%;
    right: -100%;
    bottom: -100%;
    margin: auto;
    display: block;
}

.chat {
    display: inline-block;
    margin-right: 5px;
}

.chat svg:hover path {
    stroke: #3CBBC9;
}

.no-padding {
    padding-left: 0px;
    padding-right: 0px;
}

.action-icon {
    float: left;
    margin: 1px 4px 0px 0px;
}

:host ::ng-deep .mat-select-value-text {
    font-family: Open Sans;
    font-size: 11px;
    color: #4A4A4A;
}

:host ::ng-deep .mat-select {
    width: 80%;
}

.createdby {
    display: inline-block;
    font-size: 11px;
    color: #4A4A4A;
    text-align: left;
    margin-top: -1px;
    margin-left: 5px;
    vertical-align: top;
}

.createduser {
    width: 160px;
    padding: 32px 0px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

.type-container {
    width: 120px;
    padding: 32px 10px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.folderlike {
    width: 100px;
    font-size: 11px;
    color: #4A4A4A;
    padding: 36px 10px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

.folderlike svg {
    margin-right: 6px;
}

.owner {
    font-family: Open Sans;
    font-size: 9px;
    text-align: left;
    color: #9B9B9B;
    letter-spacing: 0;
}

::ng-deep .mat-select-panel:not([class*=mat-elevation-z]) {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.02), 0px 4px 4px rgba(0, 0, 0, 0.02), 0px 8px 8px rgba(0, 0, 0, 0.02), 0px 16px 16px rgba(0, 0, 0, 0.02), 0px 32px 32px rgba(0, 0, 0, 0.02), 0px 64px 64px rgba(0, 0, 0, 0.02);
}

::ng-deep .mat-select-content {
    background: #FFFFFF;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.02), 0px 4px 4px rgba(0, 0, 0, 0.02), 0px 8px 8px rgba(0, 0, 0, 0.02), 0px 16px 16px rgba(0, 0, 0, 0.02), 0px 32px 32px rgba(0, 0, 0, 0.02), 0px 64px 64px rgba(0, 0, 0, 0.02);
    border-radius: 2px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    color: #4A4A4A;
}

::ng-deep .mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
    font-weight: bold;
    background: #fff;
}

::ng-deep .mat-option:focus:not(.mat-option-disabled),
.mat-option:hover:not(.mat-option-disabled) {
    background: #FBFBFB;
    color: #3CBBC9;
}

::ng-deep .mat-option-text svg {
    vertical-align: middle;
}

::ng-deep .mat-select-panel:not([class*=mat-elevation-z]) {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.02), 0px 4px 4px rgba(0, 0, 0, 0.02), 0px 8px 8px rgba(0, 0, 0, 0.02), 0px 16px 16px rgba(0, 0, 0, 0.02), 0px 32px 32px rgba(0, 0, 0, 0.02), 0px 64px 64px rgba(0, 0, 0, 0.02) !important;
}


/* Tool Bar Ends */


/*--like popup starts-- */

.mat-dialog-container {
    box-shadow: 0 11px 15px -7px rgba(0, 0, 0, .2), 0 24px 38px 3px rgba(0, 0, 0, .14), 0 9px 46px 8px rgba(0, 0, 0, .12);
    border-radius: 2px !important;
}

.user-likes {
    overflow-y: scroll !important;
    white-space: normal;
    overflow-x: hidden !important;
    max-height: 360px !important;
    width: 250px;
    padding: 0px !important;
    padding-right: 5px !important;
}

.user-likes .avatar {
    border: 1px solid #fff;
    border-radius: 50%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .05), 0 4px 4px rgba(0, 0, 0, .05), 0 8px 8px rgba(0, 0, 0, .05), 0 16px 16px rgba(0, 0, 0, .05);
    background-color: #fff;
    position: relative;
    overflow: hidden;
    width: 30px;
    height: 30px;
    background-color: #d8d8d8;
}

.avatar .sectionLabelDiv {
    font-family: Open Sans;
    color: #fff;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    line-height: 28px;
}

.user-likes .mat-card-avatar {
    height: auto;
    width: auto;
    max-width: 100%;
    min-height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: -100%;
    left: -100%;
    right: -100%;
    bottom: -100%;
    margin: auto;
    display: block;
}

.user-likes .mat-card-avatar {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    flex-shrink: 0;
}

.total-likes {
    font: normal 13px Open Sans;
    color: #4A4A4A;
    margin: 0px;
    margin-bottom: 18px;
}

.user-likes li {
    list-style: none;
    padding: 5px 0px;
}

.user-likes .user-text {
    display: inline-block;
    font-family: Open Sans;
    font-size: 13px;
    color: #4A4A4A;
    vertical-align: top;
    line-height: 30px;
    margin-left: 10px;
}

.userDialogWidthHeight {
    width: 278px;
    height: 140px;
}


/*--like popup ends-- */


/*-----------------------------------------------wfx-viewOption section Start--------------------------------- */

.wfx_viewOption a,
.wfx_viewOption span {
    display: inline-block;
    vertical-align: middle;
}

.wfx_viewOption a {
    cursor: pointer;
    padding: 0px 5px;
    height: 30px;
    vertical-align: middle;
    line-height: 36px;
}

span.viewshort {
    margin-left: 10px;
    line-height: 28px;
    height: 30px;
    vertical-align: middle;
}

.viewshort .sectionSelectBoxDiv {
    width: 110px;
    height: 30px;
    vertical-align: middle;
    line-height: 25px !important;
}

.viewshort .mat-select-arrow {
    margin-top: 5px !important;
}

.viewshort .mat-form-field {
    line-height: 25px !important;
}

.viewshort .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-top: 0px;
    padding-bottom: 0px;
}

.viewOptionSvgHeightAndWidth {
    height: 20px;
    width: 20px
}


/*-----------------------------------------------wfx-viewOption section End--------------------------------- */

.img-container {
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05), 0px 4px 4px rgba(0, 0, 0, 0.05), 0px 8px 8px rgba(0, 0, 0, 0.05), 0px 16px 16px rgba(0, 0, 0, 0.05);
}


/*-----------------------------------------------RightPanel section Start --------------------------------- */

:host ::ng-deep .asset-filter-wrapper {
    background: #FFFFFF;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.02), 0px 4px 4px rgba(0, 0, 0, 0.02), 0px 8px 8px rgba(0, 0, 0, 0.02), 0px 16px 16px rgba(0, 0, 0, 0.02), 0px 32px 32px rgba(0, 0, 0, 0.02), 0px 64px 64px rgba(0, 0, 0, 0.02);
    overflow: hidden;
    /* width:378px; */
}


/*-----------------------------------------------RightPanel section End --------------------------------- */

.search-close {
    width: 10px;
    height: 10px;
}

.savedsearch-icon {
    width: 17px;
    height: 17px;
}


/*-----------------------------------------------wfx-bottampanel section Start--------------------------------- */

.bottomPanel {
    height: 0px;
    width: 100%;
    position: fixed;
    z-index: 1;
    bottom: 0px;
    background-color: #fff;
    transition: 0.5s;
    font-size: 11px;
    border-top: 1px solid #e9e9e9;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.02), 0px -4px 4px rgba(0, 0, 0, 0.02), 0px -8px 8px rgba(0, 0, 0, 0.02), 0px -16px 16px rgba(0, 0, 0, 0.02), 0px -32px 32px rgba(0, 0, 0, 0.02), 0px -64px 64px rgba(0, 0, 0, 0.02);
}

.bottomPanelWrapper {
    padding: 18px 50px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
}

.bottomPanelOpenHeight {
    height: 70px;
}

.bottomPanelCloseHeight {
    height: 0px;
}

.bottomleft {
    float: left;
    width: 190px;
    margin: auto 0px;
}

.bottomleft .sectionLabelDiv {
    color: #4a4a4a;
    font-size: 13px;
}

.bottomleft .bottom-label {
    display: inline-block;
    vertical-align: middle;
}

.bottomleft .bottom-label strong {
    font-size: 11px;
    border-radius: 100px;
    background: #3CBBC9;
    color: #fff;
    padding: 1px 10px 2px;
    margin: 1px 6px 0 0;
    display: inline-block;
}

.bottomleft .bottom-label .col-lg-3 {
    display: inline-block;
    line-height: 17px;
    vertical-align: middle;
}

.bottomleft .bottom-checkbox {
    display: inline-block;
    margin-right: 10px;
}

.bottomleft .mat-checkbox-frame {
    border: 1px solid #9b9b9b !important;
    box-sizing: border-box;
    border-radius: 50% !important;
    width: 20px;
    height: 20px;
    margin: auto;
    float: right;
}

.bottomleft .mat-checkbox-inner-container {
    height: 20px !important;
    width: 20px !important;
    padding: 5px;
}

.bottomleft .mat-checkbox-background {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin: auto;
}

.bottomleft .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background: #3cbbc9 !important;
    border: 1px solid #3cbbc9 !important;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: auto;
}

.bottomleft .mat-checkbox-background svg {
    height: 16px;
    width: 16px;
}

.bottomleft .mat-checkbox-checkmark {
    top: 1px;
    left: 1px;
    right: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
}

.bottomcenter {
    margin: auto;
    width: 192px;
    text-align: center;
}

.bottomright {
    float: right;
    min-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px 3px 10px 0px;
    font-size: 11px;
    color: #4a4a4a;
    font-family: Open sans;
}

.bottamPanelSvg {
    padding: 10px 15px;
    vertical-align: middle;
    line-height: 35px;
}

.disablesvg:hover {
    cursor: default !important;
}

.disablesvg svg:hover {
    cursor: default !important;
}

.disablesvg:hover svg path,
.disablesvg:hover svg rect {
    cursor: default !important;
    stroke: #9b9b9b !important;
}

.disablesvg svg:hover path {
    stroke: #9b9b9b !important;
}

.bottamPanelSvg svg {
    cursor: pointer;
    vertical-align: middle;
}

.toggle_container .extended-menu-icon svg {
    cursor: pointer;
    vertical-align: middle;
    opacity: 1;
}

.toggle_container .extended-menu-icon:hover svg path {
    fill: #4a4a4a;
    opacity: 1;
    cursor: pointer;
}

.toggle_container .extended-menu-icon {
    padding: 18px 10px 14px 10px;
}

.bottamPanelSvg svg path {
    stroke: #9b9b9b;
    transition: stroke .1s ease-in-out .1s;
}

.bottamPanelSvg svg:hover path {
    stroke: #4a4a4a;
}

.toggle_container .extended-menu-icon svg path {
    fill: #9b9b9b;
    transition: fill .1s ease-in-out .1s;
}

.toggle_container .extended-menu-icon svg:hover path {
    fill: #4a4a4a;
}

.bottaomPanelCheckbox {
    float: left;
    height: 15px;
    width: 15px;
    margin-right: 15px;
}

.bottomPanelExtendedMenu {
    display: inline-block;
    margin-left: 20px;
}

.bottomPanelWrapper .toggle_container {
    position: relative;
    display: inline-block;
    height: 35px;
    vertical-align: middle;
}

.toggle_dropdown {
    position: absolute;
    top: auto;
    bottom: 30px;
    left: -82px;
    right: 0;
    margin: auto;
    padding: 0 0 8px;
    background: #ffffff;
    width: 200px;
    text-align: left;
    transition: ease-in-out 0.5s;
    -webkit-transition: ease-in-out 0.5s;
    -moz-transition: ease-in-out 0.5s;
    box-shadow: 0 64px 64px 0 rgba(0, 0, 0, 0.02), 0 32px 32px 0 rgba(0, 0, 0, 0.02), 0 16px 16px 0 rgba(0, 0, 0, 0.02), 0 8px 8px 0 rgba(0, 0, 0, 0.02), 0 4px 4px 0 rgba(0, 0, 0, 0.02), 0 2px 2px 0 rgba(0, 0, 0, 0.02) !important;
}

.toggle_dropdown li {
    display: block;
    float: initial;
    font-size: 12px;
    margin: 0;
    position: relative;
}

.toggle_dropdown li a {
    color: #9b9b9b;
    text-decoration: none;
    padding: 11px 16px;
    font-weight: normal;
    display: block;
    transition: ease-in-out 0.5s;
    -webkit-transition: ease-in-out 0.5s;
    -moz-transition: ease-in-out 0.5s;
}

.toggle_dropdown li a:hover {
    background: #fbfbfb;
    color: #4a4a4a;
}

.toggle_dropdown::after {
    content: "";
    width: 14px;
    height: 14px;
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin: 0 0 -7px -7px;
    -webkit-box-shadow: 1px 1px 0 0px rgba(76, 86, 103, .2);
    box-shadow: 1px 1px 0 0px rgba(76, 86, 103, .2);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.toggle_dropdown li>ul {
    position: absolute;
    left: 100%;
    top: 0;
    display: none;
    background: #ffffff;
    width: 200px;
    padding: 0;
    box-shadow: 0 4px 14px -2px rgba(0, 0, 0, 0.2)
}

.toggle_dropdown li:hover ul {
    display: block;
}


/*-----------------------------------------------wfx-bottampanel section End--------------------------------- */


/*-----------------------------------------------wfx-PublishPopup section Start--------------------------------- */

.PublishPopup .mat-dialog-container {
    width: 873px;
    height: 511px;
    /* top: 35px; 
    left: 90px;  */
    position: absolute;
    z-index: 1;
    display: block;
    background-color: #efeaea;
    padding: 10px;
}

.publishSpan {
    font-family: Open Sans;
    font-weight: 300;
    line-height: normal;
    font-size: 20px;
    color: #4a4a4a;
}

.floatRight {
    float: right;
}

.dropDownDiv {
    /* width: 700px;  */
    height: 100px;
    background-color: white;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
    margin-right: 0px;
    padding: 16px 20px 16px 20px;
    background-color: #fff;
    overflow-x: auto;
    overflow-y: hidden;
}

.dropDownDivSpan {
    font-family: Open Sans;
    font-weight: 300;
    line-height: normal;
    font-size: 18px;
    color: #4a4a4a;
}

.ui-multiselect {
    padding: 2px 0 2px 4px;
    text-align: left;
    color: #474747;
    border: 1px solid #e6e6e6;
    background-color: #fafafa;
    border-radius: 2px;
    height: 30px;
}


/*-----------------------------------------------wfx-PublishPopup section End--------------------------------- */


/*--wfx-comment-start-- */

.example-form {
    padding: 0px 5px;
}

.comment-container {
    width: 350px;
    margin-top: 50px;
    overflow-y: scroll;
}

.comment-container .mat-list-base .mat-list-item .mat-list-item-content {
    padding: 0px;
}

.comment-textbox .sectionTextAreaDiv .mat-form-field-wrapper .mat-form-field-underline {
    display: none;
}

.comment-textbox {
    position: relative;
    border-top: 1px solid #e9e9e9;
}

.comment-textbox .sectionTextAreaDiv {
    width: 318px;
    float: left;
}

.comment-textbox svg {
    display: inline-block;
    width: 20px;
    padding: 5px 5px;
    margin-top: 13px;
    cursor: pointer;
}

.comment-textbox svg path {
    stroke: #9B9B9B;
    transition: stroke .1s ease-in-out .1s;
}

.comment-textbox .disabled {
    pointer-events: none;
    cursor: default;
}

.comment-textbox svg:hover path {
    stroke: #4a4a4a;
}

.comment-block {
    width: 100%;
    padding-right: 5px;
}

.comment-user {
    padding-left: 0px;
    height: 35px;
    float: left;
}

.comment-user .avatar {
    width: 30px;
    height: 30px;
}

.comment-user p {
    font-family: Open Sans;
    font-size: 11px;
    color: #4A4A4A;
    padding: 0px;
    display: inline-block;
    line-height: 4px;
    margin-left: 5px;
    font-weight: bold;
}

.comment-date {
    text-align: right;
    float: right;
    line-height: 27px;
    font-family: Open Sans;
    font-size: 11px;
    color: #9B9B9B;
    padding: 0px;
    padding-right: 2px;
}

.comment-box {
    padding: 0 0 5px;
}

.comment-box .mat-flat-button {
    font-family: Open Sans;
    font-size: 11px;
    text-decoration: none;
    color: #3cbbc9!important;
    cursor: pointer;
    text-align: left;
    padding-left: 0px;
    padding-right: 0px;
    line-height: 27px;
}

.comment-box .mat-line {
    font-family: Open Sans;
    font-style: italic !important;
    font-weight: normal;
    line-height: normal;
    font-size: 13px;
    white-space: normal!important;
}

.comment-box .comment-message {
    display: -webkit-box !important;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.comment-link {
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
}

.comment-link svg {
    cursor: pointer;
}

.comment-link .mat-line:hover svg path {
    stroke: #4a4a4a;
}

.comment-link .mat-line:hover {
    color: #4a4a4a;
}

.comment-count .like {
    float: right;
}

.comment-line {
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
    height: auto !important;
}

.example-form .mat-form-field-infix {
    padding-left: 5px;
    padding-right: 5px;
}

.example-form .mat-form-field-label {
    padding-left: 5px;
}

.img-container {
    position: relative;
    overflow: hidden;
    vertical-align: top;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05), 0px 2px 24px rgba(0, 0, 0, 0.05), 0px 2px 2px rgba(0, 0, 0, 0.05), 0px 2px 2px rgba(0, 0, 0, 0.05);
}

.comment_line_ellipsis {
    width: 100%;
    padding-left: 0px;
    max-width: 500px;
    min-width: 1px;
    word-break: break-all;
    max-height: 85px;
    text-overflow: ellipsis;
    display: block;
    display: -webkit-box;
    word-wrap: break-word;
    overflow: hidden;
}

.comment-count {
    padding-top: 7px;
}

.comment-count span {
    font-family: Open Sans;
    font-size: 9px !important;
    color: #9B9B9B;
    margin-left: 5px;
    font-style: normal;
    font-weight: normal;
    display: inline;
    line-height: normal;
}

.no-padding {
    padding: 0px;
}

.child-reply-col {
    margin-left: 17px;
    width: 260px;
}

.child-reply-col .comment-date {
    padding-right: 12px;
}

.child-reply-col .reply-but {
    padding-right: 12px;
}

.child-reply-col .widgetcont {
    width: 266px;
    padding-right: 0px;
}

.child-reply-col .child-wrapper {
    border-left: 1px solid #F3F3F3;
    margin-bottom: 7px;
}

.reply-created {
    margin-left: 5px;
}

.child-reply-col .comment-line {
    border-bottom: 0px solid #F3F3F3;
    padding-bottom: 10px;
    padding-top: 10px;
}

.child-reply-col .comment-input {
    background: #fff;
    position: inherit;
    float: right;
    width: 77%;
    border-bottom: 1px solid #4A4A4A;
    margin-right: 10px;
    padding: 0px;
    border-top: 0px;
}

.child-reply-col .comment-input textarea {
    margin-bottom: 0px;
    vertical-align: bottom;
    width: 80%;
    padding-top: 7px;
    padding-right: 5px;
    white-space: normal;
}

.child-reply-col .comment-input textarea.mat-autosize {
    resize: none;
}

.child-reply-col .comment-input .mat-dialog-actions {
    bottom: 5px;
    right: 22px;
}

.child-reply-col .comment-box {
    margin-left: 37px;
}

.child-reply-col .comment-box .mat-line {
    width: 192px;
}

.child-reply-col .comment-count {
    margin-left: 38px;
}

.reply-but {
    font-family: Open Sans;
    font-size: 10px;
    text-align: right;
    color: #3CBBC9 !important;
    cursor: pointer;
    padding-top: 7px;
    padding-right: 2px;
}

.comment-count span>svg {
    vertical-align: middle;
    margin-top: -2px !important;
}

.comment-input {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 0px 23px;
    border-top: 1px solid #F3F3F3;
    padding-top: 16px;
    background-color: #fff;
}

.comment-input textarea {
    width: 90%;
    max-height: 64px;
    white-space: inherit;
    margin-bottom: 12px;
    border: none;
    font-family: Open Sans;
    font-size: 11px;
    color: #4A4A4A;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
}

.comment-input textarea::placeholder {
    font-family: Open Sans;
    font-size: 11px;
    color: #C6C6C6;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
}

.comment-input textarea:focus {
    outline: none;
}

:host ::ng-deep .mat-form-field-underline {
    background-color: transparent;
}

.user-comment {
    padding-left: 36px;
}

.comment-count {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 9px;
    color: #9B9B9B;
}


/* comment end */


/*----Property View section Start ----- */

.example-sidenav {
    margin-top: 50px;
    width: 350px;
    padding-right: 5px;
    position: relative;
}

.example-sidenav .fixed-header {
    position: sticky;
    top: 0px;
    width: 330px;
    padding: 0px 10px;
    z-index: 9999;
    background-color: #fff;
    padding-bottom: 26px;
}

.example-sidenav .asset_image_container_w_h {
    width: 330px;
    height: 330px;
}

.example-sidenav .asset_image_container {
    text-align: center;
    border-bottom: 1px solid #F3F3F3;
    overflow: hidden;
    position: relative;
    display: inline-block;
    background: #FDFDFD;
    box-shadow: 0 64px 64px 0 rgba(0, 0, 0, 0.02), 0 32px 32px 0 rgba(0, 0, 0, 0.02), 0 16px 16px 0 rgba(0, 0, 0, 0.02), 0 8px 8px 0 rgba(0, 0, 0, 0.02), 0 4px 4px 0 rgba(0, 0, 0, 0.02), 0 2px 2px 0 rgba(0, 0, 0, 0.02);
    border-radius: 3px;
}

.example-sidenav .asset_image_container_small_w_h {
    width: 63px;
    height: 59px;
}

.example-sidenav #divAssetImageContainer {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.example-sidenav .shrink {
    height: 65px;
    width: 65px;
    display: inline-block;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.fixed-header .article-num {
    font-family: Open Sans;
    font-size: 13px;
    color: #4A4A4A;
    width: 320px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.fixed-header .article-info {
    margin-top: 24px;
    width: 250px
}

#assetpropviewimgsmall .article-info {
    margin-top: 5px;
}

.fixed-header .article-name {
    font-family: Open Sans;
    font-weight: 300;
    font-size: 27px;
    margin: 0px;
    color: #4A4A4A;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 320px;
    line-height: 36px;
    margin-bottom: 0px;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.property-section-title .sectionLabelDiv {
    float: left;
    font-size: 13px;
    padding: 11px;
}

.property-section-title .sectionLabelDiv:after {
    margin-left: 10px;
    margin-top: 4px;
    content: "";
    position: absolute;
    border-bottom: 1px solid #e9e9e9;
    width: 274px;
}

.properties-label {
    text-align: left;
    display: inline-block;
    justify-content: left;
}

.properties-label .mat-figure {
    position: relative !important;
    display: inherit !important;
    align-items: inherit !important;
    justify-content: inherit !important;
    padding-right: 5px !important;
}

.properties-data .mat-figure {
    position: relative !important;
    display: inherit !important;
    align-items: inherit !important;
    justify-content: inherit !important;
    padding-left: 5px !important;
}

.prop-headings .col-lg-3 {
    text-align: right;
    font-family: Open Sans;
    font-size: 10px;
    line-height: 8px;
    color: #D3D3D3;
    padding: 3px 0px;
}

.prop-headings .col-lg-9 {
    text-align: left;
    font-family: Open Sans;
    font-size: 10px;
    line-height: 4px;
    color: #4A4A4A;
    padding: 0px 0px 0px 30px;
}

.properties-data {
    display: inline-block;
}

.properties-label .sectionLabelDiv {
    color: #9b9b9b;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 10px;
}

.properties-data .sectionLabelDiv,
.properties-label .sectionLabelDiv {
    font-size: 11px;
    line-height: 15px;
}

.properties-data .sectionLabelDiv {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 10px;
}

.properties-data .avatar {
    width: 20px;
    height: 20px;
    margin-top: 0px;
    margin-right: 10px;
}

.properties-data .mat-card-avatar {
    width: 20px;
    height: 20px;
}

.properties-data svg {
    vertical-align: top;
    padding-top: 1px;
}

.properties-color-Wrapper {
    padding: 16px;
    position: absolute;
    width: 320px;
    z-index: 9999;
    bottom: 0px;
    background: #fff;
    min-height: 90px;
    transition: 0.5s ease-in-out;
    text-align: center;
    align-items: center;
}

.properties-color-Wrapper form {
    max-height: 120px;
    overflow-y: scroll;
}

.properties-color-Wrapper .sectionLabelDiv {
    position: absolute;
    top: 7px;
    left: 16px;
    background-color: #fff;
    padding: 5px;
    font-weight: bold;
}

.properties-color-Wrapper hr {
    margin-bottom: 15px;
    border-top: 0px solid #e9e9e9;
}

.properties-color-Wrapper .read_more {
    font-weight: normal;
    font-size: 11px;
    font-family: Open Sans;
    color: #3CBBC9;
}

.properties-color-list .sectionLabelDiv {
    position: relative;
    top: 0px;
    left: 0px;
    background-color: transparent;
    padding: 0px;
    font-weight: normal;
    font-size: 11px;
    font-family: Open Sans;
}

.properties-color-list {
    display: inline-block;
    width: 94px;
    margin: 5px;
}

.properties-color-img {
    display: block;
    position: relative;
    width: 28px;
    height: 28px;
    margin: 0 auto;
}

.properties-color-list .product-life-cycle-circle-icon {
    margin: 0 auto;
    float: none;
    height: 25px;
    width: 25px;
}

.properties-color-name {
    display: block;
    text-align: center;
    width: 94px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.properties-color-name form {
    overflow: hidden !important;
    max-height: inherit !important;
}

.properties-color-name .sectionLabelDiv {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/*----Property View section End ---- */


/* costing start */

.defination-Wrapper {
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    float: right;
    text-align: right;
    position: relative;
    padding-top: 10px;
}

.defination-dropdown {
    display: inline-block;
}

.confirm_icon {
    width: 75px;
    line-height: 5px;
    vertical-align: middle;
    display: inline-block;
    margin: 0 0 0 -1px;
    text-align: center;
    padding: 50px 24px;
    border-radius: 3px 0 0 3px;
    background: linear-gradient(107.22deg, rgba(67, 206, 205, 1) -34.51%, rgba(31, 109, 183, 1) 109.91%);
}

.confirm_msg {
    vertical-align: middle;
    display: inline-block;
    width: calc(100% - 74px);
    padding-left: 15px;
    padding-right: 15px;
}

.mat-dialog-container {
    padding: 0;
    border-radius: 3px;
    box-shadow: 0 64px 64px 0 rgba(0, 0, 0, .02), 0 32px 32px 0 rgba(0, 0, 0, .02), 0 16px 16px 0 rgba(0, 0, 0, .02), 0 8px 8px 0 rgba(0, 0, 0, .02), 0 4px 4px 0 rgba(0, 0, 0, .02), 0 2px 2px 0 rgba(0, 0, 0, .02);
}

.confirm_msg {
    vertical-align: middle;
    display: inline-block;
    width: calc(100% - 74px);
    padding-left: 15px;
    padding-right: 15px;
}

.mat-dialog-title {
    display: block;
    font-size: 12px;
    margin: 0;
    padding: 0 0 2px;
    line-height: normal;
    font-weight: 700;
    color: #4a4a4a;
}

.mat-dialog-content {
    padding: 0;
    margin: 0;
    font-family: Open Sans;
    font-size: 11px;
    color: #4a4a4a;
}

.mat-dialog-actions {
    display: block;
    text-align: right;
}

.mat-dialog-actions {
    padding: 12px 0;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -24px;
}

.mat-dialog-actions .button {
    color: #4dbbc9;
    margin-right: 0;
    padding-right: 0;
}

.mat-dialog-actions .button {
    border: none;
    outline: 0;
    color: #fff;
    padding: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    margin: 0 5px;
    cursor: pointer;
    background: 0 0;
}

.mat-dialog-actions .delete_yes {
    color: #4a4a4a;
}


/* costing end*/


/* costing end*/