.folder-right {
    float: right;
    text-align: right;
}

.add-folder-wrapper {
    float: right;
}

:host ::ng-deep .asset_action {
    float: left !important;
}

.add-button-container {
    padding-right: 0px;
    float: right;
    border-left: 1px solid #F3F3F3;
    padding: 20px 20px;
}

:host ::ng-deep .mat-select-arrow {
    border-left: none;
    border-right: none;
    border-top: none;
    width: 6px;
    margin-top: 4px;
    height: 4px;
    content: "";
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAECAYAAACtBE5DAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABvSURBVHgBAWQAm/8BTLbwZf0JBre3QQrkAAAAAE7P92X/BgLGBAQFA/ECA/+sScj2VAcIAFcABQNVAgYFtwEAAAAATcr2VgIEAYEBBwLxAgYGVK4lAeQAAAAAAAAAAABT1/tHUtv/HAAAAAAAAAAAQLIbkC0tYb4AAAAASUVORK5CYII=")no-repeat;
}

:host ::ng-deep .mat-select-disabled .mat-select-arrow {
    width: 0px !important;
}

.image-wrapper {
    display: inline-block;
}

.userimage {
    max-width: 100%;
    min-height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: -100%;
    left: -100%;
    right: -100%;
    bottom: -100%;
    margin: auto;
    display: block;
}

.chat {
    display: inline-block;
    margin-right: 5px;
}

.like {
    display: inline-block;
}

.like svg:hover path {
    stroke: #3CBBC9;
}

.chat svg:hover path {
    stroke: #3CBBC9;
}

.no-padding {
    padding-left: 0px;
    padding-right: 0px;
}

.action-icon {
    float: left;
    margin: 1px 4px 0px 0px;
}

:host ::ng-deep .mat-select-value-text {
    font-family: Open Sans;
    font-size: 11px;
    color: #4A4A4A;
}

:host ::ng-deep .mat-select {
    width: 80%;
}

.createdby {
    display: inline-block;
    font-size: 11px;
    color: #4A4A4A;
    text-align: left;
    margin-top: -1px;
    margin-left: 5px;
    vertical-align: top;
}


.createduser {
    width: 160px;
    padding: 32px 0px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

.type-container {
    width: 120px;
    padding: 32px 10px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.folderlike {
    width: 100px;
    font-size: 11px;
    color: #4A4A4A;
    padding: 36px 10px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

.folderlike svg {
    margin-right: 6px;
}

 :host ::ng-deep .add-folder {
    background: linear-gradient(130.38deg, #43CECD 14.73%, #1F6DB7 151.29%);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.02), 0px 4px 4px rgba(0, 0, 0, 0.02), 0px 8px 8px rgba(0, 0, 0, 0.02), 0px 16px 16px rgba(0, 0, 0, 0.02), 0px 32px 32px rgba(0, 0, 0, 0.02), 0px 64px 64px rgba(0, 0, 0, 0.02);
    border-radius: 3px;
    border: none;
    cursor: pointer;
    width: 45px;
    height: 45px;
    padding-top: 8px;
    float: right;
}

 :host ::ng-deep .add-folder:hover {
    background: linear-gradient(130.38deg, #43CECD 14.73%, #1F6DB7 151.29%);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05), 0px 4px 4px rgba(0, 0, 0, 0.05), 0px 4px 14px rgba(66, 204, 204, 0.38853);
    border-radius: 3px;
}

 :host ::ng-deep .add-folder:focus {
    background: linear-gradient(130.38deg, #43CECD 14.73%, #1F6DB7 151.29%);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05), 0px 4px 4px rgba(0, 0, 0, 0.05), 0px 8px 35px rgba(66, 204, 204, 0.38853);
    border-radius: 3px;
    outline: none;
}

.owner {
    font-family: Open Sans;
    font-size: 9px;
    text-align: left;
    color: #9B9B9B;
    letter-spacing: 0;
}

::ng-deep .mat-select-panel:not([class*=mat-elevation-z]) {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.02), 0px 4px 4px rgba(0, 0, 0, 0.02), 0px 8px 8px rgba(0, 0, 0, 0.02), 0px 16px 16px rgba(0, 0, 0, 0.02), 0px 32px 32px rgba(0, 0, 0, 0.02), 0px 64px 64px rgba(0, 0, 0, 0.02);
}

::ng-deep .mat-select-content {
    background: #FFFFFF;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.02), 0px 4px 4px rgba(0, 0, 0, 0.02), 0px 8px 8px rgba(0, 0, 0, 0.02), 0px 16px 16px rgba(0, 0, 0, 0.02), 0px 32px 32px rgba(0, 0, 0, 0.02), 0px 64px 64px rgba(0, 0, 0, 0.02);
    border-radius: 2px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    color: #4A4A4A;
}

::ng-deep .mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
    font-weight: bold;
    background: #fff;
}

::ng-deep .mat-option:focus:not(.mat-option-disabled),
.mat-option:hover:not(.mat-option-disabled) {
    background: #FBFBFB;
    color: #3CBBC9;
}

::ng-deep .mat-option-text svg {
    vertical-align: middle;
}

::ng-deep .mat-select-panel:not([class*=mat-elevation-z]) {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.02), 0px 4px 4px rgba(0, 0, 0, 0.02), 0px 8px 8px rgba(0, 0, 0, 0.02), 0px 16px 16px rgba(0, 0, 0, 0.02), 0px 32px 32px rgba(0, 0, 0, 0.02), 0px 64px 64px rgba(0, 0, 0, 0.02) !important;
}