<div class="avatar" [id]="jsonDef?.attribute?.itemid" [style.width]="getWidth" [style.height]="getHeight">
    <img mat-card-avatar  [title]="getInitial()" *ngIf="imageUrl !== ''" [src]="imageUrl">
    <app-wfxlabel *ngIf="imageUrl===''" #lbl [ParentComponent]="componentObject"
    [itemJsonDef]="labelJsonDef" [(sectionJsonData)]="labelJsonData">
    </app-wfxlabel>
</div>
