<!-- <mat-spinner *ngIf="showSpiner"></mat-spinner> -->
<div class="like select" *ngIf="visible && jsonData" [class.svgLike]="isLike">
  <a class="likeCount" (click)="onShowDetailsClick()" [title]="likeCount">{{likeCount}}</a>
  <svg (click)="onLikeClick($event)"  [style.width]="width" [style.height]="height" viewBox="0 0 12 10"
      version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <title>{{title}}</title>
      <g id="svgLike" fill="none">
          <g id="Stroke 737">
              <path
                  d="M 5.11429 8.59C 5.11429 8.59 10.2286 5.15427 10.2286 2.6084C 10.2286 -0.327425 6.04416 -1.25679 5.11429 2.31465C 4.18442 -1.25679 0 -0.327425 0 2.6084C 0 5.15427 5.11429 8.59 5.11429 8.59Z"
                  stroke-width="0.7" stroke-linejoin="round" transform="translate(0.382843 1)" stroke="#9B9B9B" />
          </g>
      </g>
  </svg>
</div>
