<mat-dialog-content class="likes-popup-scroll select">
    <div class="total-likes">
        {{likeCount + (likeCount > 1 ? ' Likes' : ' Like')}}
    </div>
    <div>
        <ul class="user-likes">
            <li *ngFor="let user of users">
                <div class="img-container img-round">
                    <app-avatar [jsonDef]="avatarDef" [jsonData]="avatarData(user)"></app-avatar>
                </div>
                <div class="align-self-start user-text">{{user.fullName}}</div>
            </li>
        </ul>
    </div>
</mat-dialog-content>