<div class="toolbar-container select">

    <div class="toolbar-left-panel" *ngIf="itemGlobal.currentSelectedTab.Code === 'LIBRARY'">
        <div class="search-wrapper">
            <app-wfx-quick-search *ngIf="itemGlobal.currentView.toString() === 'GALLERY'" #quickSearch>
                
            </app-wfx-quick-search>
        </div>
        <div class="record-count">
            <app-wfx-record-count></app-wfx-record-count>
        </div>
    </div>


    <div class="view-options-wrapper" *ngIf="itemGlobal.currentSelectedTab.Code === 'LIBRARY'">
        <app-wfx-viewoptions [jsonDef]="viewoptionsJsonDef" [jsonData]="viewoptionsjsondata" (optionTypeChange)="onViewTypeChange($event)" (clickGalleryView)=OnClickThumbNailView() (clickListView)=OnClickListView() (clickTableView)=OnClickTableView() (sliderChange)=OnSliderChange($event)>
        </app-wfx-viewoptions>
    </div>

    <div class="toolbar-right-panel" *ngIf="itemGlobal.currentSelectedTab.Code === 'LIBRARY'">
        <div class="sort-options" *ngIf="itemGlobal.currentView.toString() === 'GALLERY'">
            <app-wfxsort [jsonData]="sortJsonData" [jsonDef]="sortJsonDef" (sortTypeChange)="onSortTypeChange($event)" (orderTypeChange)="onOrderTypeChange($event)"></app-wfxsort>
        </div>

        <div class="advanced-filters" *ngIf="itemGlobal.currentView.toString() === 'GALLERY'">
            <a [class.filter-applied]="filter.isFilterApplied" (click)="openAdvanceSearch();">
                <svg width="18" height="13" viewBox="0 0 15 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path id="Stroke 4782"
                    d="M2.95652 1.47826C2.95652 2.29426 2.29426 2.95652 1.47826 2.95652C0.662261 2.95652 0 2.29426 0 1.47826C0 0.662261 0.662261 0 1.47826 0C2.29426 0 2.95652 0.662261 2.95652 1.47826Z"
                    transform="translate(6.02173 1.21739)" stroke="#4A4A4A" stroke-linecap="round"
                    stroke-linejoin="round" />
                <path id="Stroke 4783" d="M0 0H4.82135" transform="translate(8.97681 2.69566)" stroke="#4A4A4A"
                    stroke-linecap="round" stroke-linejoin="round" />
                <path id="Stroke 4784" d="M0 0H4.78661" transform="translate(1.23254 2.69566)" stroke="#4A4A4A"
                    stroke-linecap="round" stroke-linejoin="round" />
                <path id="Stroke 4785"
                    d="M2.95652 1.47826C2.95652 2.29426 2.29426 2.95652 1.47826 2.95652C0.662261 2.95652 0 2.29426 0 1.47826C0 0.662261 0.662261 0 1.47826 0C2.29426 0 2.95652 0.662261 2.95652 1.47826Z"
                    transform="translate(3.06525 5.65218)" stroke="#4A4A4A" stroke-linecap="round"
                    stroke-linejoin="round" />
                <path id="Stroke 4786" d="M0 0H7.77861" transform="translate(6.01886 7.13043)" stroke="#4A4A4A"
                    stroke-linecap="round" stroke-linejoin="round" />
                <path id="Stroke 4787" d="M0 0H1.83009" transform="translate(1.23254 7.13043)" stroke="#4A4A4A"
                    stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            </a>
        </div>

    </div>
    <div class="defination-Wrapper" *ngIf="itemGlobal.currentSelectedTab.Code === 'COSTING'">
        <!-- <div class="select-label">{{DefaultItemJsonDef.label}}</div> -->
        <app-wfxlabel [itemJsonDef]="wfxLabelJsonDef" [sectionJsonData]="wfxLabelJsonData"></app-wfxlabel>
        <div class="defination-dropdown">
            <app-wfxselect #ddlCostSheetDef [ParentComponent]="componentObject"
            (sectionJsonDataChange)="onViewTypeChange($event)"
            [selectOptionList]="arrCoshSheetDefJsonData"  [itemJsonDef]="itemJsonDef[0]"
            [sectionJsonData]="headerJsonData"></app-wfxselect>
        </div>
    </div>

</div>
