<div class="bottomPanel select" 
[ngClass]="{'bottomPanelOpenHeight': itemGlobal.arrSelectedItemId.length>=1, 'bottomPanelCloseHeight': itemGlobal.arrSelectedItemId.length==0}">
    <div class="bottomPanelWrapper">
        <div class="bottomleft">
            <div class="bottom-checkbox">
                <app-wfxcheckbox (sectionJsonDataChange)="onCheckboxChange($event)" [itemJsonDef]="checkboxJsonDef" [(sectionJsonData)]="checkboxJsonData"></app-wfxcheckbox>
            </div>
            <!-- <label >{{selectedItemIds.length}} Screen Selected</label> -->
            <div class="bottom-label">
                <strong>{{ itemGlobal.arrSelectedItemId.length }}</strong>
                <app-wfxlabel #lbl [itemJsonDef]="wfxLabelitemJsonDef" [(sectionJsonData)]="wfxlabeljsonData"></app-wfxlabel>
            </div>
        </div>


        <div class="bottomcenter">
            <a (click)="OnShareClick()" 
            class="bottamPanelSvg tooltip" 
            [ngClass]="{'disablesvg': !shareVisible }">
                <!-- <span class="tooltiptext">Share</span> -->
                <svg width="21" height="22" viewBox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M11.3692 6C0.869226 6.5 0.327559 16.2083 1.36923 21C2.3692 13 8.86924 11.4167 11.9943 11.625V16.625L20.1193 8.5L11.3693 1L11.3692 6Z" stroke="#9B9B9B" stroke-linejoin="round"/>
                  </svg>

            </a>
            <a (click)="OnUpdateClick()"  
            class="bottamPanelSvg tooltip"
            [ngClass]="{'disablesvg': !multiarticleUpdateVisible }">
                <!-- <span class="tooltiptext">Multi Article Update</span> -->
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0.899999 18.7501L0.899998 19.1001H1.25L18.4608 19.1001H18.8108V18.7501V10.9385H19.3608V18.7501C19.3608 19.2472 18.9579 19.6501 18.4608 19.6501L1.25 19.6501C0.75294 19.6501 0.35 19.2472 0.35 18.7501V2.42675C0.35 1.9297 0.75294 1.52676 1.25 1.52676H9.5054V2.07675L1.25 2.07675L0.899999 2.07675V2.42675L0.899999 18.7501Z" stroke="#9B9B9B" stroke-width="0.7"/>
                  <path d="M5.88317 15.3215L5.85494 15.7954L6.33349 15.6672L9.32792 14.8652L9.43945 14.8353L9.51226 14.7488L18.4811 4.09394L18.7065 3.82618L18.4289 3.61305L15.6112 1.44994L15.3335 1.23681L15.1081 1.50458L6.13926 12.1594L6.06645 12.2459L6.05987 12.3564L5.88317 15.3215ZM9.76129 15.3061L5.24954 16.5146L5.51576 12.047L15.2515 0.481135L19.497 3.74032L9.76129 15.3061Z" stroke="#9B9B9B" stroke-width="0.7"/>
                  <path d="M15.1081 1.50444L15.3335 1.23667L15.6112 1.4498L18.4289 3.61291L18.7065 3.82604L18.4811 4.0938L17.7756 4.932L17.5502 5.19977L17.2725 4.98664L14.4548 2.82353L14.1772 2.6104L14.4026 2.34264L15.1081 1.50444ZM17.6323 5.95544L19.497 3.74018L15.2514 0.480994L13.3867 2.69625L17.6323 5.95544Z" stroke="#9B9B9B" stroke-width="0.7"/>
                  </svg>


            </a>
            <a (click)="OnGenerateTechPackClick()"  class="bottamPanelSvg tooltip" 
            [ngClass]="{disablesvg: selecteditemisGreaterThanTen}"
            [class.disablesvg]="!generateTechpackVisible">
                <!-- <span class="tooltiptext">Generate Techpack</span> -->
                <svg width="21" height="23" viewBox="0 0 21 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect x="4.32629" y="3.46484" width="12.6046" height="16.4916" rx="0.5" stroke="#9E9E9E" stroke-linejoin="round"/>
                  <rect x="9.47298" y="1.39679" width="12.6046" height="16.4916" rx="0.5" transform="rotate(30.9977 9.47298 1.39679)" fill="white" stroke="#9E9E9E" stroke-linejoin="round"/>
                  <path d="M9.83216 5.03467L16.7278 9.17761" stroke="#9B9B9B" stroke-width="0.5"/>
                  <path d="M8.45118 7.33301L15.3468 11.4759" stroke="#9B9B9B" stroke-width="0.5"/>
                  <path d="M7.0702 9.63184L13.9658 13.7748" stroke="#9B9B9B" stroke-width="0.5"/>
                  <path d="M5.68922 11.9302L12.5849 16.0731" stroke="#9B9B9B" stroke-width="0.5"/>
                  <path d="M4.30824 14.229L11.2039 18.3719" stroke="#9B9B9B" stroke-width="0.5"/>
                  </svg>





            </a>
            <div class="toggle_container">
                <app-wfx-extendedmenu MouseOutColor='9B9B9B' MouseOverColor='3CBBC9' (moreClick)="onContextMenu($event)" style="cursor: pointer;">
                </app-wfx-extendedmenu>
                <ul *ngIf="bottomMenusVisible" class="toggle_dropdown">
                    <li *ngFor="let element of extendedMenusArry; let first = first; let i = index">
                        <a href="#" (click)="menuClick(element)">{{element.text}}</a>
                        <ul>
                            <li *ngFor="let subelement of element.subMenus">
                                <a href="#" (click)="menuClick(subelement)">{{subelement.text}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div class="bottomright"><i><b>drag</b> or <b>shift+click</b> to select, <b>ctrl+a</b> to select all, <b>esc</b> to deselect all</i></div>

    </div>
</div>