<div *ngIf="!isBookmarked">
    <a (click)="onBookmarkClick()">
        <svg width="10" height="16" viewBox="0 0 9 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.3 13.9154L4.65 10.2654L1 13.9154V1H8.3V13.9154Z" stroke="#4A4A4A" stroke-width="0.7" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
    </a>
</div>
<div *ngIf="isBookmarked" class="bookmark-stroke-color">
    <a (click)="onBookmarkClick()">
        <svg width="10" height="16" viewBox="0 0 9 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.3 13.9154L4.65 10.2654L1 13.9154V1H8.3V13.9154Z" stroke="#4A4A4A" stroke-width="0.7" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
    </a>
</div>