<div>
    <div class="filter-area-left">
        <app-wfxtextarea class="widgetcont" #txt (OnChange)="onTexAreaInput($event)" [itemJsonDef]="getTextAreaJsonDef(filtertype)" [sectionJsonData]="getTextAreaJsonData(filtertype)">
        </app-wfxtextarea>
    </div>
    <div class=" filter-area-right arrow" *ngIf="filtertype.controlType !='TEXT'">
        <a>
            <svg width="5" height="7" viewBox="0 0 5 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path id="Asset Type" opacity="0.9" fill-rule="evenodd" clip-rule="evenodd"
                                    d="M3.75004 4.49996C3.75 4.77614 3.97386 4.99999 4.25004 4.99996L4.50003 4.99997C4.77621 4.99994 5.00011 4.77603 5.00015 4.49985L4.99995 0.750055L5.00011 0.499895C5.00014 0.223717 4.77628 -0.000140265 4.5001 -0.000105199L4.25012 -0.000118686C4.2456 -0.000151054 4.24094 2.6974e-05 4.2365 7.01324e-05L0.499974 2.6974e-05C0.223795 6.20402e-05 6.20402e-05 0.223795 2.6974e-05 0.499974L4.0461e-05 0.74996C5.3948e-06 1.02614 0.223862 1.25 0.500041 1.24996H3.75004V4.49996Z"
                                    transform="translate(1.53564 7.07107) scale(1 -1) rotate(45)"
                                    fill="url(#paint0_linear)" />
                                <defs>
                                    <linearGradient id="paint0_linear" x2="1" gradientUnits="userSpaceOnUse"
                                        gradientTransform="translate(2.5 4.86182) scale(4.87574) rotate(-90)">
                                        <stop stop-color="#4DB4F0" />
                                        <stop offset="1" stop-color="#50D7F8" />
                                    </linearGradient>
                                </defs>
                            </svg>
        </a>
    </div>
</div>