<app-wfxtab [itemJsonDef]="tabJsonDef" (OnClick)="onTabViewChangeEvent($event)"></app-wfxtab>
<app-wfxtextbox #txt [ParentComponent]="componentObject" [itemJsonDef]="itemJsonDef[0]" [(sectionJsonData)]="jsonData"></app-wfxtextbox>

<app-wfxselect #select [ParentComponent]="componentObject" [selectOptionList]="selectValues" [itemJsonDef]="itemJsonDef[3]" [(sectionJsonData)]="jsonData"></app-wfxselect>

<app-wfxlabel #lbl [ParentComponent]="componentObject" [itemJsonDef]="itemJsonDef[0]" [(sectionJsonData)]="lblJsonData"></app-wfxlabel>


<app-avatar [jsonData]="avatarjsonData"></app-avatar>

<app-wfx-slider #sliderRef [jsonData]=sliderJsonData [jsonDef]=sliderJsonDef (SliderValueChange)=onChange($event)>
</app-wfx-slider>

<app-wfxslidetoggle #slidetoggle [ParentComponent]="componentObject" [itemJsonDef]="itemJsonDef[4]" [(sectionJsonData)]="jsonData"></app-wfxslidetoggle>


<app-like #like [jsonDef]="likeJsonDef" [jsonData]="likeJsonData">
</app-like>


<app-wfx-bookmark [jsonDef]='bookMarkJsonDef' [jsonData]="bookMarkJsonData" (bookmarkclick)="onbookmarkclick($event)"></app-wfx-bookmark>

<app-wfx-comment (commentClick)="onCommentClick()" [jsonDef]="commentDefValue" [jsonData]="commentJsonData">
</app-wfx-comment>


<app-wfx-card [jsonData]="card" [jsonDef]='cardJsonDef'></app-wfx-card>


<div>
    <app-wfxtextarea #txta [ParentComponent]="componentObject" [itemJsonDef]="textAreaJsonDef" [(sectionJsonData)]="textAreajsonData"></app-wfxtextarea>
</div>