
<app-comment-list *ngIf="currentSelectedView() === 2" #comment [jsonData]="commentListJsonData" [jsonDef]="commentDetailDefValue"></app-comment-list> 
 
<app-wfx-filter id="filterBlock" [(filter)]="filter" (filterChange)="onFilterChange($event);" (filterApplied)="onFilterApplied($event)" (applyFilterChange) ="onApplyFilterChange($event)" [jsonDef]="FilterJsonDef"></app-wfx-filter>

<app-wfx-property-view *ngIf="currentSelectedView() === 1" [jsonDef]='propertyViewJsonDef' [jsonData]='propertyViewDetailJsonData'></app-wfx-property-view>