<mat-form-field class="chip-list" *ngIf="itemGlobal.appliedFilterChips && itemGlobal.appliedFilterChips.isFilterApplied && itemGlobal.appliedFilterChips.arrFilterType.length>0">
    <mat-chip-list ariaOrientation='horizontal' #chipList>
        <mat-chip [selectable]="selectable" (click)="onClearFilter();">
            <span class="filter-type">Clear All Filters</span>
        </mat-chip>
        <ng-template ngFor let-filtertype [ngForOf]="itemGlobal.appliedFilterChips.arrFilterType">
            <mat-chip
                *ngIf="getSelectedFilter(filtertype) !== '' && getSelectedFilter(filtertype) !== undefined && getSelectedFilter(filtertype) !== null"
                [selectable]="selectable" [removable]="removable" (removed)="remove(filtertype)">
                <app-wfxlabel #lbl [ParentComponent]="componentObject" [sectionJsonData]="jsonData(filtertype)"
                    [itemJsonDef]="itemJsonDef(filtertype)">
                </app-wfxlabel>
                <span matChipRemove *ngIf="removable">
                    <svg width="7" height="7" viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path id="+ copy 3"
                            d="M4.78271 10.2065H7.80029V11.2173H4.78271V14.3374H3.76465V11.2173H0.761719V10.2065H3.76465V7.07178H4.78271V10.2065Z"
                            transform="translate(8.14209 -7) rotate(45)" fill="#4A4A4A" />
                    </svg>
                </span>
            </mat-chip>
        </ng-template>
        <mat-chip>
            <a (click)="onSaveSearchClick()" title="Save Search">
                <svg width="13" height="11" viewBox="0 0 13 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M7.20567 1H1C0.447715 1 0 1.44772 0 2V8C0 8.55229 0.447715 9 1 9H7V8H1V2H7.6196L8.62057 1H10V5H11V1C11 0.447715 10.5523 0 10 0H8.20664L7.20567 1ZM8 8H10V6H11V8C11 8.55229 10.5523 9 10 9H8V8Z"
                        fill="#4A4A4A" />
                    <path d="M10.5 6.5V10.5" stroke="#4A4A4A" stroke-linecap="square" />
                    <path d="M8.5 8.5H12.5" stroke="#4A4A4A" stroke-linecap="square" />
                </svg>
            </a>
        </mat-chip>
    </mat-chip-list>
</mat-form-field>
