<app-wfxspinner *ngIf="showPageLoading"></app-wfxspinner>
<app-wfxlayout *ngIf="colDef">
    <app-wfxlinkbutton #linkbtn [ParentComponent]="componentObject" [itemJsonDef]="linkButtonJsonDef" (OnClick)="linkButtonOnClick($event);"></app-wfxlinkbutton>
    <!-- <app-wfxtitlebar #pageTitleBarCostSheet [itemJsonDef]="titleBarJsonDef" (OnClick)="titleBarOnClick($event);">
    </app-wfxtitlebar> -->
    <!--<app-wfxselect #ddlCostSheetDef [ddlLoading]="ddlLoading" [ParentComponent]="componentObject" [selectOptionList]="arrCoshSheetDefJsonData" [itemJsonDef]="itemJsonDef[0]" [(sectionJsonData)]="headerJsonData" (OnChange)="ddlCostSheetTypeOnChange($event)"></app-wfxselect>-->
    <app-wfxgrid #gridWFXPLMCostSheet [gridProperties]="{id: 'gridWFXPLMCostSheet'}" [suppressLoadingOverlay]="false" [ParentComponent]="componentObject" [dataKeyField]="'costing_id'" [colDef]="colDef" [gridApi]="gridApi" [rowData]="gridJsonData" [gridColumnApi]="gridColumnApi"
        (gridReady)="OnGridReady($event)" [rowSelection]="'multiple'" [rowGroupPanelShow]="headerRowGroup" [floatingFilter]="floatingFilter" [sideBar]="sideBar" [sizeColumnToFitAfterOpenCloseSideBar]="false" (cellValueChanged)="OnEveryCellValueChanged($event)"
        [groupIncludeTotalFooter]="true" [deltaColumnMode]="true" [autoSizeAllColumn]="false">
    </app-wfxgrid>
    <!-- <app-wfxgrid #gridWFXPLMCostSheet [gridProperties]="{id: 'gridWFXPLMCostSheet1'}" [suppressLoadingOverlay]="false" [ParentComponent]="componentObject" [dataKeyField]="'CostSheetID'" [columnDefs]="columnDefs" [gridApi]="gridApi1" [rowData]="gridJsonData"
        [gridColumnApi]="gridColumnApi1" (gridReady)="OnGridReady($event)" [rowSelection]="'multiple'" [rowGroupPanelShow]="headerRowGroup" [floatingFilter]="floatingFilter" [sideBar]="sideBar" [quickFilter]="true" [sizeColumnToFitAfterOpenCloseSideBar]="false">
    </app-wfxgrid> -->
</app-wfxlayout>