<!--<div class="filterchip-Wrapper">
    <app-wfx-filterchip style="width: 100%;" [(filter)]="filter" (chipFilterChange)="onchipFilterChange($event)"></app-wfx-filterchip>
</div>
<app-wfxspinner *ngIf="itemGlobal.isSpinnerLoadingGalleryView"></app-wfxspinner>
 <div class="thumbnail-padding">
    <div id="cardLoadDiv"   appKeyboardNavigation #divScroll
        (selectedCards)="onSelectionStart($event,true)" 
        [style.height]="viewInnerHeight + 'px'">
          <cdk-virtual-scroll-viewport [itemSize]='itemsize'  [style.height]="viewInnerHeight + 'px'" (scrolledIndexChange)="nextBatch($event)">
            <ul appSelectable (selectionStart)="Onselectiong($event)">
                <li appCtrlshiftselect  (selectedCards)="onSelectionStart($event,true)" 
                  *cdkVirtualFor="let card of itemGlobal.arrGalleryViewData;let i=index;" 
                  [attr.tabindex]="i+1" class="select card-style" id="{{card.itemId}}" 
                  [attr.data-val]="card.itemId" [index]="i" seletedid='{{card.itemId}}'>
                  <app-wfx-card  [jsonData]="card" [jsonDef]='cardJsonDef' (QuickView)='QuickView($event)' [scrollObservable]="lazyscrollObservable" [parentElement]="divScroll" (OnCardClick)="onCardClick($event);" (OnCardDoubleClick)="onCardDoubleClick($event);"></app-wfx-card>
                </li>
            </ul>
        </cdk-virtual-scroll-viewport>
    </div>-->
    <!-- <div id="cardLoadDiv"  *ngIf="itemGlobal.isSpinnerLoadingGalleryView===false && globals.arrGalleryViewItemData.length===0" class="galleryViewDataNotFound">
        No Data Found
      </div> -->
      <!-- *ngIf="itemGlobal.isSpinnerLoadingGalleryView===false && globals.arrGalleryViewItemData.length===0" -->
<!--</div> -->
<div class="filterchip-Wrapper">
  <app-wfx-filterchip style="width: 100%;" [(filter)]="filter" (chipFilterChange)="onchipFilterChange($event)"></app-wfx-filterchip>
</div>
<app-wfxspinner *ngIf="itemGlobal.isSpinnerLoadingGalleryView"></app-wfxspinner>
  <div id="cardLoadDiv" appLoadmore appKeyboardNavigation #divScroll       
  (selectedCards)="onSelectionStart($event,true)" 
  (selecAllItems)="selectAllItems($event)"  [childWidth]="200" [childHeight]="272"  [items]="itemGlobal.arrGalleryViewItemData"  (update)="scrollItems = $event"
  (change)="onMoreCardLoad($event)"
  [style.height]="viewInnerHeight + 'px'" style="overflow: scroll" class="thumbnail-padding">  
          <ul appSelectable (dragDselection)="ondragDselection($event);" 
          (dragSelection)="ondragSelection($event)" (selectionStart)="Onselectiong($event)">
              <li appCtrlshiftselect  #li  (shiftselection)="onshiftSelection($event)"
              *ngFor="let card of itemGlobal.arrGalleryViewItemData;let i=index;" 
              [attr.tabindex]="i+1" class="select card-style" 
              id="{{card.itemId}}" [attr.data-val]="card.itemId" 
              seletedid='{{card.itemId}}'>
                  <app-wfx-card [jsonData]="card" [jsonDef]='cardJsonDef'
                  (QuickView)='QuickView($event)' [scrollObservable]="lazyscrollObservable"
                  [parentElement]="divScroll"
                  (OnCheckBoxClick)="onCardSelect($event);"
                  (OnCardDoubleClick)="onCardDoubleClick($event);"
                  (contextMenuOptionClick)="contextMenuOptionClick($event)"
                  (plcStatusClick)="onPlcStatusClick($event)"></app-wfx-card>
              </li>

          </ul>    

  

</div>