::ng-deep .contextMenu_item .dropdown-menu li { position: absolute;float: inherit;}
::ng-deep .contextMenu_item .dropdown-menu li a.hasSubMenu::before { content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAGCAYAAADkOT91AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABxSURBVHgBAWYAmf8AT9T4R1PX+0cAAAAAAAAAAAIA9v7W/f3+gVDV+VYAAAAAAQAAAABPyvYdAQoDqwABAI4CAAAAAPf39wD/+f4AA/8C8QJGsO0dCAAHq/76/46tLAW5AgYHBRz/9/+OszkKqgAAAACIfiX6V+5pkgAAAABJRU5ErkJggg==) !important;
  width: 4px;
  z-index: 999;
  height: 6px;
  margin: auto; } 