<context-menu   #basicMenu>
    <div *ngIf="contextMenuActions">
        <ng-container *ngFor="let menuitem of contextMenuActions.contextMenu"  >
            <ng-template  let-item contextMenuItem [subMenu]="menuitem.subMenus&&subMenuMove"  (execute)="menuitem.click($event.item)">
                {{menuitem.text}}
                </ng-template>
                <context-menu #subMenuMove>
                    <ng-template *ngFor="let subMenu of menuitem.subMenus"  contextMenuItem (execute)="subMenu.click($event.item)">   {{subMenu.text}}
                        </ng-template>
                        </context-menu>
                        </ng-container>
    </div>
    </context-menu>