<mat-card *ngIf="visible" [id]="jsonData.itemId" [ngClass]="checkbox ? 'wfx_card card-selected':'wfx_card'" [style.width]="getCardWidth" [style.height]="getCardHeight" (dblclick)="OnDoubleClick(jsonData);" (mouseover)="OnCardMouseOver(jsonData.itemId);" (mouseout)="OnCardMouseOut(jsonData.itemId);">
    <div mat-card-image [ngClass]="checkbox ? 'selected_cardimage_container card_image_container':'card_image_container'" class="card_image_container" [style.width]="getCardImageWidth" [style.height]="getCardImageHeight">
        <span *ngIf="checkbox == false" [ngClass]="checkbox ? 'more-opt':'more-opt show'">
            <a>
                <app-wfx-extendedmenu MouseOutColor='9B9B9B' MouseOverColor='3CBBC9'
                    (extendedMenuClick)="onmenuClick($event,jsonData.itemId);">
                </app-wfx-extendedmenu>
            </a>
        </span>

        <div class="card-checkbox" [style.opacity]="checkboxOpacity ? 1 : 0">

            <app-wfxcheckbox (OnChange)="onCheckboxChange($event,jsonData)" [itemJsonDef]="checkboxJsonDef" [sectionJsonData]="jsonData"></app-wfxcheckbox>

            <!-- <mat-checkbox type="checkbox"   [ngModel]="checkbox"   (change)="onCheckboxChange($event,jsonData)"></mat-checkbox> -->
        </div>
        <img (click)="OnClick(jsonData);closeAllContextMenu($event);" [ngClass]="checkboxOpacity ? 'selected_cardimage card_image card_image_w_h':'card_image card_image_w_h'"   [offset]="offset" [scrollObservable]="scrollObservable" [errorImage]="errorImage" (onLoad)="onLoadImage($event)" [scrollTarget]="parentElement" [defaultImage]="defaultImageURL"
            [lazyLoad]="jsonData.imageUrl">
        <a class="eye-icon  show" (click)="OnQuickViewClick(jsonData)"> <svg width="20" height="13" viewBox="0 0 20 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M18.9359 5.48339C19.5902 6.14157 19.5902 7.16277 18.9359 7.82096C17.2904 9.47619 13.9071 12.3043 10 12.3043C6.09288 12.3043 2.70962 9.47619 1.06409 7.82096C0.409767 7.16277 0.409768 6.14157 1.06409 5.48339C2.70962 3.82816 6.09288 1 10 1C13.9071 1 17.2904 3.82816 18.9359 5.48339Z"
                            stroke="#4A4A4A" stroke-linecap="round" stroke-linejoin="round" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M13.4783 6.65217C13.4783 8.57391 11.9209 10.1304 9.99999 10.1304C8.07912 10.1304 6.52173 8.57391 6.52173 6.65217C6.52173 4.73043 8.07912 3.17391 9.99999 3.17391C11.9209 3.17391 13.4783 4.73043 13.4783 6.65217Z"
                            stroke="#4A4A4A" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
        </a>


    </div>
    <div class="card_avatar" *ngIf="isAvatar">
        <!-- <app-avatar [jsonDef]=avatarJsonDef [jsonData]=avatarJsonData></app-avatar> -->
    </div>
    <mat-card-header class="card_header">

        <div [ngClass]="jsonData?.IsBookmark ? '' : 'show'">
            <app-wfx-bookmark [jsonDef]='bookMarkJsonDef' [jsonData]=bookMarkJsonData (bookmarkclick)="onbookmarkclick($event,jsonData.itemId)"></app-wfx-bookmark>
        </div>
        <div>
            <mat-card-title [style.font-size]="getCardTitleFontSize" [style.width]="getCardTitleWidth">
                {{ jsonData.itemCode || '' }}
            </mat-card-title>
            <mat-card-subtitle [style.font-size]="getCardSubTitleFontSize" [style.width]="getCardSubTitleWidth">
                {{ jsonData.itemName || '' }} </mat-card-subtitle>
            <mat-card-content [style.font-size]="getCardContentFontSize" 
            [style.width]="getCardContentWidth">
                {{ titleContent }} &nbsp;
            </mat-card-content>
        </div>
    </mat-card-header>
    <mat-card-actions>
        <div class="card-footer">
            <div class="timeAgo" *ngIf="isTimeAgo">
                <!-- <app-timeago [date]="jsonData.CreatedOn"></app-timeago> -->
            </div>
            <div class="productLifeCycleStage" *ngIf="!isLifeCycleStage">
                <div class="product-life-cycle-circle-icon" [style.background-color]="rgbProductLifeCycleStage">
                    <img *ngIf="jsonData?.plcColorChip != undefined" [src]=jsonData?.plcColorChip></div>
                <span class="show" 
                 > {{jsonData.plcName}}</span>
            </div>
            <!-- <app-like #like [jsonDef]="likeJsonDef" [jsonData]="likeJsonData" 
            (onLike)="onLikeClick($event, like)" (onShowDetails)="onShowLikeDetails()">
            </app-like> -->
        </div>
    </mat-card-actions>
</mat-card>
<app-wfx-contextmenu [contextMenuActions]=contextMenuActions (method)="onContextSelectedType($event)" #cardcontextmenu>
</app-wfx-contextmenu>