<!-- <div class="img-count-container">
        <div class="img-count">
                <app-wfxlabel  [sectionJsonData]="{Count:'showing' + 
                itemGlobal.arrGalleryViewItemData.length + 
                ' ' + 'of' + itemGlobal.recordCount?itemGlobal.recordCount + ' ' + 
                itemGlobal.recordName:'0' + ' ' +  + ' ' + itemGlobal.recordName}"
                [itemJsonDef]="wfxRecordCountJsonDef">
                </app-wfxlabel>               

        </div>
    </div> -->


    <div class="img-count-container">
                <div class="img-count">
                        <app-wfxlabel  [sectionJsonData]="{Count:getRecordCount}"
                        [itemJsonDef]="wfxRecordCountJsonDef">
                        </app-wfxlabel>               
        
                </div>
            </div>
