<form class="example-form">
    <mat-dialog-content>

        <div #commentContainer class="comment-container select" id="commentList" [style.height]="viewInnerHeight+'px'" [class.widgetcont]="commentContainer.scrollHeight > height">
            <mat-list role="list">
                <mat-list-item *ngFor="let comment of commentData" role="listItem" class="comment-line">
                    <div class="comment-block">
                        <div matLine class="row">
                            <div class="comment-user">
                                <div class="img-container">
                                    <app-avatar [jsonDef]="avatarDef" [jsonData]="avatarData(comment)">
                                    </app-avatar>
                                </div>
                                <p>{{comment?.createdBy?.fullName}}</p>
                            </div>
                            <div class="comment-date" (change)="getData(comment)">
                                <app-timeago [jsonData]="{date: comment.createdOn}"></app-timeago>
                            </div>
                        </div>
                        <div class="user-comment">
                            <div class="comment-box">
                                <div [ngClass]="{'comment-message': comment.ReadMore==1}" id=comment_text-id_{{comment.commentID}} matLine>
                                    {{comment.comment}}</div>
                                <!-- <a *ngIf="comment.ReadMore===1" (click)="onReadMoreClick(comment)" href="#" >Read More...</a>
                                <a *ngIf="comment.ReadMore===0" (click)="onReadLessClick(comment)" href="#" class="read_more">Read Less</a> -->
                                <app-wfxlinkbutton *ngIf="comment.ReadMore==1" (OnClick)="onReadMoreClick(comment);" class="read_more" [itemJsonDef]="wfxLinkButtonMoreJsonDef" [sectionJsonData]="{ ReadMore: 'ReadMore'}"></app-wfxlinkbutton>
                                <app-wfxlinkbutton *ngIf="comment.ReadMore==0" (OnClick)="onReadLessClick(comment);" [itemJsonDef]="wfxLinkButtonLessJsonDef" [sectionJsonData]="{ ReadMore: 'ReadLess'}"></app-wfxlinkbutton>
                            </div>
                            <!-- <div class="comment-count">
                                <div class="like">
                                    <app-like #likeRef [jsonDef]="likeJsonDef" [jsonData]="getLikeJson(comment.like)" (onLike)="onLikeClick(likeRef, comment)" (onShowDetails)="onShowLikeDetails(comment.like, comment.commentID)">
                                    </app-like>
                                </div>
                            </div> -->
                            <span class="example-spacer"></span>
                            <!-- <a class="reply-but" (click)="onCommentReply(comment);">Reply</a> -->

                        </div>
                    </div>
                </mat-list-item>
            </mat-list>
        </div>


        <div class='comment-textbox'>
            <app-wfxtextarea #txtcomment (OnKeyPress)="onTextValue($event)" [itemJsonDef]="textAreaJsonDef"></app-wfxtextarea>

            <a [ngClass]="{'disabled': textareavalue}" (click)="onSendClick($event, txtcomment.itemJsonDef.value, 0);">
                <svg width="20" height="18" viewBox="0 0 20 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Canvas" fill="none">
                            <g id="Group 7 Copy 3">
                                <g id="Stroke 625">
                                    <path d="M 18 0L 0 7.43478L 7.04348 10.1739L 18 0Z" stroke-linejoin="round"
                                        transform="translate(1 1)" stroke="#4A4A4A" />
                                </g>
                                <g id="Stroke 626">
                                    <path d="M 10.9565 0L 7.82609 14.4783L 0 10.1739L 10.9565 0Z" stroke-linejoin="round"
                                        transform="translate(8.04346 1)" stroke="#4A4A4A" />
                                </g>
                                <g id="Stroke 627">
                                    <path d="M 0 0L 0 6.26087L 2.73913 1.56522" stroke-linejoin="round"
                                        transform="translate(8.04346 11.1739)" stroke="#4A4A4A" />
                                </g>
                            </g>
                        </g>
                    </svg>
            </a>

            <!-- </mat-dialog-actions> -->

        </div>
    </mat-dialog-content>
</form>