/* section Link common elements*/

body {
    font-family: "Open Sans" !important;
}

::ng-deep button:focus {
    outline: 0px dotted;
    outline: 0px auto -webkit-focus-ring-color;
}

::ng-deep .PageTitleBarDiv .TitleBarDiv mat-label {
    font-weight: 300;
    max-width: 33%;
    display: inline-block;
    line-height: normal;
    font-size: 27px;
    color: #4a4a4a;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 20px;
    margin: 10px 0px;
}

::ng-deep .mat-error {
    font-size: 12px;
    font-family: "Open Sans";
}


/* section Link common elements ends*/


/* section Link button start*/

:host ::ng-deep .sectionLinkButtonDiv .mat-flat-button {
    font-size: 10px;
    color: #3cbbc9!important;
    font-weight: 400;
    line-height: 50px;
}

:host ::ng-deep .mat-flat-button:hover {
    text-decoration: underline;
}


/* section Link button end*/


/* section titlebar start*/

.TitleBarDiv {
    border-bottom: 1px solid #f3f3f3;
}

:host ::ng-deep .SectionTitleBarDiv .TitleBarDiv mat-label {
    font-weight: 300;
    max-width: 33%;
    display: inline-block;
    line-height: normal;
    font-size: 20px;
    color: #4a4a4a;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 20px;
    margin: 10px 0px;
}

 :host ::ng-deep .titleBarButtonDiv {
    max-width: 65%;
    display: inline-block;
    vertical-align: top;
    text-align: right;
    float: right;
}

 :host ::ng-deep .titleBarButtonDiv button {
    height: 15px;
    display: inline-block !important;
    cursor: pointer;
    margin: 15px 05px;
    color: #4a4a4a;
    font-size: 11px;
    line-height: 22px;
    background-color: transparent!important;
    border: 0!important;
}

:host ::ng-deep .titleBarButtonDiv .hideTitleBarButton {
    display: none !important;
}

 :host ::ng-deep .titleBarButtonDiv button:hover {
    color: #3cbbc9;
    cursor: pointer;
}

:host ::ng-deep .titleBarButtonDiv .disableTitleBarButton {
    color: #c5c1c1 !important;
    cursor: not-allowed !important;
    ;
}

:host ::ng-deep .titleBarButtonDiv .disableTitleBarButton:hover {
    color: #c5c1c1 !important;
    cursor: not-allowed !important;
    ;
}


/* section titlebar end*/


/* section inputbox start*/

:host ::ng-deep .sectionTextBoxDiv .mat-input-element {
    background-color: #fff;
    font-family: Open Sans;
    font-size: 12px;
    line-height: 13px;
    color: #4A4A4A;
    opacity: 1;
}

:host ::ng-deep .sectionTextBoxDiv .mat-form-field-label {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    line-height: 31px;
    color: #3CBBC9;
    font-size: 12px;
}

:host ::ng-deep button:focus {
    outline: 0px;
}

:host ::ng-deep .mat-input-element {
    resize: none !important;
}

:host ::ng-deep .mat-form-field-label {
    color: #3CBBC9;
}

:host ::ng-deep .mat-form-field-empty {
    color: #4A4A4A;
}


/* section inputbox start*/


/* section textarea start*/

:host ::ng-deep .sectionTextAreaDiv .ng-star-inserted .mat-input-element {
    margin: 3.45px 0 0!important;
}

:host ::ng-deep .sectionTextAreaDiv .mat-input-element {
    background-color: #fff;
    font-family: Open Sans;
    font-size: 12px;
    line-height: 20px;
    color: #4a4a4a;
    opacity: 1;
    max-height: 83px !important;
    resize: none!important;
}

:host ::ng-deep .sectionTextAreaDiv .mat-form-field-label {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 400;
    line-height: 31px;
    font-size: 12px;
    color: #3CBBC9;
}


/* section textarea ends*/


/* Button Start */

:host ::ng-deep .sectionButtonDiv .mat-raised-button {
    color: #fff;
    padding: 13px 30px;
    font-family: Open Sans;
    font-size: 12px;
    text-align: center;
    border: none;
    background: linear-gradient(100.41deg, #43cecd 14.74%, #309cc1 87.07%);
    box-shadow: 0 2px 2px rgba(0, 0, 0, .05), 0 4px 4px rgba(0, 0, 0, .05);
    border-radius: 3px;
    line-height: normal;
}

:host ::ng-deep .mat-raised-button:hover {
    box-shadow: 0 2px 2px rgba(0, 0, 0, .05), 0 4px 4px rgba(0, 0, 0, .05), 0 4px 14px rgba(66, 204, 204, .38853);
    border-radius: 3px;
    cursor: pointer;
}


/* Button End */


/* section checkbox starts*/

:host ::ng-deep .sectionCheckBoxDiv .mat-checkbox {
    width: 16px;
    display: inline-block;
    vertical-align: middle;
}

:host ::ng-deep .sectionCheckBoxDiv .mat-checkbox-layout {
    margin-bottom: 0;
    vertical-align: middle;
    margin-top: -3px;
}

:host ::ng-deep .sectionCheckBoxDiv .mat-checkbox-inner-container {
    width: 14px;
    height: 14px;
}

:host ::ng-deep .sectionCheckBoxDiv .mat-checkbox-ripple {
    opacity: 0;
}

:host ::ng-deep .sectionCheckBoxDiv .mat-checkbox-frame {
    border: 1px solid #d8d8d8;
    box-sizing: border-box;
    border-radius: 1px;
    width: 13px;
    height: 13px;
    float: right;
}

:host ::ng-deep .sectionCheckBoxDiv .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background: #3cbbc9;
    border-radius: 1px;
    width: 13px;
    height: 13px;
}

:host ::ng-deep .sectionCheckBoxDiv .mat-checkbox-label {
    font-family: Open Sans;
    font-size: 12px;
    color: #4A4A4A;
}


/* section checkbox ends*/


/* section radiobutton start*/

:host ::ng-deep .sectionRadioButtonDiv .mat-radio-outer-circle {
    height: 14px;
    width: 14px;
}

:host ::ng-deep .sectionRadioButtonDiv .mat-radio-inner-circle {
    height: 14px;
    width: 14px;
}

:host ::ng-deep .sectionRadioButtonDiv .mat-radio-label-content {
    font-family: Open Sans;
    font-size: 12px;
    color: #4A4A4A;
    padding-left: 0px;
    margin-right: 10px;
    height: 23px;
}

:host ::ng-deep .sectionRadioButtonDiv .mat-radio-ripple {
    opacity: 0;
}

:host ::ng-deep .sectionRadioButtonDiv .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background: #3cbbc9;
}

:host ::ng-deep .sectionRadioButtonDiv .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #3cbbc9;
}


/* section radiobutton ends*/


/* section select dropdown start*/

:host ::ng-deep .sectionSelectBoxDiv .mat-form-field-label {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    font-size: 12px;
    color: #3CBBC9;
}

:host ::ng-deep .sectionSelectBoxDiv .mat-select-value-text {
    font-family: Open Sans;
    font-size: 12px;
    color: #4A4A4A;
}

:host ::ng-deep .sectionSelectBoxDiv .mat-select-panel {
    font-family: Open Sans !important;
    font-size: 12px !important;
    color: #4A4A4A;
    font-weight: normal;
}

.selectOptionClass {
    font-size: 12px !important;
    font-family: Open Sans !important;
    font-weight: 300;
    height: 4em !important;
}

.selectOptionClass.mat-selected:not(.mat-option-disabled) {
    color: #3CBBC9 !important;
}

::ng-deep .mat-primary .mat-pseudo-checkbox-checked {
    background: #3CBBC9 !important;
}

::ng-deep .mat-primary .mat-pseudo-checkbox {
    width: 13px;
    height: 13px;
    border: 1px solid #d8d8d8;
}

::ng-deep .mat-primary .mat-pseudo-checkbox-checked::after {
    top: 2.4px;
    left: 1px;
    width: 7px;
    height: 3px;
}

:host ::ng-deep .sectionSelectBoxDiv .mat-select-arrow {
    border-left: none;
    border-right: none;
    border-top: none;
    width: 6px;
    margin-top: 3px;
    height: 4px;
    content: "";
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAECAYAAACtBE5DAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABvSURBVHgBAWQAm/8BTLbwZf0JBre3QQrkAAAAAE7P92X/BgLGBAQFA/ECA/+sScj2VAcIAFcABQNVAgYFtwEAAAAATcr2VgIEAYEBBwLxAgYGVK4lAeQAAAAAAAAAAABT1/tHUtv/HAAAAAAAAAAAQLIbkC0tYb4AAAAASUVORK5CYII=) no-repeat;
}

::ng-deep .mat-select-search-input {
    font-size: 12px !important;
    font-family: Open Sans !important;
}

::ng-deep .mat-select-search-inside-mat-option .mat-select-search-input {
    height: 4em !important;
}

::ng-deep .mat-select-search-no-entries-found {
    font-size: 12px;
}

.select-placeholder-container {
    display: flex;
    align-items: center;
}

.select-placeholder-container>span {
    flex: 1;
}

// .hide-dummy-option {
//     display: none !important;
// }

/* section select dropdown ends*/


/* section toggle start*/

:host ::ng-deep .sectionSlideToggleDiv .mat-slide-toggle-bar {
    position: relative;
    width: 30px;
    height: 9px;
    flex-shrink: 0;
    border-radius: 8px;
}

:host ::ng-deep .sectionSlideToggleDiv .mat-slide-toggle-thumb {
    height: 14px;
    width: 14px;
    border-radius: 50%;
}

:host ::ng-deep .sectionSlideToggleDiv .mat-slide-toggle-content {
    font-family: Open Sans;
    font-size: 12px;
    color: #4A4A4A;
}

:host ::ng-deep .sectionSlideToggleDiv .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: #3CBBC9;
}

:host ::ng-deep .sectionSlideToggleDiv .mat-slide-toggle.mat-checked .mat-ripple-element {
    background-color: transparent !important;
}

:host ::ng-deep .sectionSlideToggleDiv .mat-slide-toggle.mat-checked .mat-ripple-element {
    background-color: transparent !important;
}

:host ::ng-deep .sectionSlideToggleDiv .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: rgba(60, 187, 201, .54);
}

:host ::ng-deep .sectionSlideToggleDiv .mat-slide-toggle:not(.mat-checked) .mat-ripple-element {
    background-color: transparent !important;
}


/* section toggle ends*/


/* section datepicker starts*/

::ng-deep .mat-calendar-body {
    font-size: 10px;
}

::ng-deep .mat-datepicker-content .mat-calendar {
    width: 200px !important;
    height: 260px !important;
}

::ng-deep .mat-calendar-body-selected {
    background-color: transparent;
    border: #5FBFF2 1px solid;
    color: #5FBFF2;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.03), 0px 2px 2px rgba(0, 0, 0, 0.03), 0px 2px 5px rgba(80, 245, 243, 0.181442);
}

::ng-deep .mat-calendar-next-button::after {
    border-right-width: 0px !important;
    border-top-width: 0px !important;
    transform: translateX(0px) rotate(0deg) !important;
    background-image: url("data:image/svg+xml,%3Csvg width='9' height='9' viewBox='0 0 9 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.9' fill-rule='evenodd' clip-rule='evenodd' d='M4.85355 7.68197C4.65829 7.87723 4.34171 7.87723 4.14645 7.68197L3.96967 7.50519C3.77441 7.30993 3.77441 6.99335 3.96967 6.79809L6.26777 4.49999L3.96967 2.20189C3.77441 2.00663 3.77441 1.69005 3.96967 1.49478L4.14645 1.31801C4.34171 1.12275 4.65829 1.12275 4.85355 1.31801L7.5052 3.96966L7.68198 4.14644C7.87724 4.3417 7.87724 4.65828 7.68198 4.85354L7.5052 5.03032L4.85355 7.68197Z' fill='url(%23paint0_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='4.55377' y1='1.1061' x2='8.00144' y2='4.55376' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%234DB4F0'/%3E%3Cstop offset='1' stop-color='%2350D7F8'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
}

::ng-deep .mat-calendar-previous-button::after {
    border-left-width: 0px !important;
    border-top-width: 0px !important;
    transform: translateX(0px) rotate(0deg) !important;
    background-image: url("data:image/svg+xml,%3Csvg width='9' height='9' viewBox='0 0 9 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.9' fill-rule='evenodd' clip-rule='evenodd' d='M4.14645 7.68197C4.34171 7.87723 4.65829 7.87723 4.85355 7.68197L5.03033 7.50519C5.22559 7.30993 5.22559 6.99335 5.03033 6.79809L2.73223 4.49999L5.03033 2.20189C5.22559 2.00663 5.22559 1.69005 5.03033 1.49478L4.85355 1.31801C4.65829 1.12275 4.34171 1.12275 4.14645 1.31801L1.4948 3.96966L1.31802 4.14644C1.12276 4.3417 1.12276 4.65828 1.31802 4.85354L1.4948 5.03032L4.14645 7.68197Z' fill='url(%23paint0_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='4.44623' y1='1.1061' x2='0.998559' y2='4.55376' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%234DB4F0'/%3E%3Cstop offset='1' stop-color='%2350D7F8'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
}

::ng-deep .mat-calendar-arrow {
    display: inline-block;
    width: 10px !important;
    height: 15px !important;
    border-top-width: 0px !important;
    background-repeat: no-repeat;
    border-left: 0px solid transparent !important;
    border-right: 0px solid transparent !important;
    background-image: url("data:image/svg+xml,%3Csvg width='9' height='9' viewBox='0 0 9 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.9' fill-rule='evenodd' clip-rule='evenodd' d='M1.31791 4.85355C1.12265 4.65829 1.12265 4.34171 1.31791 4.14645L1.49469 3.96967C1.68995 3.77441 2.00653 3.77441 2.20179 3.96967L4.49989 6.26777L6.79799 3.96967C6.99325 3.77441 7.30983 3.77441 7.50509 3.96967L7.68187 4.14645C7.87713 4.34171 7.87713 4.65829 7.68187 4.85355L5.03022 7.5052L4.85344 7.68198C4.65818 7.87724 4.3416 7.87724 4.14634 7.68198L3.96956 7.5052L1.31791 4.85355Z' fill='url(%23paint0_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='7.89378' y1='4.55378' x2='4.44611' y2='8.00144' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%234DB4F0'/%3E%3Cstop offset='1' stop-color='%2350D7F8'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
}

::ng-deep .mat-calendar-arrow.mat-calendar-invert {
    transform: rotate(180deg);
    height: 9px !important;
}

::ng-deep .sectionDatePickerDiv .mat-form-field-infix {
    width: 162px !important;
}

::ng-deep .sectionDatePickerDiv .mat-form-field {
    font-family: Open Sans;
    font-size: 12px;
    color: #4A4A4A;
    line-height: normal;
    font-weight: normal;
}

::ng-deep .sectionDatePickerDiv .mat-button-wrapper svg:hover {
    fill: #5FBFF2;
}

::ng-deep .sectionDatePickerDiv .mat-form-field-empty {
    color: #5FBFF2;
}

::ng-deep .mat-button-focus-overlay,
.mat-button-ripple.mat-ripple {
    display: none;
}

::ng-deep .mat-calendar-controls {
    margin-top: 0px !important;
}


/* section datepicker ends*/


/* Tab start */

::ng-deep .sectionTabDiv .mat-tab-label {
    font-family: Open Sans;
    font-size: 11px;
    color: #4A4A4A;
    opacity: 1;
}

::ng-deep .sectionTabDiv .mat-tab-label:hover {
    color: #3cbbc9;
}

::ng-deep .sectionTabDiv .mat-ink-bar {
    background: linear-gradient(270deg, #4db4f0 0, #50f8f3 100%);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .03), 0 2px 2px rgba(0, 0, 0, .03), 0 2px 5px rgba(80, 245, 243, .181442);
    background-size: 34px 100%;
    background-position: 40% 100%;
    background-repeat: no-repeat;
    border-radius: 1px;
    height: 1.5px;
}

::ng-deep .sectionTabDiv .mat-tab-header {
    border-bottom: 0px;
}

::ng-deep .sectionTabDiv .mat-ink-bar {
    background-size: 40px 100%;
}

::ng-deep .sectionTabDiv .mat-tab-group.mat-primary .mat-ink-bar {
    background-color: transparent;
}


/* Tab End */


/* Comfirmation Dialog Start */

// ::ng-deep .ng-star-inserted {
//     display: block;
// }
 ::ng-deep .mat-dialog-container {
    padding: 0;
    border-radius: 3px;
    box-shadow: 0 64px 64px 0 rgba(0, 0, 0, 0.02), 0 32px 32px 0 rgba(0, 0, 0, 0.02), 0 16px 16px 0 rgba(0, 0, 0, 0.02), 0 8px 8px 0 rgba(0, 0, 0, 0.02), 0 4px 4px 0 rgba(0, 0, 0, 0.02), 0 2px 2px 0 rgba(0, 0, 0, 0.02);
}

.button {
    border: none;
    outline: none;
    color: white;
    padding: 2px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    margin: 0px 5px;
    cursor: pointer;
    background: none;
}

.delete_no {
    color: #4a4a4a;
    min-width: auto !important;
}

.delete_no:hover {
    color: #4dbbc9;
}

.delete_yes {
    color: #4dbbc9;
    margin-right: 0;
    padding-right: 0;
    min-width: auto !important;
}

.mat-dialog-title {
    display: block;
    font-size: 12px;
    margin: 0;
    padding: 0 0 2px 0;
    line-height: normal;
    font-weight: bold;
    color: #4a4a4a;
}

.mat-dialog-actions {
    display: block;
    text-align: right;
}

.mat-dialog-content {
    padding: 0;
    margin: 0;
    font-family: Open Sans;
    font-size: 11px;
    color: #4a4a4a
}

.confirm_icon {
    width: 75px;
    line-height: 5px;
    vertical-align: middle;
    display: inline-block;
    margin: 0 0 0 -1px;
    text-align: center;
    padding: 50px 24px;
    border-radius: 3px 0px 0px 3px;
    background: linear-gradient(107.22deg, rgba(67, 206, 205, 1) -34.51%, rgba(31, 109, 183, 1) 109.91%)
}

.confirm_msg {
    vertical-align: middle;
    display: inline-block;
    width: calc(100% - 74px);
    padding-left: 15px;
    padding-right: 15px;
}


/* Comfirmation Dialog End */


/* SnackBar Start */

.spacer {
    flex: 1 1 auto;
}

 ::ng-deep .mat-simple-snackbar {
    display: block !important;
    font-family: Open Sans!important;
}

::ng-deep .mat-snack-bar-container {
    padding: 0px !important;
}

::ng-deep snack-bar-container.snackBar-Success {
    width: 258px;
    background: #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05), 0px 4px 4px rgba(0, 0, 0, 0.05), 0px 8px 8px rgba(0, 0, 0, 0.03), 0px 16px 16px rgba(0, 0, 0, 0.03), 0px 32px 32px rgba(0, 0, 0, 0.03), 0px 64px 64px rgba(0, 0, 0, 0.03);
    border-radius: 3px;
    font-family: Open Sans;
    font-size: 11px;
    color: #FFFFFF;
    text-align: center;
}

::ng-deep .snackBar-Success .msg-icon {
    width: 16%;
    line-height: 5px;
    vertical-align: middle;
    display: inline-block;
    margin-bottom: 0px;
    text-align: left;
    padding: 25px 14px;
    border-radius: 3px 0px 0px 3px;
    background: linear-gradient(107.22deg, rgba(67, 206, 205, 1) -34.51%, rgba(31, 109, 183, 1) 109.91%);
}

 ::ng-deep .snackBar-Success .msgbox {
    font-family: Open Sans;
    white-space: normal;
    font-size: 11px;
    color: #4A4A4A;
    text-align: left;
    line-height: 14px;
    overflow-y: scroll;
    margin-bottom: 0px;
    max-height: 43px;
    vertical-align: middle;
    display: inline-block;
    width: 82%;
    padding-left: 9px;
    margin-right: 6px;
    padding-right: 14px;
}

::ng-deep snack-bar-container.snackBar-Failure {
    width: 258px;
    background: #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05), 0px 4px 4px rgba(0, 0, 0, 0.05), 0px 8px 8px rgba(0, 0, 0, 0.03), 0px 16px 16px rgba(0, 0, 0, 0.03), 0px 32px 32px rgba(0, 0, 0, 0.03), 0px 64px 64px rgba(0, 0, 0, 0.03);
    border-radius: 3px;
    font-family: Open Sans;
    font-size: 11px;
    color: #FFFFFF;
    text-align: center;
}

::ng-deep .snackBar-Failure .msg-icon {
    width: 16%;
    line-height: 5px;
    vertical-align: middle;
    display: inline-block;
    margin-bottom: 0px;
    text-align: left;
    padding: 25px 14px;
    border-radius: 3px 0px 0px 3px;
    background: linear-gradient(107.22deg, #ff9557 -34.51%, #e56666 109.91%);
}

::ng-deep .snackBar-Failure .msgbox {
    font-family: Open Sans;
    white-space: normal;
    font-size: 11px;
    color: #4A4A4A;
    text-align: left;
    line-height: 14px;
    overflow-y: scroll;
    margin-bottom: 0px;
    max-height: 43px;
    vertical-align: middle;
    display: inline-block;
    width: 82%;
    padding-left: 9px;
    margin-right: 6px;
    padding-right: 14px;
}

 ::ng-deep .snackBar-Failure .widgetcont::-webkit-scrollbar-thumb {
    border-radius: 5.5px;
    background: #ffb691;
}

 ::ng-deep snack-bar-container.snackBar-Info {
    width: 258px;
    background: #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05), 0px 4px 4px rgba(0, 0, 0, 0.05), 0px 8px 8px rgba(0, 0, 0, 0.03), 0px 16px 16px rgba(0, 0, 0, 0.03), 0px 32px 32px rgba(0, 0, 0, 0.03), 0px 64px 64px rgba(0, 0, 0, 0.03);
    border-radius: 3px;
    font-family: Open Sans;
    font-size: 11px;
    color: #FFFFFF;
    text-align: center;
}

 ::ng-deep .snackBar-Info .msg-icon {
    width: 16%;
    line-height: 5px;
    vertical-align: middle;
    display: inline-block;
    margin-bottom: 0px;
    text-align: left;
    padding: 25px 14px;
    border-radius: 3px 0px 0px 3px;
    background: linear-gradient(107.22deg, #FFEB3B -34.51%, #FFC107 109.91%);
}

 ::ng-deep .snackBar-Info .msgbox {
    font-family: Open Sans;
    white-space: normal;
    font-size: 11px;
    color: #4A4A4A;
    text-align: left;
    line-height: 14px;
    overflow-y: scroll;
    margin-bottom: 0px;
    max-height: 43px;
    vertical-align: middle;
    display: inline-block;
    width: 82%;
    padding-left: 9px;
    margin-right: 6px;
    padding-right: 14px;
}

 ::ng-deep .snackBar-Info .msg-icon svg path {
    fill: #4A4A4A;
}

 ::ng-deep .snackBar-Info .widgetcont::-webkit-scrollbar-thumb {
    border-radius: 5.5px;
    background: #fde769;
}


/* SnackBar End */


/* spinner Start */


/* Absolute Center Spinner */

.spinnerDiv {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

// /* Transparent Overlay */
.spinnerDiv:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}


/* spinner End */