<div class="extended-menu-icon" (click)="OnExtendedMenuClick($event)">

    <svg width="19" height="4" viewBox="0 0 19 4" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M1.83333 3.66666C2.84585 3.66666 3.66666 2.84585 3.66666 1.83333C3.66666 0.820811 2.84585 0 1.83333 0C0.820811 0 0 0.820811 0 1.83333C0 2.84585 0.820811 3.66666 1.83333 3.66666ZM9.16665 3.66666C10.1792 3.66666 11 2.84585 11 1.83333C11 0.820811 10.1792 0 9.16665 0C8.15413 0 7.33332 0.820811 7.33332 1.83333C7.33332 2.84585 8.15413 3.66666 9.16665 3.66666ZM18.3333 1.83333C18.3333 2.84585 17.5125 3.66666 16.4999 3.66666C15.4874 3.66666 14.6666 2.84585 14.6666 1.83333C14.6666 0.820811 15.4874 0 16.4999 0C17.5125 0 18.3333 0.820811 18.3333 1.83333Z" fill="white"/>
            </svg>

</div>