<div class="example-sidenav" [style.height]="viewInnerHeight+'px'">
    <div id="scrolliv" appShrinkingHeader class="prop-headings widgetcont properties-rightpanel" controlID='divItemImageContainer' maxSize='350' minSize='63' [style.height]="viewInnerdivHeight+'px'">
        <div id="itempropviewimg" class="fixed-header">
            <div id="divItemImageContainer" class="asset_image_container asset_image_container_w_h">
                <img width="auto" height="100%" [src]='itemImg' alt="">
            </div>
            <div id="itemNameContainer" class="article-info">
                <div class="article-num">{{articleCode}} </div>
                <h2 md-subheader class="article-name">{{articleName}}</h2>
            </div>
        </div>

        <!-- <app-sectionlayout [propertydata]="propertyViewData"></app-sectionlayout> -->
        <!-- <div *ngFor="let data of propertyViewData" id="propertiesAllOptionContainer">
            <div class="properties-label"
                *ngIf="(data.fieldId!='article_image' && data.fieldId!='article_code'&& data.fieldId!='article_name')">
                <app-wfxlabel class="form-control-plaintext" [itemJsonDef]="itemJsonDef[2]"
                    [sectionJsonData]="{Label:data.caption}">
                </app-wfxlabel>
            </div>
            <div class="properties-data"
                *ngIf="data.caption!=='Image' && data.caption!=='Article Code'&& data.caption!=='Article Name'">
                <div
                    *ngIf="data.controlType == 'DropDown' || data.controlType == 'Text' || data.controlType == 'TextArea'
            || data.controlType == 'Price' || data.controlType == 'TextEditor' || data.controlType == 'Drop Down List'">
                    <app-wfxlabel [itemJsonDef]="itemJsonDef[3]" [sectionJsonData]="{labelValue:data.value}">
                    </app-wfxlabel>
                </div>
                <div *ngIf="data.controlType == 'CheckBox' && data.value == true">
                    <svg width="12" height="12" viewBox="0 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Canvas" fill="none">
                            <g id="Path 5">
                                <path d="M 0 1.56275L 1.20863 2.77137L 3.98 0" stroke-linecap="round"
                                    transform="translate(4 4.70001)" stroke="url(#paint0_linear)" />
                            </g>
                            <g id="Oval 4">
                                <path
                                    d="M 5 10C 7.76142 10 10 7.76142 10 5C 10 2.23858 7.76142 0 5 0C 2.23858 0 0 2.23858 0 5C 0 7.76142 2.23858 10 5 10Z"
                                    transform="translate(1 1)" stroke="url(#paint1_linear)" />
                            </g>
                        </g>
                        <defs>

                            <linearGradient id="paint0_linear" x2="1" gradientUnits="userSpaceOnUse"
                                gradientTransform="matrix(0 -2.50104 3.88109 0 1.99 2.49391)">
                                <stop stop-color="#4DB4F0" />
                                <stop offset="1" stop-color="#50D7F8" />
                            </linearGradient>
                            <linearGradient id="paint1_linear" x2="1" gradientUnits="userSpaceOnUse"
                                gradientTransform="matrix(0 -9.75148 9.75148 0 5 9.72364)">
                                <stop stop-color="#4DB4F0" />
                                <stop offset="1" stop-color="#50D7F8" />
                            </linearGradient>

                        </defs>
                    </svg>
                </div>
                <div *ngIf="data.controlType == 'CheckBox' && data.value == false">
                    <svg width="12" height="12" viewBox="0 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Canvas" fill="none">
                            <g id="Path 5.1">
                                <path d="M 0 1.56275L 1.20863 2.77137L 3.98 0" stroke-linecap="round"
                                    transform="translate(4 4.70001)" stroke="#D2D2D2" />
                            </g>
                            <g id="Oval 4.1">
                                <path
                                    d="M 5 10C 7.76142 10 10 7.76142 10 5C 10 2.23858 7.76142 0 5 0C 2.23858 0 0 2.23858 0 5C 0 7.76142 2.23858 10 5 10Z"
                                    transform="translate(1 1)" stroke="#D2D2D2" />
                            </g>
                        </g>
                    </svg>
                </div>
                <div *ngIf="data.controlType == 'Date'">
                    <app-timeago [jsonData]="{date: data.value}"></app-timeago>
                </div>
                <div *ngIf="data.controlType == 'Avatar'">
                    <app-avatar [jsonDef]="avatarDef" [jsonData]="avatarData(data.value)">
                    </app-avatar>
                </div>
            </div>
        </div> -->




        <mat-grid-list cols="2" rowHeight="30px" *ngFor="let data of propertyViewData" id="propertiesAllOptionContainer">

            <mat-grid-tile class="properties-label" *ngIf="(data.fieldId!='article_image' && data.fieldId!='article_code'&& data.fieldId!='article_name')">
                <app-wfxlabel class="form-control-plaintext" [itemJsonDef]="itemJsonDef[2]" [sectionJsonData]="{Label:data.caption}">
                </app-wfxlabel>
            </mat-grid-tile>

            <mat-grid-tile class="properties-data" *ngIf="data.caption!=='Image' && data.caption!=='Article Code'&& data.caption!=='Article Name'">
                <div *ngIf="data.controlType == 'DropDown' || data.controlType == 'Text' || data.controlType == 'TextArea'
                || data.controlType == 'Price' || data.controlType == 'TextEditor' || data.controlType == 'Drop Down List'">
                    <app-wfxlabel [itemJsonDef]="itemJsonDef[3]" [sectionJsonData]="{labelValue:data.value}">
                    </app-wfxlabel>
                </div>
                <div *ngIf="data.controlType == 'CheckBox' && data.value == true">
                    <svg width="12" height="12" viewBox="0 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Canvas" fill="none">
                            <g id="Path 5">
                                <path d="M 0 1.56275L 1.20863 2.77137L 3.98 0" stroke-linecap="round"
                                    transform="translate(4 4.70001)" stroke="url(#paint0_linear)" />
                            </g>
                            <g id="Oval 4">
                                <path
                                    d="M 5 10C 7.76142 10 10 7.76142 10 5C 10 2.23858 7.76142 0 5 0C 2.23858 0 0 2.23858 0 5C 0 7.76142 2.23858 10 5 10Z"
                                    transform="translate(1 1)" stroke="url(#paint1_linear)" />
                            </g>
                        </g>
                        <defs>

                            <linearGradient id="paint0_linear" x2="1" gradientUnits="userSpaceOnUse"
                                gradientTransform="matrix(0 -2.50104 3.88109 0 1.99 2.49391)">
                                <stop stop-color="#4DB4F0" />
                                <stop offset="1" stop-color="#50D7F8" />
                            </linearGradient>
                            <linearGradient id="paint1_linear" x2="1" gradientUnits="userSpaceOnUse"
                                gradientTransform="matrix(0 -9.75148 9.75148 0 5 9.72364)">
                                <stop stop-color="#4DB4F0" />
                                <stop offset="1" stop-color="#50D7F8" />
                            </linearGradient>

                        </defs>
                    </svg>
                </div>
                <div *ngIf="data.controlType == 'CheckBox' && data.value == false">
                    <svg width="12" height="12" viewBox="0 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Canvas" fill="none">
                            <g id="Path 5.1">
                                <path d="M 0 1.56275L 1.20863 2.77137L 3.98 0" stroke-linecap="round"
                                    transform="translate(4 4.70001)" stroke="#D2D2D2" />
                            </g>
                            <g id="Oval 4.1">
                                <path
                                    d="M 5 10C 7.76142 10 10 7.76142 10 5C 10 2.23858 7.76142 0 5 0C 2.23858 0 0 2.23858 0 5C 0 7.76142 2.23858 10 5 10Z"
                                    transform="translate(1 1)" stroke="#D2D2D2" />
                            </g>
                        </g>
                    </svg>
                </div>
                <div *ngIf="data.controlType == 'Date'">
                    <app-timeago [jsonData]="{date: data.value}"></app-timeago>
                </div>
                <div *ngIf="data.controlType == 'Avatar'">
                    <app-avatar [jsonDef]="avatarDef" [jsonData]="avatarData(data.value)">
                    </app-avatar>
                </div>
            </mat-grid-tile>

        </mat-grid-list>


    </div>

    <div class="properties-color-Wrapper" [hidden]="!showColorSection">
        <app-wfxlabel [itemJsonDef]="itemJsonDef[0]" [sectionJsonData]="{labelValue:'Colors'}">
        </app-wfxlabel>
        <hr>
        <app-wfxcolorcard #colorcard [itemJsonData]="itemJsonData">
        </app-wfxcolorcard>
        <a id=ancShowMore style="float: right;" (click)="onShowMoreClick()" class="read_more">Show More</a>
        <a id=ancShowLess style="float: right;display: none;" (click)="onShowLessClick()" class="read_more">Show
            Less</a>

    </div>
</div>