<div class="titleBar select">
    <div class="titlebar-wrapper">
                <div class="title-name-container"> 
            <app-wfx-breadcrumb [arrBreadCrumb]=arrayBreadCrumb ></app-wfx-breadcrumb>
            <h2 class="titleName">{{titleName}}</h2>
        </div>        
        <div class="spacer"></div>
        <div class="right-tools">
            <app-wfx-toolbar ></app-wfx-toolbar>
        </div>
    </div>
    <div class="wfx-titlebar-tab">
        <app-wfxtab [itemJsonDef]=tabJsonDef (OnClick)="onTabViewChangeEvent($event)"></app-wfxtab>
    </div>
    <div class="add-button-wrapper" *ngIf="visible && itemGlobal.currentSelectedTab.Code === 'LIBRARY'">        
        <app-wfximagebutton #btn  (OnClick)="onAddButtonClick($event)" >
        </app-wfximagebutton>
    </div> 
</div>