<div (mouseover)="onMouseOverSearch()" (mouseleave)="onMouseLeaveSearch()" #quickSearch class="quick-search-container">
    <div  class="search-inputbox">
        <div class="quick-search">
            <input #search type="text" (change)="onTextSearch($event)"
                [placeholder]=placeholder value="" />
            <span class="quick-icon"><span class="accessibility">Search</span></span>
        </div>
        <a [style.display]="search.value=== '' ? 'none':'block'" (click)="search.value='';onTextSearch($event)"
            class="wfxselectoptiondelete">
            <svg class="search-close" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path id="+" transform="translate(13.0415 -13) rotate(45)" fill="#4A4A4A"
                    d="M7.62939 17.6738H12.9272V18.6748H7.62939V23.9482H6.62842V18.6748H1.35498V17.6738H6.62842V12.376H7.62939V17.6738Z" />
            </svg>
        </a>
    </div>
</div>