/* .breadcrumb {
    padding: 0px;
    margin-bottom: 0px;
    list-style: none;
    background-color: #ffffff !important;
    border-radius: 0px;
    line-height: 5px;
}

.breadcrumb a,
span {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 9px;
    color: #9B9B9B;
}

.breadcrumb a:focus,
span:focus {
    outline: 0px;
}

.breadcrumb a:hover {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 9px;
    color: #3CBBC9;
    text-decoration: none;
}

.breadcrumb svg {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 3px;
} */