<div>
    <ol class="breadcrumb">
        <li *ngFor="let breadCrumb of arrayBreadCrumb; let first = first; let i = index">
            <svg *ngIf='!first' width="4" height="6" viewBox="0 0 4 6" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Canvas" fill="none">
            <g id="Right Arrow" opacity="0.9">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M 2.97485 2.26776L 0.853516 0.14645C 0.658325 -0.0488167 0.341675 -0.0488167 0.146484 0.14645C -0.0488281 0.341702 -0.0488281 0.658291 0.146484 0.853542L 1.91431 2.62132L 0.146484 4.38908C -0.0488281 4.58435 -0.0488281 4.90094 0.146484 5.09619C 0.341675 5.29145 0.658325 5.29145 0.853516 5.09619L 2.97485 2.97486C 3.1698 2.77999 3.17017 2.46426 2.97595 2.2689C 2.97559 2.26852 2.97522 2.26814 2.97485 2.26776Z" transform="translate(0.328369 0.207108)" fill="url(#paint0_linear)"/>
            </g>
            </g>
            <defs>
            <linearGradient id="paint0_linear" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="matrix(0 -5.11235 3.04375 0 1.56066 5.09776)">
            <stop stop-color="#4DB4F0"/>
            <stop offset="1" stop-color="#50D7F8"/>
            </linearGradient>
            </defs>
            </svg>
            <a href="#" *ngIf="breadCrumb.isClickable==true" (click)="onClickBreadCrumb(breadCrumb)">
                {{breadCrumb.NodeName}}</a>
            <span *ngIf="breadCrumb.isClickable !==true" >{{breadCrumb.NodeName}}</span>
        </li>
    </ol>
    <!-- <ol>
        <li *ngFor="let breadCrumb of arrayBreadCrumb; let first = first; let i = index">
            <span >{{breadCrumb.NodeName}}</span>
        </li>
    </ol> -->
</div>