<!--The content below is only a placeholder and can be replaced.-->
<!-- <app-dashboard></app-dashboard> -->
<!-- <ul>
  <li>
    <a routerLink="/" [queryParams]="{guid:'536c5b2c-83f5-4bdb-8e92-d6ccd3ed168d', type:'myspace'}">MySpace</a>
  </li>
</ul> -->
<router-outlet></router-outlet>

