.spacer {
    flex: 1 1 auto;
}

 ::ng-deep .mat-simple-snackbar {
    display: block !important;
    font-family: Open Sans!important;
}

::ng-deep .mat-snack-bar-container {
    padding: 0px !important;
    max-width: inherit !important;
    min-width: inherit !important;
}

::ng-deep snack-bar-container.snackBar-Success {
    width: 258px;
    background: #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05), 0px 4px 4px rgba(0, 0, 0, 0.05), 0px 8px 8px rgba(0, 0, 0, 0.03), 0px 16px 16px rgba(0, 0, 0, 0.03), 0px 32px 32px rgba(0, 0, 0, 0.03), 0px 64px 64px rgba(0, 0, 0, 0.03);
    border-radius: 3px;
    font-family: Open Sans;
    font-size: 11px;
    color: #FFFFFF;
    text-align: center;
}

::ng-deep .snackBar-Success .msg-icon {
    width: 8%;
    line-height: 5px;
    vertical-align: middle;
    display: inline-block;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: left;
    padding: 25px 14px;
    border-radius: 3px 0px 0px 3px;
    background: linear-gradient(107.22deg, rgba(67, 206, 205, 1) -34.51%, rgba(31, 109, 183, 1) 109.91%);
}

 ::ng-deep .snackBar-Success .msgbox {
    font-family: Open Sans;
    white-space: normal;
    font-size: 11px;
    color: #4A4A4A;
    margin-top: 0px;
    text-align: left;
    line-height: 14px;
    overflow-y: scroll;
    margin-bottom: 0px;
    max-height: 43px;
    vertical-align: middle;
    display: inline-block;
    width: 70%;
    padding-left: 9px;
    margin-right: 5px;
    padding-right: 14px;
}

::ng-deep snack-bar-container.snackBar-Failure {
    width: 258px;
    background: #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05), 0px 4px 4px rgba(0, 0, 0, 0.05), 0px 8px 8px rgba(0, 0, 0, 0.03), 0px 16px 16px rgba(0, 0, 0, 0.03), 0px 32px 32px rgba(0, 0, 0, 0.03), 0px 64px 64px rgba(0, 0, 0, 0.03);
    border-radius: 3px;
    font-family: Open Sans;
    font-size: 11px;
    color: #FFFFFF;
    text-align: center;
}

::ng-deep .snackBar-Failure .msg-icon {
    width: 8%;
    line-height: 5px;
    vertical-align: middle;
    display: inline-block;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: left;
    padding: 25px 14px;
    border-radius: 3px 0px 0px 3px;
    background: linear-gradient(107.22deg, #ff9557 -34.51%, #e56666 109.91%);
}

::ng-deep .snackBar-Failure .msgbox {
    font-family: Open Sans;
    white-space: normal;
    font-size: 11px;
    color: #4A4A4A;
    margin-top: 0px;
    text-align: left;
    line-height: 14px;
    overflow-y: scroll;
    margin-bottom: 0px;
    max-height: 43px;
    vertical-align: middle;
    display: inline-block;
    width: 70%;
    padding-left: 9px;
    margin-right: 5px;
    padding-right: 14px;
}

 ::ng-deep .snackBar-Failure .widgetcont::-webkit-scrollbar-thumb {
    border-radius: 5.5px;
    background: #ffb691;
}

 ::ng-deep snack-bar-container.snackBar-Info {
    width: 258px;
    background: #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05), 0px 4px 4px rgba(0, 0, 0, 0.05), 0px 8px 8px rgba(0, 0, 0, 0.03), 0px 16px 16px rgba(0, 0, 0, 0.03), 0px 32px 32px rgba(0, 0, 0, 0.03), 0px 64px 64px rgba(0, 0, 0, 0.03);
    border-radius: 3px;
    font-family: Open Sans;
    font-size: 11px;
    color: #FFFFFF;
    text-align: center;
}

 ::ng-deep .snackBar-Info .msg-icon {
    width: 8%;
    line-height: 5px;
    vertical-align: middle;
    display: inline-block;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: left;
    padding: 25px 14px;
    border-radius: 3px 0px 0px 3px;
    background: linear-gradient(107.22deg, #FFEB3B -34.51%, #FFC107 109.91%);
}

 ::ng-deep .snackBar-Info .msgbox {
    font-family: Open Sans;
    white-space: normal;
    font-size: 11px;
    margin-top: 0px;
    color: #4A4A4A;
    text-align: left;
    line-height: 14px;
    overflow-y: scroll;
    margin-bottom: 0px;
    max-height: 43px;
    vertical-align: middle;
    display: inline-block;
    width: 70%;
    padding-left: 9px;
    margin-right: 5px;
    padding-right: 14px;
}

 ::ng-deep .snackBar-Info .msg-icon svg path {
    fill: #4A4A4A;
}

 ::ng-deep .snackBar-Info .widgetcont::-webkit-scrollbar-thumb {
    border-radius: 5.5px;
    background: #fde769;
}