            /*default focus disable start*/
            
             :focus {
                outline: -webkit-focus-ring-color auto 0px !important;
            }
            /*default focus disable end*/
            
            .spinnerDiv {
                position: fixed;
                z-index: 999;
                height: 2em;
                width: 2em;
                overflow: show;
                margin: auto;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
            }
            
            .spinnerDiv img {
                border: 0px;
                position: fixed;
                top: 0;
                bottom: 0;
                margin: auto;
                left: 0px;
                right: 0px;
            }
            
            .remove-icon {
                position: absolute !important;
                right: 6px !important;
                top: 6px !important;
                padding: 0px 6px !important;
                cursor: pointer !important;
            }
            
            .remove-icon svg path {
                stroke: transparent;
            }
            
            .remove-icon svg path {
                fill: #9b9b9b;
                transition: fill .1s ease-in-out .1s;
            }
            
            .remove-icon:hover svg path {
                fill: #4a4a4a !important;
            }
            
            .remove-icon:hover svg path {
                stroke: transparent;
            }
            /*selected class*/
            
            .selected {
                color: #3CBBC9;
            }
            /*selected class*/
            /*hyperlink svg bheviour*/
            
            a.wfx_viewOptionSelected svg path,
            a.wfx_viewOptionSelected svg rect,
            a.wfx_viewOptionSelected svg line {
                stroke: #3CBBC9;
            }
            
            a.wfx_viewOptionSelected:hover svg path,
            a.wfx_viewOptionSelected:hover svg rect,
            a.wfx_viewOptionSelected:hover svg line {
                stroke: #3CBBC9;
            }
            
            a:hover {
                cursor: pointer;
            }
            
            a:hover svg path,
            a:hover svg rect,
            a:hover svg line {
                stroke: #4a4a4a;
                cursor: pointer;
            }
            
            a svg path,
            a svg rect,
            a svg line {
                stroke: #9B9B9B;
                transition: stroke .1s ease-in-out .1s;
            }
            /*hyperlink svg bheviour end*/
            /*common scrollbar */
            
             ::-webkit-scrollbar {
                width: 7px;
                height: 7px;
                margin-right: 5px;
                padding-right: 5px;
            }
            
             ::-webkit-scrollbar-thumb {
                border-radius: 5.5px;
                background: #d6d6d6;
                right: 5px;
            }
            
             ::-webkit-scrollbar-corner {
                background: transparent;
                margin-bottom: 5px;
            }
            /*common scrollbar end */
            
            .card-inactive {
                opacity: .5px;
            }
            /*common checkbox start */
            
            .mat-checkbox-frame {
                border: 1px solid #D8D8D8 !important;
                box-sizing: border-box;
                border-radius: 2px;
                width: 13px;
                height: 13px;
                float: right;
            }
            
            .mat-checkbox-checked.mat-accent .mat-checkbox-background {
                background: #3cbbc9 !important;
                border: 1px solid #3cbbc9 !important;
                border-radius: 2px;
                width: 13px;
                height: 13px;
            }
            
            .mat-checkbox-checked.mat-accent .mat-checkbox-background svg path {
                stroke: #fff !important;
            }
            
            .mat-checkbox-ripple {
                opacity: 0 !important;
            }
            
            .mat-checkbox-inner-container {
                height: 13px !important;
                width: 13px !important;
            }
            /*common checkbox end */
            /*mat common input */
            
            .mat-form-field {
                width: 100%;
            }
            
            .mat-input-element {
                font-family: Open Sans !important;
                color: #4a4a4a !important;
                line-height: 12px !important;
            }
            
            .mat-form-field-underline {
                background: #e9e9e9 !important;
            }
            
            .mat-form-field-label {
                font-family: Open Sans !important;
                font-weight: normal !important;
                line-height: 15px !important;
            }
            
            .mat-form-field-label {
                color: #3cbbc9 !important;
            }
            
            .mat-form-field-empty {
                color: #9b9b9b !important;
            }
            
            .mat-form-field.mat-focused .mat-form-field-ripple {
                background-color: #f4f4f4;
                height: 1px;
                transition: none !important;
            }
            
            .sectionTextBoxDiv .mat-form-field-infix {
                padding-top: .3em;
            }
            /* mat common input end */
            /* mat textarea start */
            
            textarea.mat-input-element {
                padding: 2px 0 !important;
                margin-bottom: 0px !important;
                line-height: 15px !important;
                overflow: hidden !important;
            }
            /* mat textarea end */
            /* field error alert */
            
            .mat-error {
                color: #f44336;
                background-color: transparent;
                border-color: transparent;
                font-family: Open Sans;
                font-size: 9px;
                margin-top: 0px;
                line-height: 7px;
                height: 9px;
            }
            /* field error alert end */
            /* label start */
            
            .wfxlabeldiv {
                display: inline-block;
                margin-right: 20px;
            }
            
            .sectionLabelDiv {
                font-family: Open Sans;
                color: #4a4a4a;
            }
            /* label end */
            /*dropdown start*/
            
            .select-label {
                font-size: 13px;
                color: #4a4a4a;
                font-weight: normal;
                font-family: Open Sans;
                display: inline-block;
                margin-right: 5px;
                vertical-align: middle;
                height: 30px;
                line-height: 29px;
                margin-right: 20px;
            }
            
            .toolbar-container .mat-form-field-appearance-legacy .mat-form-field-underline {
                height: 0px;
            }
            
            .toolbar-container .mat-form-field.mat-focused .mat-form-field-ripple {
                height: 0px;
            }
            
            .toolbar-container .mat-form-field-appearance-legacy .mat-form-field-infix {
                padding: 0px;
                border-top: 0px;
            }
            
            .toolbar-container .mat-form-field-appearance-legacy .mat-form-field-wrapper {
                padding-bottom: 0px;
            }
            
            .toolbar-container .mat-select-arrow-wrapper {
                vertical-align: top;
            }
            
            .mat-select-value {
                color: #9b9b9b;
                font-family: Open Sans;
                line-height: 10px;
                transition: color .1s ease-in-out .1s;
            }
            
            .mat-select-value:hover {
                color: #4a4a4a;
                cursor: pointer;
            }
            
            .mat-option-text {
                color: #9b9b9b;
                transition: color .1s ease-in-out .1s;
            }
            
            .mat-pseudo-checkbox-disabled {
                color: #d6d6d6;
            }
            
            .mat-pseudo-checkbox-disabled .mat-option-text:hover {
                color: #d6d6d6;
            }
            
            .mat-option-text:hover {
                color: #4a4a4a;
            }
            
            .mat-selected .mat-option-text {
                color: #4a4a4a;
            }
            
            .mat-select-search-inner {
                border-bottom: 1px solid #f4f4f4 !important;
            }
            
            .mat-form-field-type-mat-select .mat-form-field-underline {
                bottom: 1.1em;
            }
            
            .mat-select-search-clear {
                width: 30px !important;
                height: 30px !important;
                line-height: 24px !important;
                color: #4a4a4a !important;
            }
            
            .mat-select-search-clear:hover {
                color: #3CBBC9 !important;
            }
            
            .mat-select-search-clear .material-icons {
                font-size: 13px;
            }
            
            .mat-card {
                padding: 0px;
                height: inherit;
                box-shadow: none;
            }
            
            .mat-card .container {
                padding: 0px;
            }
            
            .mat-select {
                font-family: Open Sans !important;
                font-style: normal;
                font-weight: normal;
                line-height: 14px;
                color: #4a4a4a;
            }
            
            .ag-popup>div:not(.ag-tooltip-custom) {
                box-shadow: transparent;
            }
            
            .mat-select-panel:not([class*=mat-elevation-z]) {
                background: #fff;
                border-radius: 2px;
                box-shadow: none;
                padding-right: 5px;
            }
            
            .mat-select-panel-wrap {
                background: #fff;
                padding-right: 5px;
                padding-right: 5px;
                box-shadow: 0 2px 2px rgba(0, 0, 0, .02), 0 4px 4px rgba(0, 0, 0, .02), 0 8px 8px rgba(0, 0, 0, .02), 0 16px 16px rgba(0, 0, 0, .02), 0 32px 32px rgba(0, 0, 0, .02), 0 64px 64px rgba(0, 0, 0, .02);
            }
            
            .mat-select-panel .mat-optgroup-label,
            .mat-select-panel .mat-option {
                font-size: 13px !important;
                font-weight: normal;
            }
            
            .mat-option {
                font-family: Open Sans;
                font-style: normal;
                font-weight: 300;
                font-size: 13px;
                color: #4a4a4a;
            }
            
            .mat-option:focus:not(.mat-option-disabled),
            .mat-option:hover:not(.mat-option-disabled) {
                background: #fbfbfb;
                color: #4a4a4a;
            }
            
            .mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
                background-color: #fff;
            }
            
            .mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple):hover {
                background-color: #fbfbfb;
                transition: background-color .1s ease-in-out .1s;
            }
            
            .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
                color: #4a4a4a;
                font-weight: 700;
            }
            
            .mat-primary .mat-option.mat-selected:not(.mat-option-disabled):hover {
                color: #4a4a4a;
                font-weight: 700;
            }
            
            .mat-select-panel .mat-select-search-inside-mat-option .mat-select-search-input {
                height: 3em !important;
            }
            
            .mat-pseudo-checkbox {
                border: 1px solid #d8d8d8 !important;
                border-radius: 1px !important;
                width: 13px !important;
                height: 13px !important;
            }
            
            .mat-primary .mat-pseudo-checkbox-checked,
            .mat-primary .mat-pseudo-checkbox-indeterminate {
                background: #3cbbc9 !important;
                border-radius: 1px !important;
                border: 1px solid #3cbbc9!important;
            }
            
            .mat-pseudo-checkbox-checked::after {
                top: 2px !important;
                left: 1px !important;
                width: 7px !important;
                height: 3px !important;
            }
            
            .check-option-delete {
                float: right;
                vertical-align: middle;
            }
            
            .check-option-delete:hover svg path {
                fill: #3CBBC9;
            }
            
            .savedsearch-icon {
                width: 14px !important;
                height: 14px !important;
                vertical-align: middle;
            }
            
            .mat-select-arrow {
                border-left: none !important;
                border-right: none !important;
                border-top: none !important;
                width: 6px !important;
                margin-top: 3px !important;
                height: 4px !important;
                content: "" !important;
                background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAECAYAAACtBE5DAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABvSURBVHgBAWQAm/8BTLbwZf0JBre3QQrkAAAAAE7P92X/BgLGBAQFA/ECA/+sScj2VAcIAFcABQNVAgYFtwEAAAAATcr2VgIEAYEBBwLxAgYGVK4lAeQAAAAAAAAAAABT1/tHUtv/HAAAAAAAAAAAQLIbkC0tYb4AAAAASUVORK5CYII=) no-repeat !important;
            }
            /*dropdown end */
            /*---profile pic Avatar Start --- */
            
            .avatar {
                border: 1px solid #FFFFFF;
                border-radius: 50%;
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05), 0px 4px 4px rgba(0, 0, 0, 0.05), 0px 8px 8px rgba(0, 0, 0, 0.05), 0px 16px 16px rgba(0, 0, 0, 0.05);
                background-color: #ffffff;
                position: relative;
                overflow: hidden;
                width: 40px;
                height: 40px;
            }
            
            .mat-card-avatar {
                height: auto;
                width: auto;
                max-width: 100%;
                min-width: 100%;
                min-height: 100%;
                -o-object-fit: cover;
                object-fit: cover;
                position: absolute;
                top: -100%;
                left: -100%;
                right: -100%;
                bottom: -100%;
                margin: auto;
                display: block;
            }
            /*---profile picavtar end --- */
            /*--Like section Start-- */
            
            .like {
                width: 28px;
            }
            
            .like a {
                font-family: Open Sans;
                font-style: normal;
                font-weight: normal;
                line-height: 14px;
                font-size: 11px;
                color: #9B9B9B;
                display: inline-block;
                margin-right: 5px;
                vertical-align: top;
            }
            
            .like a:hover {
                color: #4a4a4a;
            }
            
            .likeColor {
                fill: #43CECD;
            }
            
            .svgLike svg path {
                fill: #3cbbc9;
                stroke: #3cbbc9;
            }
            
            .svgLike svg:hover path {
                stroke: #3cbbc9 !important;
            }
            
            .likeColor:hover #stroke {
                stroke: #43CECD;
            }
            
            .like svg {
                width: 16px;
                cursor: pointer;
            }
            
            .like svg path {
                transition: stroke .1s ease-in-out .1s;
            }
            
            .like svg:hover path {
                stroke: #4a4a4a;
            }
            
            .likesCount {
                font: 500 11px Open Sans;
                font-size: 11px;
                color: #4A4A4A;
                margin: 0px;
                margin-bottom: 18px;
            }
            /*--Like section end-- */
            /*--SAVE section START-- */
            
            .sectionPopupTitleDiv {
                font-size: 30px;
                font-weight: 300;
                color: #4a4a4a;
                font-family: Open Sans;
            }
            
            .save-search-textbox {
                margin-top: 30px;
            }
            
            .save-search-bottom {
                margin-top: 30px;
            }
            
            .cancel-button {
                font-family: Open Sans;
                font-size: 13px;
                text-align: left;
                margin: auto;
                color: #9B9B9B;
                cursor: pointer;
                float: left;
            }
            
            .save-button {
                font-family: Open Sans;
                font-size: 13px;
                text-align: right;
                margin: 0 auto;
                color: #3CBBC9;
                cursor: pointer;
                float: right;
            }
            /*--SAVE section END-- */
            /*--bookmark start-- */
            
            .bookmark-stroke-color svg:hover path {
                stroke: #3CBBC9;
            }
            
            .bookmark-stroke-color svg:hover {
                cursor: pointer;
            }
            /*--bookmark end-- */
            /*---range slider start --- */
            
            .mat-slider {
                padding: 0px !important;
            }
            
            .mat-slider-thumb {
                position: absolute;
                right: -17px !important;
                bottom: -17px !important;
                box-sizing: border-box;
                width: 34px !important;
                height: 34px !important;
                border: 3px solid transparent;
                border-radius: 50%;
                transform: scale(.4) !important;
                background: linear-gradient(135deg, #00D1CD 0%, #0096C4 100%);
                box-shadow: 0px 16px 16px rgba(9, 58, 87, 0.05), 0px 32px 32px rgba(9, 58, 87, 0.05), 0px 16px 16px rgba(20, 249, 255, 0.1);
                transition: transform .4s cubic-bezier(.25, .8, .25, 1), background-color .4s cubic-bezier(.25, .8, .25, 1), border-color .4s cubic-bezier(.25, .8, .25, 1);
            }
            
            .mat-slider-horizontal .mat-slider-wrapper {
                top: 15px !important;
            }
            
            .mat-slider-horizontal .mat-slider-track-wrapper {
                height: 2px !important;
            }
            
            .mat-slider-horizontal .mat-slider-track-background {
                height: 2px !important;
            }
            
            .mat-slider-horizontal .mat-slider-ticks {
                height: 2px !important;
            }
            
            .mat-slider-horizontal .mat-slider-ticks-container {
                height: 2px !important;
            }
            
            .mat-slider-horizontal .mat-slider-track-fill {
                height: 3px !important;
                background-color: #EFEFEF !important;
            }
            
            .cdk-focused .mat-slider-track-background,
            .mat-slider:hover .mat-slider-track-background {
                background-color: #EFEFEF;
            }
            
            .mat-slider-track-background {
                background-color: #EFEFEF !important;
            }
            /*---range slider end --- */
            /*--mat card start  -- */
            /* .ui-selecting {
                background: rgba(60, 187, 201, 0.14204);
                border: 1px solid #3CBBC9;
            } */
            
            .loader {
                position: fixed;
                width: 100%;
                /* Set your desired with */
                z-index: 99999;
                /* Make sure its above other items. */
                bottom: 0px;
                left: 50%;
                margin-bottom: 20px;
            }
            
            .wfx_card:hover .card_header .show {
                opacity: 1;
            }
            
            .wfx_card .card_header .show {
                opacity: 0;
                -webkit-transition: opacity .2s ease;
                -o-transition: opacity .2s ease;
                transition: opacity .2s ease;
            }
            
            .wfx_card:hover .card-checkbox {
                opacity: .8;
            }
            
            .wfx_card .card-checkbox:hover {
                opacity: 1;
            }
            
            .wfx_card:hover .card_image_container {
                background-color: #000;
            }
            
            .wfx_card .card_image {
                -webkit-transition: opacity .2s ease;
                -o-transition: opacity .2s ease;
                transition: opacity .2s ease;
            }
            
            .wfx_card:hover .card_image {
                opacity: .3;
            }
            
            .wfx_card:hover .more-opt .show {
                opacity: 1;
            }
            
            .wfx_card .more-opt .show {
                opacity: 0;
                -webkit-transition: opacity .2s ease;
                -o-transition: opacity .2s ease;
                transition: opacity .2s ease;
            }
            
            .selected_cardimage_container {
                background-color: #000;
            }
            
            .selected_cardimage {
                opacity: .3;
                -webkit-transition: opacity .2s ease;
                -o-transition: opacity .2s ease;
                transition: opacity .2s ease;
            }
            
            .wfx_card:hover .more-opt .show {
                opacity: 1;
            }
            
            .wfx_card .more-opt .show {
                opacity: 0;
                -webkit-transition: opacity .2s ease;
                -o-transition: opacity .2s ease;
                transition: opacity .2s ease;
            }
            
            .card-selected {
                border: 1px solid #3cbbc9 !important;
                border-radius: 5px !important;
                box-shadow: 0 4px 14px 3px rgba(66, 204, 204, 0.39), 0 4px 4px 0 rgba(0, 0, 0, 0.05), 0 2px 2px 0 rgba(0, 0, 0, 0.05) !important;
                border-radius: 3px;
            }
            
            .wfx_card {
                border: 1px solid transparent;
            }
            
            .selected_cardimage_container {
                background-color: #000;
            }
            
            .selected_cardimage {
                opacity: .3;
                -webkit-transition: opacity .2s ease;
                -o-transition: opacity .2s ease;
                transition: opacity .2s ease;
            }
            
            .card-style {
                background: #FFFFFF !important;
                box-shadow: 0 64px 64px 0 rgba(0, 0, 0, 0.02), 0 32px 32px 0 rgba(0, 0, 0, 0.02), 0 16px 16px 0 rgba(0, 0, 0, 0.02), 0 8px 8px 0 rgba(0, 0, 0, 0.02), 0 4px 4px 0 rgba(0, 0, 0, 0.02), 0 2px 2px 0 rgba(0, 0, 0, 0.02) !important;
                border-radius: 3px !important;
            }
            
            .mat-card>.mat-card-actions:last-child {
                margin-bottom: 0px !important;
            }
            
            li.card-style {
                display: block;
                float: left;
                margin-right: 20px;
                margin-bottom: 10px;
                margin-top: 10px;
            }
            
            .mat-card {
                height: inherit !important;
                box-shadow: none !important;
                padding: 0px !important;
            }
            
            .card-style:hover {
                box-shadow: 0 4px 14px 3px rgba(66, 204, 204, 0.39), 0 4px 4px 0 rgba(0, 0, 0, 0.05), 0 2px 2px 0 rgba(0, 0, 0, 0.05) !important;
                border-radius: 4px !important;
            }
            
            .mat-card-title {
                font-family: Open Sans;
                font-style: normal;
                widows: 91px;
                font-weight: normal;
                line-height: normal;
                font-size: 11px !important;
                color: #4A4A4A;
                text-align: left;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-left: 5px;
                margin-bottom: 7px;
                margin-top: -3px;
            }
            
            .mat-card-subtitle {
                font-family: Open Sans;
                font-size: 12px;
                font-style: normal;
                font-weight: normal;
                line-height: normal;
                text-align: left;
                color: #4A4A4A;
                margin-left: 5px;
                overflow: hidden;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 134px;
                margin-bottom: 0px !important;
                text-transform: uppercase;
            }
            
            .mat-card-header .mat-card-title {
                margin-bottom: 7px !important;
            }
            
            .mat-card-content {
                overflow: hidden;
                white-space: nowrap;
                font-style: normal;
                font-weight: normal;
                line-height: normal;
                font-family: Open Sans;
                text-align: left;
                margin-left: 5px;
                margin-bottom: 0px !important;
                color: #6b6969;
                text-overflow: ellipsis;
                font-size: 11px !important;
                width: 135px;
            }
            
            .mat-card-no-image {
                height: 40PX !important;
                width: 40PX !important;
                max-width: 50% !important;
                min-height: 50% !important;
                object-fit: contain !important;
            }
            
            .mat-card-image {
                margin: 0px !important;
                position: relative !important;
            }
            
            .mat-card-image:first-child {
                margin-top: 0px !important;
            }
            
            .card-footer {
                padding-top: 0px !important;
                padding-right: 0px !important;
                border-top: 0px solid #F3F3F3 !important;
                padding-bottom: 5px;
            }
            
            .card_header {
                padding: 16px 0px !important;
                padding-bottom: 10px !important;
                margin-top: 0px;
            }
            
            .mat-card-header-text {
                margin: 0 8px !important;
            }
            
            .mat-card-actions {
                margin-left: 0px !important;
                margin-right: 0px !important;
                padding: 0px 15px !important;
                padding-bottom: 0px !important;
            }
            
            .card_image {
                object-fit: cover;
                position: absolute;
                top: -100%;
                left: -100%;
                right: -100%;
                bottom: -100%;
                margin: auto;
                display: block;
                outline: 0px;
                border: 0px;
            }
            
            .card_image_w_h {
                width: 100%;
                height: 100%;
            }
            
            .card_image_container {
                text-align: center;
                border-bottom: 1px solid #F3F3F3;
                overflow: hidden;
                border-top-left-radius: 3px !important;
                border-top-right-radius: 3px !important;
                width: 100% !important;
            }
            
            .card_image_container:hover {
                cursor: pointer;
            }
            
            .productLifeCycleStage {
                display: inline-block;
                font-family: Open Sans;
                font-style: normal;
                height: 14px;
                font-weight: normal;
                line-height: normal;
                font-size: 11px;
                color: #4a4a4a;
                width: 70%;
                text-align: left;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            
            .product-life-cycle-circle-icon {
                border-radius: 50%;
                width: 12px;
                height: 12px;
                border: 1px solid #e9e9e9;
                overflow: hidden;
                float: left;
                position: relative;
            }
            
            .product-life-cycle-circle-icon img {
                height: auto;
                width: auto;
                max-width: 100%;
                min-width: 100%;
                min-height: 100%;
                -o-object-fit: cover;
                object-fit: cover;
                position: absolute;
                top: -100%;
                left: -100%;
                right: -100%;
                bottom: -100%;
                margin: auto;
                display: block;
            }
            
            .bookmark-stroke-color svg path {
                stroke: #3cbbc9;
            }
            
            .overlay {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                height: 100%;
                width: 100%;
                opacity: 0;
                transition: .3s ease;
                background: rgba(0, 0, 0, 0.5);
            }
            
            .wfx_card:hover .overlay,
            .wfx_card:hover .show {
                opacity: 1;
            }
            
            .wfx_card .like {
                float: right;
                text-align: right;
            }
            
            .eye-icon {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                text-align: center;
                padding: 14px;
                background: #FFFFFF;
                mix-blend-mode: normal;
                opacity: 0;
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.02), 0px 4px 4px rgba(0, 0, 0, 0.02), 0px 8px 8px rgba(0, 0, 0, 0.02), 0px 16px 16px rgba(0, 0, 0, 0.02), 0px 32px 32px rgba(0, 0, 0, 0.02);
                border-radius: 3px;
            }
            
            .eye-icon:hover {
                cursor: pointer;
            }
            
            .eye-icon:hover svg path {
                stroke: #4a4a4a;
            }
            
            .wfx_card:hover .mat-card-actions .show {
                opacity: 1;
                margin-left: 5px;
                float: left;
                line-height: 15px;
            }
            
            .wfx_card .mat-card-actions .show {
                margin-left: 5px;
                opacity: 0;
            }
            
            .more-opt {
                float: right;
                position: absolute;
                top: 10px;
                right: 0px;
                z-index: 999;
                cursor: pointer;
                opacity: 0;
            }
            
            .extended-menu-icon {
                vertical-align: middle;
                line-height: 0px;
                padding: 10px
            }
            
            .wfx_card .card-checkbox {
                position: absolute;
                left: 5px;
                top: 5px;
                z-index: 99;
                opacity: 0;
            }
            
            .wfx_card:hover .card-checkbox {
                opacity: .8;
            }
            
            .wfx_card .card-checkbox:hover {
                opacity: 1;
            }
            
            .wfx_card .mat-checkbox-frame {
                border: 1px solid #fff !important;
                box-sizing: border-box;
                border-radius: 50% !important;
                width: 20px;
                height: 20px;
                margin: auto;
                float: right;
            }
            
            .wfx_card .mat-checkbox {
                opacity: .8;
            }
            
            .wfx_card .mat-checkbox:hover {
                opacity: 1;
            }
            
            .wfx_card .mat-checkbox-checked.mat-accent .mat-checkbox-background {
                background: #3cbbc9 !important;
                border: 1px solid #3cbbc9 !important;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                margin: auto;
            }
            
            .wfx_card .mat-checkbox-checkmark {
                top: 1px;
                left: 1px;
                right: 0;
                bottom: 0;
                position: absolute;
                width: 100%;
            }
            
            .wfx_card .mat-checkbox-background {
                border-radius: 50%;
                height: 20px;
                width: 20px;
                margin: auto;
            }
            
            .wfx_card .mat-checkbox-background svg {
                height: 16px;
                width: 16px;
            }
            
            .wfx_card .mat-checkbox-inner-container {
                height: 20px !important;
                width: 20px !important;
                padding: 5px;
            }
            
            .extended-menu-icon svg path {
                stroke: transparent;
                opacity: .8;
            }
            
            .extended-menu-icon:hover svg path {
                stroke: transparent;
                opacity: 1;
            }
            /*-- mat Card section End -- */
            
            .hasSubMenu:before {
                content: "" !important;
                float: right;
                background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSI4IiB2aWV3Qm94PSIwIDAgOCA4IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIG9wYWNpdHk9IjAuOSIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0zLjg4OTA4IDAuMzUzNTUzQzMuNjkzODEgMC4xNTgyOTEgMy4zNzcyMyAwLjE1ODI5MSAzLjE4MTk3IDAuMzUzNTUzTDMuMDA1MTkgMC41MzAzM0MyLjgwOTkzIDAuNzI1NTkyIDIuODA5OTMgMS4wNDIxNyAzLjAwNTE5IDEuMjM3NDRMNS4zMDMyOSAzLjUzNTUzTDMuMDA1MTkgNS44MzM2M0MyLjgwOTkzIDYuMDI4ODkgMi44MDk5MyA2LjM0NTQ4IDMuMDA1MTkgNi41NDA3NEwzLjE4MTk3IDYuNzE3NTFDMy4zNzcyMyA2LjkxMjc4IDMuNjkzODEgNi45MTI3OCAzLjg4OTA4IDYuNzE3NTFMNi41NDA3MyA0LjA2NTg2TDYuNzE3NSAzLjg4OTA5QzYuOTEyNzcgMy42OTM4MyA2LjkxMjc2IDMuMzc3MjQgNi43MTc1IDMuMTgxOThMNi41NDA3MyAzLjAwNTJMMy44ODkwOCAwLjM1MzU1M1oiIGZpbGw9IiM5QjlCOUIiLz48L3N2Zz4=);
                background-repeat: no-repeat;
                background-position: 5px 10px;
                height: 20px;
                width: 12px;
                display: block;
            }
            
            .dropdown {
                -moz-user-select: none;
                /* Firefox */
                -ms-user-select: none;
                /* Internet Explorer */
                -khtml-user-select: none;
                /* KHTML browsers (e.g. Konqueror) */
                -webkit-user-select: none;
                /* Chrome, Safari, and Opera */
                -webkit-touch-callout: none;
                /* Disable Android and iOS callouts*/
            }
            
            .dropdown-menu li:hover .hasSubMenu:before {
                content: "" !important;
                float: right;
                background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSI4IiB2aWV3Qm94PSIwIDAgOCA4IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIG9wYWNpdHk9IjAuOSIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0zLjg4OTA4IDAuMzUzNTUzQzMuNjkzODEgMC4xNTgyOTEgMy4zNzcyMyAwLjE1ODI5MSAzLjE4MTk3IDAuMzUzNTUzTDMuMDA1MTkgMC41MzAzM0MyLjgwOTkzIDAuNzI1NTkyIDIuODA5OTMgMS4wNDIxNyAzLjAwNTE5IDEuMjM3NDRMNS4zMDMyOSAzLjUzNTUzTDMuMDA1MTkgNS44MzM2M0MyLjgwOTkzIDYuMDI4ODkgMi44MDk5MyA2LjM0NTQ4IDMuMDA1MTkgNi41NDA3NEwzLjE4MTk3IDYuNzE3NTFDMy4zNzcyMyA2LjkxMjc4IDMuNjkzODEgNi45MTI3OCAzLjg4OTA4IDYuNzE3NTFMNi41NDA3MyA0LjA2NTg2TDYuNzE3NSAzLjg4OTA5QzYuOTEyNzcgMy42OTM4MyA2LjkxMjc2IDMuMzc3MjQgNi43MTc1IDMuMTgxOThMNi41NDA3MyAzLjAwNTJMMy44ODkwOCAwLjM1MzU1M1oiIGZpbGw9IiM0QTRBNEEiLz48L3N2Zz4=);
                background-repeat: no-repeat;
                background-position: 5px 10px;
                height: 20px;
                width: 12px;
                display: block;
            }
            
            .dropdown {
                background: #fff;
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.02), 0px 4px 4px rgba(0, 0, 0, 0.02), 0px 8px 8px rgba(0, 0, 0, 0.02), 0px 16px 16px rgba(0, 0, 0, 0.02), 0px 32px 32px rgba(0, 0, 0, 0.02), 0px 64px 64px rgba(0, 0, 0, 0.02);
                border-radius: 2px;
                padding: 5px 0px;
                border: 0px solid;
            }
            
            .dropdown-menu {
                border: 0px solid;
                padding: 0px;
                margin: 0px;
            }
            
            .dropdown-menu li a {
                font-family: Open Sans;
                font-style: normal;
                font-weight: normal;
                line-height: 27px;
                font-size: 13px;
                padding-right: 10px;
                color: #9b9b9b;
                text-decoration: none;
            }
            
            .dropdown-menu li {
                padding: 4px 15px;
                list-style: none;
            }
            
            .dropdown-menu li:hover {
                background: #FBFBFB;
            }
            
            .dropdown-menu li:hover a {
                color: #4a4a4a !important;
                text-decoration: none;
            }
            
            .dropdown-divider {
                height: 0;
                margin: 0px;
                overflow: hidden;
                border-top: 0px solid #e9ecef;
            }
            
            .dropdown ul:focus {
                outline: 0px;
            }
            
            .dropdown li a:focus {
                outline: 0px;
                background-color: transparent;
            }
            
            .dropdown li a:focus,
            .dropdown li a:hover {
                text-decoration: none;
                background-color: #FBFBFB;
            }
            
            .dropdown li a.active {
                color: #4a4a4a !important;
                text-decoration: none;
                font-weight: bold;
                background-color: #FBFBFB;
            }
            /* Add Button Starts */
            
            .add-button-wrapper {
                position: absolute;
                right: 50px;
                bottom: -25px;
                z-index: 999;
            }
            
            .add-folder {
                background: linear-gradient(130.38deg, #43CECD 14.73%, #1F6DB7 151.29%);
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.02), 0px 4px 4px rgba(0, 0, 0, 0.02), 0px 8px 8px rgba(0, 0, 0, 0.02), 0px 16px 16px rgba(0, 0, 0, 0.02), 0px 32px 32px rgba(0, 0, 0, 0.02), 0px 64px 64px rgba(0, 0, 0, 0.02);
                border-radius: 50%;
                border: none;
                cursor: pointer;
                width: 50px;
                height: 50px;
                float: right;
                transition: box-shadow .2s ease-in-out .2s;
            }
            
            .add-folder::after {
                content: "";
                display: block;
                width: 45px;
                height: 45px;
                background-repeat: no-repeat;
                background-position: 59% 59%;
                background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTciIGhlaWdodD0iMTciIHZpZXdCb3g9IjAgMCAxNyAxNyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTguNSAwQzguMDkxNzkgMCA3Ljc2MDg3IDAuMzMwOTIgNy43NjA4NyAwLjczOTEzVjcuNzYwODdIMC43MzkxM0MwLjMzMDkyIDcuNzYwODcgMCA4LjA5MTc5IDAgOC41QzAgOC45MDgyMSAwLjMzMDkyIDkuMjM5MTMgMC43MzkxMyA5LjIzOTEzSDcuNzYwODdWMTYuMjYwOUM3Ljc2MDg3IDE2LjY2OTEgOC4wOTE3OSAxNyA4LjUgMTdDOC45MDgyMSAxNyA5LjIzOTEzIDE2LjY2OTEgOS4yMzkxMyAxNi4yNjA5VjkuMjM5MTNIMTYuMjYwOUMxNi42NjkxIDkuMjM5MTMgMTcgOC45MDgyMSAxNyA4LjVDMTcgOC4wOTE3OSAxNi42NjkxIDcuNzYwODcgMTYuMjYwOSA3Ljc2MDg3SDkuMjM5MTNWMC43MzkxM0M5LjIzOTEzIDAuMzMwOTIgOC45MDgyMSAwIDguNSAwWiIgZmlsbD0id2hpdGUiLz48L3N2Zz4=);
            }
            
            .add-folder:hover {
                background: linear-gradient(130.38deg, #43CECD 14.73%, #1F6DB7 151.29%);
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05), 0px 4px 4px rgba(0, 0, 0, 0.05), 0px 4px 14px rgba(66, 204, 204, 0.38853);
                border-radius: 50%;
            }
            
             :host ::ng-deep .add-folder:focus {
                background: linear-gradient(130.38deg, #43CECD 14.73%, #1F6DB7 151.29%);
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05), 0px 4px 4px rgba(0, 0, 0, 0.05), 0px 8px 35px rgba(66, 204, 204, 0.38853);
                border-radius: 50%;
                outline: none;
            }
            /* Add Button Ends */
            /*-----------------------------------------------Comment section Start --------------------------------- */
            
            .comment-icon-container {
                padding-right: 0px;
                display: inline-block;
            }
            
            .comment-icon-container a {
                font-family: Open Sans;
                font-style: normal;
                font-weight: normal;
                line-height: 14px;
                font-size: 11px;
                color: #9B9B9B;
                display: inline-block;
                margin-right: 3px;
                vertical-align: top;
            }
            
            .comment-icon-container svg:hover {
                cursor: pointer;
            }
            
            .comment-icon-container svg:hover path {
                stroke: #3CBBC9;
            }
            /*-----------------------------------------------Comment section End --------------------------------- */
            /*-----------------------------------------------chip start --------------------------------- */
            
            .mat-chip {
                font-size: 11px;
                line-height: 18px;
            }
            
            .filterchip-Wrapper {
                display: -webkit-box;
                display: flex;
                flex-wrap: wrap;
                position: relative;
                -webkit-box-flex: 0;
                flex: 0 0 100%;
                max-width: 100%;
                padding: 0px 50px;
            }
            
            .chip-list {
                WIDTH: 100%;
            }
            
            .chip-list .mat-form-field-underline {
                width: 0px
            }
            
            .chip-list .mat-form-field-infix {
                padding: 0px;
                border-top: 0px;
                text-align: right;
            }
            
            .chip-list .mat-form-field-wrapper {
                padding-bottom: .5em;
                padding-top: 0px;
            }
            
            .chip-list .chiplist-data {
                list-style: none;
                display: inline-flex;
                padding-left: 10px;
                padding-bottom: 0px;
                margin: 0px;
                font-family: Open Sans;
                font-size: 10px;
                font-weight: bold;
                color: #4A4A4A;
            }
            
            .chip-list .mat-chip-list-wrapper {
                display: inline;
            }
            
            .chip-list .mat-chip:not(.mat-basic-chip) {
                background: #FFFFFF;
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.02), 0px 4px 4px rgba(0, 0, 0, 0.02), 0px 8px 8px rgba(0, 0, 0, 0.02), 0px 16px 16px rgba(0, 0, 0, 0.02), 0px 32px 32px rgba(0, 0, 0, 0.02), 0px 64px 64px rgba(0, 0, 0, 0.02);
                border-radius: 2px;
                padding: 5px 14px;
            }
            
            .chip-list .mat-chip:not(.mat-basic-chip):focus {
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05), 0px 4px 4px rgba(0, 0, 0, 0.05), 0px 8px 35px rgba(66, 204, 204, 0.38853);
            }
            
            .chip-list .mat-chip:not(.mat-basic-chip):hover {
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.04), 0px 4px 4px rgba(0, 0, 0, 0.04), 0px 8px 8px rgba(0, 0, 0, 0.04), 0px 16px 16px rgba(0, 0, 0, 0.04), 0px 32px 32px rgba(0, 0, 0, 0.04), 0px 64px 64px rgba(0, 0, 0, 0.04);
            }
            
            .chip-list .filter-type {
                font-family: Open Sans;
                font-size: 11px;
                color: #9b9b9b;
            }
            
            .chip-list .filter-type {
                cursor: pointer;
            }
            
            .mat-chip:hover {
                cursor: pointer;
            }
            
            .mat-chip-with-trailing-icon {
                cursor: default;
            }
            
            .mat-chip-with-trailing-icon:hover {
                cursor: default;
            }
            
            .mat-chip:hover .filter-type {
                color: #4a4a4a;
            }
            
            .mat-chip:hover .sectionLabelDiv {
                color: #9b9b9b;
            }
            
            .chip-list .mat-chip:not(.mat-basic-chip) .mat-chip-remove {
                opacity: 1;
                margin-right: -7px;
                line-height: 22px;
                text-align: center;
                vertical-align: middle;
                display: inline-block;
            }
            
            .chip-list .mat-chip:not(.mat-basic-chip) .mat-chip-remove .save {
                line-height: 22px;
                text-align: center;
                vertical-align: middle;
            }
            
            .chip-list .mat-chip:not(.mat-basic-chip) .mat-chip-remove svg {
                width: 10px;
                height: 10px;
            }
            
            .mat-chip.mat-standard-chip:not(.mat-chip-disabled) .mat-chip-remove:hover {
                opacity: 1;
            }
            
            .chip-list .mat-chip:not(.mat-basic-chip) .mat-chip-remove svg path {
                fill: #9b9b9b;
            }
            
            .chip-list .mat-chip:not(.mat-basic-chip):hover .mat-chip-remove svg path {
                fill: #4a4a4a;
            }
            
            .chip-list .mat-chip:not(.mat-basic-chip) .mat-chip-remove:hover svg path {
                fill: #4a4a4a;
            }
            /*-----------------------------------------------chip ends --------------------------------- */
            /*-----------------------------------------------message count icon --------------------------------- */
            
            .message-count-Wrapper {
                display: inline-block;
                padding: 16px 0px;
            }
            
            .message-count-Wrapper svg {
                height: 22px !important;
                margin-top: 3px;
            }
            
            .message-count-Wrapper .message-count {
                font-size: 11px;
                border-radius: 100px;
                background: #3CBBC9;
                color: #fff;
                padding: 1px 10px 2px;
                margin: 0px 0px 0px 2px;
                display: inline-block;
                vertical-align: top;
            }
            /*-----------------------------------------------message count icon ends--------------------------------- */
            
            .grid-Wrapper {
                padding: 0px 50px;
            }