<div class="select">     

        <app-wfxpopupheader [itemJsonDef]="wfxLabelJsonDef"  [(sectionJsonData)]="wfxLabeljsonData"></app-wfxpopupheader>

    <!-- <app-wfxlabel  [itemJsonDef]="wfxLabelJsonDef" 
     [(sectionJsonData)]="wfxLabeljsonData"></app-wfxlabel> -->
 </div>
 

<div style="margin-top:30px" class="select">
 <app-wfxtextbox  [sectionJsonData]="wfxTextJsonData" #search [itemJsonDef]="wfxTextJsonDef" (OnChange)="onTextSearch($event)"  (OnChange)="onTextSearch($event)"></app-wfxtextbox>
</div>

 <div class="row button-bottom select" style="margin-top:50px">         
        <div class="cancel-button">
            <a (click)="onClearClick()">Cancel</a>
        </div>
        <div class="save-button">
            <a (click)="onSaveClick()">Save</a>
        </div>              
       </div>

<div style="margin-top:100px;color: red;" *ngIf="errormsgtxt" class="select">       
        <app-wfxlabel [itemJsonDef]="wfxLabelJsonDef" 
        [sectionJsonData]="{Label: 'Name Already Exist'}"></app-wfxlabel>
</div>
